schema/cpp.abi.xsd

<xs:schema targetNamespace="cpp.abi" xmlns="cpp.abi" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="AbiSchemaTypeValue">
<xs:all><xs:element ref="Abi"/></xs:all></xs:complexType>

<xs:complexType name="AbiSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Abi" type="AbiSchemaType"/>
</xs:schema>
