schema/empty.xsd

<xs:schema targetNamespace="empty" xmlns="empty" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:bindx="bindx"
xmlns:motion-actuators="motion.actuators"
xmlns:flash-ui="flash.ui"
xmlns:org-aswing-event="org.aswing.event"
xmlns:org-aswing-plaf-basic-background="org.aswing.plaf.basic.background"
xmlns:flash="flash"
xmlns:flash-display3D-textures="flash.display3D.textures"
xmlns:jive="jive"
xmlns:org-aswing-resizer="org.aswing.resizer"
xmlns:org-aswing-util="org.aswing.util"
xmlns:org-aswing-table="org.aswing.table"
xmlns:org-aswing-plaf-basic-splitpane="org.aswing.plaf.basic.splitpane"
xmlns:flash-errors="flash.errors"
xmlns:org-aswing-plaf-basic-border="org.aswing.plaf.basic.border"
xmlns:org-aswing-table-sorter="org.aswing.table.sorter"
xmlns:flash-display3D="flash.display3D"
xmlns:org-aswing-plaf-basic="org.aswing.plaf.basic"
xmlns:org-aswing-plaf-basic-frame="org.aswing.plaf.basic.frame"
xmlns:flash-system="flash.system"
xmlns:flash-media="flash.media"
xmlns:motion="motion"
xmlns:org-aswing-plaf-basic-adjuster="org.aswing.plaf.basic.adjuster"
xmlns:org-aswing="org.aswing"
xmlns:flash-text="flash.text"
xmlns:motion-_Actuate="motion._Actuate"
xmlns:org-aswing-geom="org.aswing.geom"
xmlns:flash-net="flash.net"
xmlns:org-aswing-error="org.aswing.error"
xmlns:flash-utils="flash.utils"
xmlns:flash-external="flash.external"
xmlns:haxe-ds-_ObjectMap="haxe.ds._ObjectMap"
xmlns:org-aswing-plaf-basic-tabbedpane="org.aswing.plaf.basic.tabbedpane"
xmlns:jive-plaf-flat="jive.plaf.flat"
xmlns:org-aswing-dnd="org.aswing.dnd"
xmlns:flash-filters="flash.filters"
xmlns:org-aswing-plaf-basic-tree="org.aswing.plaf.basic.tree"
xmlns:org-aswing-border="org.aswing.border"
xmlns:haxe-ds="haxe.ds"
xmlns:flash-_Boot="flash._Boot"
xmlns:flash-geom="flash.geom"
xmlns:org-aswing-plaf-basic-icon="org.aswing.plaf.basic.icon"
xmlns:org-aswing-plaf="org.aswing.plaf"
xmlns:flash-display="flash.display"
xmlns:motion-easing="motion.easing"
xmlns:org-aswing-colorchooser="org.aswing.colorchooser"
xmlns:haxe="haxe"
xmlns:org-aswing-graphics="org.aswing.graphics"
xmlns:org-aswing-ext="org.aswing.ext"
xmlns:org-aswing-plaf-basic-accordion="org.aswing.plaf.basic.accordion"
xmlns:jive-plaf-flat-background="jive.plaf.flat.background"
xmlns:org-aswing-tree="org.aswing.tree"
xmlns:flash-xml="flash.xml"
xmlns:flash-events="flash.events"
xmlns:org-aswing-plaf-basic-cursor="org.aswing.plaf.basic.cursor"
xmlns:flash-accessibility="flash.accessibility"
>
<xs:import namespace="bindx" schemaLocation="bindx.xsd" />
<xs:import namespace="motion.actuators" schemaLocation="motion.actuators.xsd" />
<xs:import namespace="flash.ui" schemaLocation="flash.ui.xsd" />
<xs:import namespace="org.aswing.event" schemaLocation="org.aswing.event.xsd" />
<xs:import namespace="org.aswing.plaf.basic.background" schemaLocation="org.aswing.plaf.basic.background.xsd" />
<xs:import namespace="flash" schemaLocation="flash.xsd" />
<xs:import namespace="flash.display3D.textures" schemaLocation="flash.display3D.textures.xsd" />
<xs:import namespace="jive" schemaLocation="jive.xsd" />
<xs:import namespace="org.aswing.resizer" schemaLocation="org.aswing.resizer.xsd" />
<xs:import namespace="org.aswing.util" schemaLocation="org.aswing.util.xsd" />
<xs:import namespace="org.aswing.table" schemaLocation="org.aswing.table.xsd" />
<xs:import namespace="org.aswing.plaf.basic.splitpane" schemaLocation="org.aswing.plaf.basic.splitpane.xsd" />
<xs:import namespace="flash.errors" schemaLocation="flash.errors.xsd" />
<xs:import namespace="org.aswing.plaf.basic.border" schemaLocation="org.aswing.plaf.basic.border.xsd" />
<xs:import namespace="org.aswing.table.sorter" schemaLocation="org.aswing.table.sorter.xsd" />
<xs:import namespace="flash.display3D" schemaLocation="flash.display3D.xsd" />
<xs:import namespace="org.aswing.plaf.basic" schemaLocation="org.aswing.plaf.basic.xsd" />
<xs:import namespace="org.aswing.plaf.basic.frame" schemaLocation="org.aswing.plaf.basic.frame.xsd" />
<xs:import namespace="flash.system" schemaLocation="flash.system.xsd" />
<xs:import namespace="flash.media" schemaLocation="flash.media.xsd" />
<xs:import namespace="motion" schemaLocation="motion.xsd" />
<xs:import namespace="org.aswing.plaf.basic.adjuster" schemaLocation="org.aswing.plaf.basic.adjuster.xsd" />
<xs:import namespace="org.aswing" schemaLocation="org.aswing.xsd" />
<xs:import namespace="flash.text" schemaLocation="flash.text.xsd" />
<xs:import namespace="motion._Actuate" schemaLocation="motion._Actuate.xsd" />
<xs:import namespace="org.aswing.geom" schemaLocation="org.aswing.geom.xsd" />
<xs:import namespace="flash.net" schemaLocation="flash.net.xsd" />
<xs:import namespace="org.aswing.error" schemaLocation="org.aswing.error.xsd" />
<xs:import namespace="flash.utils" schemaLocation="flash.utils.xsd" />
<xs:import namespace="flash.external" schemaLocation="flash.external.xsd" />
<xs:import namespace="haxe.ds._ObjectMap" schemaLocation="haxe.ds._ObjectMap.xsd" />
<xs:import namespace="org.aswing.plaf.basic.tabbedpane" schemaLocation="org.aswing.plaf.basic.tabbedpane.xsd" />
<xs:import namespace="jive.plaf.flat" schemaLocation="jive.plaf.flat.xsd" />
<xs:import namespace="org.aswing.dnd" schemaLocation="org.aswing.dnd.xsd" />
<xs:import namespace="flash.filters" schemaLocation="flash.filters.xsd" />
<xs:import namespace="org.aswing.plaf.basic.tree" schemaLocation="org.aswing.plaf.basic.tree.xsd" />
<xs:import namespace="org.aswing.border" schemaLocation="org.aswing.border.xsd" />
<xs:import namespace="haxe.ds" schemaLocation="haxe.ds.xsd" />
<xs:import namespace="flash._Boot" schemaLocation="flash._Boot.xsd" />
<xs:import namespace="flash.geom" schemaLocation="flash.geom.xsd" />
<xs:import namespace="org.aswing.plaf.basic.icon" schemaLocation="org.aswing.plaf.basic.icon.xsd" />
<xs:import namespace="org.aswing.plaf" schemaLocation="org.aswing.plaf.xsd" />
<xs:import namespace="flash.display" schemaLocation="flash.display.xsd" />
<xs:import namespace="motion.easing" schemaLocation="motion.easing.xsd" />
<xs:import namespace="org.aswing.colorchooser" schemaLocation="org.aswing.colorchooser.xsd" />
<xs:import namespace="haxe" schemaLocation="haxe.xsd" />
<xs:import namespace="org.aswing.graphics" schemaLocation="org.aswing.graphics.xsd" />
<xs:import namespace="org.aswing.ext" schemaLocation="org.aswing.ext.xsd" />
<xs:import namespace="org.aswing.plaf.basic.accordion" schemaLocation="org.aswing.plaf.basic.accordion.xsd" />
<xs:import namespace="jive.plaf.flat.background" schemaLocation="jive.plaf.flat.background.xsd" />
<xs:import namespace="org.aswing.tree" schemaLocation="org.aswing.tree.xsd" />
<xs:import namespace="flash.xml" schemaLocation="flash.xml.xsd" />
<xs:import namespace="flash.events" schemaLocation="flash.events.xsd" />
<xs:import namespace="org.aswing.plaf.basic.cursor" schemaLocation="org.aswing.plaf.basic.cursor.xsd" />
<xs:import namespace="flash.accessibility" schemaLocation="flash.accessibility.xsd" />
<xs:complexType name="UIntSchemaTypeValue">
<xs:all><xs:element ref="UInt"/></xs:all></xs:complexType>

<xs:complexType name="TypeSchemaTypeValue">
<xs:all><xs:element ref="Type"/></xs:all></xs:complexType>

<xs:complexType name="BoolSchemaTypeValue">
<xs:all><xs:element ref="Bool"/></xs:all></xs:complexType>

<xs:complexType name="ArrayAccessSchemaTypeValue">
<xs:all><xs:element ref="ArrayAccess"/></xs:all></xs:complexType>

<xs:complexType name="StringSchemaTypeValue">
<xs:all><xs:element ref="String"/></xs:all></xs:complexType>

<xs:complexType name="StdSchemaTypeValue">
<xs:all><xs:element ref="Std"/></xs:all></xs:complexType>

<xs:complexType name="IMapSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing:UIDefaults" />
<xs:element ref="haxe-ds:IntMap" />
<xs:element ref="haxe-ds:StringMap" />
<xs:element ref="haxe-ds:ObjectMap" />
</xs:choice>
</xs:complexType>

<xs:complexType name="IntSchemaTypeValue">
<xs:all><xs:element ref="Int"/></xs:all></xs:complexType>

<xs:complexType name="RootObjectTypeSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf:ColorSwatchesUI" />
<xs:element ref="org-aswing-border:EmptyBorder" />
<xs:element ref="org-aswing-plaf-basic-background:ProgressBarBackground" />
<xs:element ref="org-aswing:Decorator" />
<xs:element ref="org-aswing-tree:TreePathMap" />
<xs:element ref="motion-easing:LinearEaseNone" />
<xs:element ref="org-aswing:DefaultComboBoxCellEditor" />
<xs:element ref="org-aswing-plaf-basic-border:TextAreaBorder" />
<xs:element ref="flash-display3D-textures:TextureBase" />
<xs:element ref="org-aswing-colorchooser:NoColorIcon" />
<xs:element ref="flash-display:Graphics" />
<xs:element ref="org-aswing:JList" />
<xs:element ref="org-aswing:JAccordion" />
<xs:element ref="motion-actuators:PropertyPathDetails" />
<xs:element ref="org-aswing:FocusManager" />
<xs:element ref="haxe:EnumValueTools" />
<xs:element ref="org-aswing-plaf-basic-background:ProgressBarIcon" />
<xs:element ref="org-aswing-event:MovedEvent" />
<xs:element ref="org-aswing-resizer:ResizeStrategy" />
<xs:element ref="org-aswing-plaf-basic:BasicAdjusterUI" />
<xs:element ref="haxe:Timer" />
<xs:element ref="org-aswing-util:WeakMap" />
<xs:element ref="org-aswing:CursorManager" />
<xs:element ref="flash-display:Shape" />
<xs:element ref="org-aswing:JTextComponent" />
<xs:element ref="flash-geom:Vector3D" />
<xs:element ref="org-aswing-dnd:DropMotion" />
<xs:element ref="org-aswing-event:InteractiveEvent" />
<xs:element ref="org-aswing-plaf-basic-tree:BasicExpandControl" />
<xs:element ref="org-aswing-util:Impulser" />
<xs:element ref="org-aswing-plaf-basic:BasicTableUI" />
<xs:element ref="org-aswing:SoftBoxLayout" />
<xs:element ref="org-aswing:EmptyFont" />
<xs:element ref="flash-filters:GlowFilter" />
<xs:element ref="org-aswing-geom:IntDimension" />
<xs:element ref="org-aswing-plaf-basic:BasicTextAreaUI" />
<xs:element ref="haxe-ds:StringMap" />
<xs:element ref="org-aswing-graphics:IBrush" />
<xs:element ref="org-aswing-event:TreeEvent" />
<xs:element ref="org-aswing-tree:TreeCell" />
<xs:element ref="org-aswing-ext:GridList" />
<xs:element ref="flash-media:Camera" />
<xs:element ref="flash-display:MovieClip" />
<xs:element ref="org-aswing-plaf-basic:BasicProgressBarUI" />
<xs:element ref="motion-easing:Expo" />
<xs:element ref="motion-actuators:PropertyDetails" />
<xs:element ref="org-aswing-plaf:EmptyLayoutUIResourse" />
<xs:element ref="Type" />
<xs:element ref="flash-xml:XML" />
<xs:element ref="motion:LinearPath" />
<xs:element ref="org-aswing-plaf-basic:BasicScrollBarUI" />
<xs:element ref="flash-events:ErrorEvent" />
<xs:element ref="flash-ui:ContextMenuBuiltInItems" />
<xs:element ref="org-aswing:Cell" />
<xs:element ref="org-aswing-colorchooser:PreviewColorIcon" />
<xs:element ref="org-aswing-tree:EmptySelectionModel" />
<xs:element ref="org-aswing-plaf-basic-splitpane:DividerIcon" />
<xs:element ref="flash-media:StageVideo" />
<xs:element ref="org-aswing:JToolBar" />
<xs:element ref="org-aswing:MutableListModel" />
<xs:element ref="org-aswing:SimpleButtonIconToggle" />
<xs:element ref="org-aswing:GroundDecorator" />
<xs:element ref="org-aswing-plaf-basic-background:ListBackground" />
<xs:element ref="org-aswing-plaf-basic-icon:TitleIcon" />
<xs:element ref="org-aswing-plaf-basic:BasicToolTipUI" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:TabBackground" />
<xs:element ref="org-aswing-resizer:ResizerController" />
<xs:element ref="org-aswing-tree:PathPlaceHolder" />
<xs:element ref="org-aswing:SingleSelectionModel" />
<xs:element ref="org-aswing:AbstractButton" />
<xs:element ref="org-aswing:JTree" />
<xs:element ref="jive:DataContextControllable" />
<xs:element ref="org-aswing-ext:DateLabel" />
<xs:element ref="org-aswing-plaf-basic:BasicToggleButtonUI" />
<xs:element ref="org-aswing-plaf-basic:BasicCheckBoxUI" />
<xs:element ref="org-aswing:ASColor" />
<xs:element ref="org-aswing-plaf-basic-border:ProgressBarBorder" />
<xs:element ref="org-aswing-util:WeakReference" />
<xs:element ref="org-aswing-plaf-basic:BasicToolBarUI" />
<xs:element ref="org-aswing-plaf-basic-cursor:V_ResizeCursor" />
<xs:element ref="org-aswing-border:DecorateBorder" />
<xs:element ref="org-aswing:Component" />
<xs:element ref="flash-geom:ColorTransform" />
<xs:element ref="org-aswing:JLayeredPane" />
<xs:element ref="org-aswing-plaf-basic-icon:ArrowIcon" />
<xs:element ref="org-aswing-tree:AbstractLayoutCache" />
<xs:element ref="org-aswing-dnd:RejectedMotion" />
<xs:element ref="org-aswing-ext:DefaultGridCell" />
<xs:element ref="org-aswing-table:GeneralTableCellFactoryUIResource" />
<xs:element ref="flash-net:URLRequestHeader" />
<xs:element ref="flash-display:FrameLabel" />
<xs:element ref="flash-events:IOErrorEvent" />
<xs:element ref="org-aswing-ext:Folder" />
<xs:element ref="org-aswing-plaf-basic:BasicMenuItemUI" />
<xs:element ref="org-aswing-colorchooser:ColorRectIcon" />
<xs:element ref="org-aswing-plaf-basic:BasicFrameTitleBarUI" />
<xs:element ref="org-aswing-plaf:ComponentUI" />
<xs:element ref="org-aswing:DefaultComboBoxListCellFactory" />
<xs:element ref="org-aswing-tree:TreeCellEditor" />
<xs:element ref="org-aswing-table-sorter:Row" />
<xs:element ref="org-aswing:JMenuBar" />
<xs:element ref="org-aswing-util:DepthManager" />
<xs:element ref="flash-net:NetStreamPlayOptions" />
<xs:element ref="org-aswing:ASFont" />
<xs:element ref="org-aswing-plaf:DefaultsDecorator" />
<xs:element ref="org-aswing:KeyAction" />
<xs:element ref="org-aswing:SoftBox" />
<xs:element ref="org-aswing:WeightBoxLayout" />
<xs:element ref="flash-display:Shader" />
<xs:element ref="motion:Actuate" />
<xs:element ref="motion-easing:BackEaseIn" />
<xs:element ref="org-aswing:JLabelButton" />
<xs:element ref="org-aswing-plaf-basic-icon:CheckBoxMenuItemCheckIcon" />
<xs:element ref="org-aswing-table:DefaultTextCell" />
<xs:element ref="org-aswing-plaf:AdjusterUI" />
<xs:element ref="org-aswing:EmptyIcon" />
<xs:element ref="org-aswing:JWindow" />
<xs:element ref="org-aswing-plaf-basic:BasicScrollPaneUI" />
<xs:element ref="org-aswing-plaf-basic-icon:MenuItemCheckIcon" />
<xs:element ref="org-aswing-tree:TreeSelectionModel" />
<xs:element ref="flash-ui:ContextMenu" />
<xs:element ref="org-aswing-tree:NodeDimensions" />
<xs:element ref="motion-easing:ExpoEaseOut" />
<xs:element ref="org-aswing:JButton" />
<xs:element ref="flash-geom:PerspectiveProjection" />
<xs:element ref="org-aswing:AbstractCellEditor" />
<xs:element ref="org-aswing-table:TableColumnModel" />
<xs:element ref="org-aswing-plaf-basic-border:TableHeaderCellBorder" />
<xs:element ref="org-aswing-table:Resizable3" />
<xs:element ref="org-aswing-event:TreeModelEvent" />
<xs:element ref="org-aswing-event:PopupEvent" />
<xs:element ref="org-aswing-util:ObjectUtils" />
<xs:element ref="flash-events:IEventDispatcher" />
<xs:element ref="org-aswing-plaf-basic:BasicClosableTabbedPaneUI" />
<xs:element ref="flash-geom:Rectangle" />
<xs:element ref="org-aswing:StyleResult" />
<xs:element ref="org-aswing-graphics:Pen" />
<xs:element ref="motion-actuators:TransformActuator" />
<xs:element ref="org-aswing-plaf-basic-cursor:H_ResizeCursor" />
<xs:element ref="org-aswing:EditableComponent" />
<xs:element ref="org-aswing-tree:RowMapper" />
<xs:element ref="org-aswing-ext:DateChooser" />
<xs:element ref="org-aswing-plaf-basic-background:FrameBackground" />
<xs:element ref="org-aswing:JLabel" />
<xs:element ref="org-aswing:WindowLayout" />
<xs:element ref="org-aswing-plaf-basic-background:ComboBoxBackground" />
<xs:element ref="org-aswing-tree:TreePath" />
<xs:element ref="org-aswing:JTable" />
<xs:element ref="org-aswing:SolidBackground" />
<xs:element ref="org-aswing-plaf:TreeUI" />
<xs:element ref="org-aswing-error:AsWingManagerNotInited" />
<xs:element ref="org-aswing-plaf-basic-background:TextComponentBackBround" />
<xs:element ref="org-aswing:ASFontAdvProperties" />
<xs:element ref="ArrayAccess" />
<xs:element ref="flash-utils:IDataOutput" />
<xs:element ref="org-aswing-util:List" />
<xs:element ref="org-aswing-event:TableModelEvent" />
<xs:element ref="motion:MotionPath" />
<xs:element ref="org-aswing:VectorListModel" />
<xs:element ref="org-aswing:Insets" />
<xs:element ref="motion-_Actuate:TransformOptions" />
<xs:element ref="org-aswing-tree:DefaultTreeCell" />
<xs:element ref="org-aswing-event:DragAndDropEvent" />
<xs:element ref="org-aswing-event:CellEditorListener" />
<xs:element ref="org-aswing-plaf-basic-background:InputBackground" />
<xs:element ref="org-aswing:JPanel" />
<xs:element ref="org-aswing:DefaultNumberTextFieldCellEditor" />
<xs:element ref="motion-actuators:SimpleActuator" />
<xs:element ref="org-aswing-border:SimpleTitledBorder" />
<xs:element ref="org-aswing:JClosableTabbedPane" />
<xs:element ref="org-aswing-ext:FormRow" />
<xs:element ref="org-aswing-plaf-basic:BasicSplitPaneUI" />
<xs:element ref="org-aswing-tree:FixedHeightLayoutCache" />
<xs:element ref="flash-display:Stage3D" />
<xs:element ref="motion-_Actuate:TweenTimer" />
<xs:element ref="motion:BezierPath" />
<xs:element ref="org-aswing-plaf-basic:BasicTabbedPaneUI" />
<xs:element ref="String" />
<xs:element ref="haxe:EnumTools" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:ClosableTab" />
<xs:element ref="bindx:IBindable" />
<xs:element ref="flash-media:AVSource" />
<xs:element ref="Std" />
<xs:element ref="flash-display:DisplayObject" />
<xs:element ref="flash-external:ExternalInterface" />
<xs:element ref="org-aswing:DefaultBoundedRangeModel" />
<xs:element ref="org-aswing-plaf:UIStyleTune" />
<xs:element ref="org-aswing-event:ReleaseEvent" />
<xs:element ref="org-aswing-plaf-basic-background:PanelBackground" />
<xs:element ref="flash:Vector" />
<xs:element ref="org-aswing:KeySequence" />
<xs:element ref="org-aswing-plaf-basic:BasicTextFieldUI" />
<xs:element ref="org-aswing-colorchooser:DefaultColorSelectionModel" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameMaximizeIcon" />
<xs:element ref="flash-ui:ContextMenuClipboardItems" />
<xs:element ref="org-aswing:DefaultListCellFactory" />
<xs:element ref="org-aswing-plaf-basic:BasicPanelUI" />
<xs:element ref="org-aswing:AsWingUtils" />
<xs:element ref="org-aswing-plaf:ASColorUIResource" />
<xs:element ref="org-aswing-dnd:DraggingImage" />
<xs:element ref="org-aswing-event:ScrollPaneEvent" />
<xs:element ref="org-aswing-plaf-basic-background:ScrollBarThumb" />
<xs:element ref="org-aswing-event:TabCloseEvent" />
<xs:element ref="org-aswing-plaf:FrameUI" />
<xs:element ref="flash-media:MicrophoneEnhancedOptions" />
<xs:element ref="flash-net:NetStream" />
<xs:element ref="flash-net:URLRequest" />
<xs:element ref="org-aswing:DefaultButtonModel" />
<xs:element ref="flash-display3D:Program3D" />
<xs:element ref="flash-events:KeyboardEvent" />
<xs:element ref="motion-easing:Linear" />
<xs:element ref="jive-plaf-flat:FlatLookAndFeel" />
<xs:element ref="org-aswing:ListSelectionModel" />
<xs:element ref="org-aswing-table:TableCellFactory" />
<xs:element ref="flash-ui:MouseCursorData" />
<xs:element ref="org-aswing:Viewportable" />
<xs:element ref="org-aswing:JScrollBar" />
<xs:element ref="org-aswing:ButtonGroup" />
<xs:element ref="org-aswing-plaf-basic:BasicGraphicsUtils" />
<xs:element ref="org-aswing-table:SelectablePoorTextCell" />
<xs:element ref="org-aswing-table-sorter:Arrow" />
<xs:element ref="bindx:Bind" />
<xs:element ref="flash-filters:DropShadowFilter" />
<xs:element ref="org-aswing:JComboBox" />
<xs:element ref="org-aswing-table:Resizable3Imp1" />
<xs:element ref="org-aswing-table:DefaultTableModel" />
<xs:element ref="org-aswing:JFrameTitleBar" />
<xs:element ref="org-aswing-plaf-basic-background:ToolTipBackground" />
<xs:element ref="org-aswing-util:HashMap" />
<xs:element ref="flash-display:IGraphicsData" />
<xs:element ref="flash-filters:BitmapFilter" />
<xs:element ref="org-aswing:JCheckBoxMenuItem" />
<xs:element ref="org-aswing-event:ClickCountEvent" />
<xs:element ref="flash-media:SoundTransform" />
<xs:element ref="org-aswing-plaf-basic-adjuster:PopupSliderUI" />
<xs:element ref="org-aswing-util:DateAs" />
<xs:element ref="org-aswing-table:DefaultTextHeaderCell" />
<xs:element ref="org-aswing-plaf-basic-icon:SliderThumbIcon" />
<xs:element ref="org-aswing:JLoadPane" />
<xs:element ref="org-aswing:AssetIcon" />
<xs:element ref="flash-display:Sprite" />
<xs:element ref="motion-actuators:FilterActuator" />
<xs:element ref="org-aswing-ext:DateGridLayout" />
<xs:element ref="flash-text:StyleSheet" />
<xs:element ref="org-aswing-geom:IntRectangle" />
<xs:element ref="flash-filters:ColorMatrixFilter" />
<xs:element ref="org-aswing-plaf-basic-icon:CheckBoxIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:ScrollBarArrowIcon" />
<xs:element ref="org-aswing:FrameTitleBarLayout" />
<xs:element ref="org-aswing:RepaintManager" />
<xs:element ref="flash-display:IBitmapDrawable" />
<xs:element ref="flash-display:Stage" />
<xs:element ref="org-aswing-util:Timer" />
<xs:element ref="org-aswing-event:ModelEvent" />
<xs:element ref="org-aswing-plaf-basic:BasicFrameUI" />
<xs:element ref="flash-display3D-textures:Texture" />
<xs:element ref="org-aswing-util:StringUtils" />
<xs:element ref="flash-display:Loader" />
<xs:element ref="org-aswing:JMenuItem" />
<xs:element ref="org-aswing-graphics:BitmapBrush" />
<xs:element ref="org-aswing-tree:GeneralTreeCellFactoryUIResource" />
<xs:element ref="flash-display3D:VertexBuffer3D" />
<xs:element ref="org-aswing-plaf-basic:BasicColorMixerUI" />
<xs:element ref="motion-easing:IEasing" />
<xs:element ref="org-aswing:DefaultListSelectionModel" />
<xs:element ref="org-aswing-colorchooser:JColorMixer" />
<xs:element ref="org-aswing-event:WindowEvent" />
<xs:element ref="org-aswing-plaf-basic:BasicSliderUI" />
<xs:element ref="org-aswing-tree:DefaultTreeModel" />
<xs:element ref="org-aswing-event:ExpandVetoException" />
<xs:element ref="org-aswing:Border" />
<xs:element ref="motion-_Actuate:EffectsOptions" />
<xs:element ref="org-aswing-event:ToolTipEvent" />
<xs:element ref="org-aswing-plaf-basic-icon:SolidArrowIcon" />
<xs:element ref="flash-utils:Namespace" />
<xs:element ref="org-aswing-util:AbstractImpulser" />
<xs:element ref="org-aswing-util:Reflection" />
<xs:element ref="org-aswing-tree:TreeModel" />
<xs:element ref="org-aswing-util:ArrayList" />
<xs:element ref="org-aswing:ListCellFactory" />
<xs:element ref="org-aswing:GridLayout" />
<xs:element ref="org-aswing-event:AttachEvent" />
<xs:element ref="flash-display:LoaderInfo" />
<xs:element ref="org-aswing:FlowWrapLayout" />
<xs:element ref="org-aswing-plaf-basic-accordion:BasicAccordionHeader" />
<xs:element ref="org-aswing-tree:SearchInfo" />
<xs:element ref="flash-media:AVPlayState" />
<xs:element ref="org-aswing:JSlider" />
<xs:element ref="org-aswing-plaf-basic-border:TextComponentBorder" />
<xs:element ref="org-aswing-event:TableCellEditEvent" />
<xs:element ref="org-aswing-plaf-basic-cursor:HV_ResizeCursor" />
<xs:element ref="org-aswing:LoadIcon" />
<xs:element ref="org-aswing-tree:TreeLeafIcon" />
<xs:element ref="org-aswing:DefaultSingleSelectionModel" />
<xs:element ref="org-aswing:KeyStroke" />
<xs:element ref="org-aswing:AsWingManager" />
<xs:element ref="org-aswing-event:TreeSelectionEvent" />
<xs:element ref="org-aswing-table-sorter:Directive" />
<xs:element ref="org-aswing-border:SideLineBorder" />
<xs:element ref="org-aswing-event:FocusKeyEvent" />
<xs:element ref="motion-actuators:IGenericActuator" />
<xs:element ref="org-aswing-plaf-basic-background:ButtonBackground" />
<xs:element ref="org-aswing-resizer:DefaultResizer" />
<xs:element ref="org-aswing:ListCell" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameIconifiedIcon" />
<xs:element ref="org-aswing-tree:MutableTreeNode" />
<xs:element ref="org-aswing-table:PoorTextCell" />
<xs:element ref="flash:Lib" />
<xs:element ref="org-aswing-table:Resizable2" />
<xs:element ref="flash-geom:Transform" />
<xs:element ref="org-aswing:KeyMap" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:BasicClosableTabbedPaneTab" />
<xs:element ref="org-aswing-plaf-basic-icon:MenuItemArrowIcon" />
<xs:element ref="org-aswing-tree:DefaultTreeSelectionModel" />
<xs:element ref="motion-easing:BackEaseOut" />
<xs:element ref="org-aswing:AbstractTabbedPane" />
<xs:element ref="flash-utils:RegExp" />
<xs:element ref="org-aswing-table:Resizable2Imp1" />
<xs:element ref="motion-easing:ExpoEaseInOut" />
<xs:element ref="org-aswing:MultipleAssetIcon" />
<xs:element ref="org-aswing-plaf:TableUI" />
<xs:element ref="flash-utils:IDataOutput2" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:Tab" />
<xs:element ref="org-aswing:LookAndFeel" />
<xs:element ref="org-aswing:AssetBackground" />
<xs:element ref="org-aswing:DefaultComboBoxEditor" />
<xs:element ref="flash-media:Microphone" />
<xs:element ref="motion-easing:Back" />
<xs:element ref="org-aswing-colorchooser:ColorSelectionModel" />
<xs:element ref="org-aswing-plaf-basic:BasicComboBoxUI" />
<xs:element ref="flash-net:NetConnection" />
<xs:element ref="org-aswing:DefaultCheckBoxCellEditor" />
<xs:element ref="org-aswing:SimpleButtonIcon" />
<xs:element ref="org-aswing-plaf-basic:BasicRadioButtonUI" />
<xs:element ref="org-aswing-table:TableCellEditor" />
<xs:element ref="org-aswing-plaf-basic-border:ComboBoxPopupBorder" />
<xs:element ref="org-aswing-border:CaveBorder" />
<xs:element ref="org-aswing:JViewport" />
<xs:element ref="org-aswing:BoxLayout" />
<xs:element ref="org-aswing-ext:GridListLayout" />
<xs:element ref="org-aswing:ToggleButtonModel" />
<xs:element ref="org-aswing-plaf-basic:BasicColorChooserUI" />
<xs:element ref="flash-ui:Mouse" />
<xs:element ref="org-aswing-plaf-basic:BasicTreeUI" />
<xs:element ref="flash-display:BitmapData" />
<xs:element ref="flash-geom:Matrix" />
<xs:element ref="org-aswing:CellPane" />
<xs:element ref="org-aswing:JSharedToolTip" />
<xs:element ref="org-aswing-plaf:ASFontUIResource" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:CloseIcon" />
<xs:element ref="org-aswing:JTextField" />
<xs:element ref="flash-geom:Point" />
<xs:element ref="org-aswing:SimpleButton" />
<xs:element ref="org-aswing:DefaultTextFieldCellEditor" />
<xs:element ref="org-aswing:JRadioButton" />
<xs:element ref="org-aswing:JPopupMenu" />
<xs:element ref="org-aswing:ViewportLayout" />
<xs:element ref="org-aswing-plaf-basic:BasicStepperUI" />
<xs:element ref="org-aswing-plaf-basic:BasicButtonUI" />
<xs:element ref="org-aswing:JColorChooser" />
<xs:element ref="org-aswing-event:TreeModelListener" />
<xs:element ref="org-aswing:AssetItem" />
<xs:element ref="org-aswing-table-sorter:SortableTextHeaderCell" />
<xs:element ref="org-aswing-util:HashSet" />
<xs:element ref="org-aswing:Container" />
<xs:element ref="org-aswing-plaf-basic-background:ScrollBarBackground" />
<xs:element ref="org-aswing-plaf:ComboBoxUI" />
<xs:element ref="flash-utils:IDataInput2" />
<xs:element ref="org-aswing:Box" />
<xs:element ref="org-aswing-plaf-basic:BasicMenuBarUI" />
<xs:element ref="org-aswing:JProgressBar" />
<xs:element ref="org-aswing-table:TableColumnModelEvent" />
<xs:element ref="org-aswing:BorderLayout" />
<xs:element ref="motion-actuators:GenericActuator" />
<xs:element ref="org-aswing:AWTextField" />
<xs:element ref="org-aswing-plaf:MenuElementUI" />
<xs:element ref="flash-events:TextEvent" />
<xs:element ref="org-aswing-plaf-basic-border:TextFieldBorder" />
<xs:element ref="org-aswing-table:TableColumn" />
<xs:element ref="org-aswing-table:TableModel" />
<xs:element ref="org-aswing-tree:DefaultMutableTreeNode" />
<xs:element ref="org-aswing-plaf-basic-icon:MenuCheckIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:RadioButtonMenuItemCheckIcon" />
<xs:element ref="flash-text:TextSnapshot" />
<xs:element ref="flash-media:AVResult" />
<xs:element ref="IMap" />
<xs:element ref="org-aswing:WindowOrderFocusTraversalPolicy" />
<xs:element ref="org-aswing-plaf-basic-background:TableHeaderBackground" />
<xs:element ref="org-aswing-tree:EnumerationInfo" />
<xs:element ref="org-aswing-table:PropertyTranslator" />
<xs:element ref="org-aswing-table:AbstractTableCell" />
<xs:element ref="org-aswing-tree:TreeCellFactory" />
<xs:element ref="org-aswing-plaf-basic:BasicAccordionUI" />
<xs:element ref="bindx:FieldsBindSignal" />
<xs:element ref="flash-display3D-textures:CubeTexture" />
<xs:element ref="org-aswing:UIDefaults" />
<xs:element ref="org-aswing-event:ColorChooserEvent" />
<xs:element ref="org-aswing-table-sorter:TableSorter" />
<xs:element ref="haxe:Log" />
<xs:element ref="haxe-ds:IntMap" />
<xs:element ref="jive-plaf-flat:FlatButtonUI" />
<xs:element ref="org-aswing:AbstractListModel" />
<xs:element ref="org-aswing-plaf-basic-frame:BasicFrameTitleBarBG" />
<xs:element ref="org-aswing-plaf-basic:BasicPopupMenuUI" />
<xs:element ref="org-aswing:EmptyLayout" />
<xs:element ref="org-aswing-plaf-basic:BasicListUI" />
<xs:element ref="haxe-ds-_ObjectMap:NativeValueIterator" />
<xs:element ref="org-aswing:Cursor" />
<xs:element ref="org-aswing-error:UnsupportedError" />
<xs:element ref="org-aswing-plaf:SplitPaneUI" />
<xs:element ref="org-aswing-plaf-basic:BasicSpacerUI" />
<xs:element ref="org-aswing:StyleTune" />
<xs:element ref="org-aswing-plaf:DefaultsDecoratorBase" />
<xs:element ref="org-aswing-util:LinkedList" />
<xs:element ref="org-aswing:FocusTraversalPolicy" />
<xs:element ref="org-aswing-colorchooser:AbstractColorChooserPanel" />
<xs:element ref="org-aswing-ext:MultilineLabel" />
<xs:element ref="flash-display:Scene" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameNormalIcon" />
<xs:element ref="org-aswing:JOptionPane" />
<xs:element ref="flash-events:UncaughtErrorEvents" />
<xs:element ref="jive-plaf-flat-background:FlatButtonBackground" />
<xs:element ref="org-aswing-dnd:DragListener" />
<xs:element ref="haxe-ds:ObjectMap" />
<xs:element ref="org-aswing:AWSprite" />
<xs:element ref="org-aswing-graphics:GradientBrush" />
<xs:element ref="Reflect" />
<xs:element ref="flash-net:NetStreamInfo" />
<xs:element ref="motion-easing:ExpoEaseIn" />
<xs:element ref="org-aswing:ButtonModel" />
<xs:element ref="org-aswing-graphics:IPen" />
<xs:element ref="flash-net:Responder" />
<xs:element ref="org-aswing:DefaultListTextCellFactory" />
<xs:element ref="org-aswing-plaf:BaseComponentUI" />
<xs:element ref="motion-actuators:MethodActuator" />
<xs:element ref="org-aswing:JMenu" />
<xs:element ref="org-aswing-event:SelectionEvent" />
<xs:element ref="org-aswing-plaf:SliderUI" />
<xs:element ref="flash-media:AVCaptionStyle" />
<xs:element ref="org-aswing-plaf-basic:BasicColorSwatchesUI" />
<xs:element ref="org-aswing:JStepper" />
<xs:element ref="org-aswing-event:ResizedEvent" />
<xs:element ref="flash-display:DisplayObjectContainer" />
<xs:element ref="org-aswing:JFrame" />
<xs:element ref="flash-system:ApplicationDomain" />
<xs:element ref="org-aswing:GradientBackground" />
<xs:element ref="org-aswing-plaf-basic:ToolBarButtonBgAdapter" />
<xs:element ref="Array" />
<xs:element ref="flash-filters:BevelFilter" />
<xs:element ref="org-aswing-graphics:GradientPen" />
<xs:element ref="org-aswing-plaf-basic-border:PopupMenuBorder" />
<xs:element ref="org-aswing:JToggleButton" />
<xs:element ref="org-aswing-event:ListDataListener" />
<xs:element ref="org-aswing:CenterLayout" />
<xs:element ref="org-aswing-colorchooser:JColorSwatches" />
<xs:element ref="org-aswing-plaf:InsetsUIResource" />
<xs:element ref="org-aswing:AbstractListCell" />
<xs:element ref="org-aswing:JRadioButtonMenuItem" />
<xs:element ref="org-aswing-dnd:SourceData" />
<xs:element ref="org-aswing-event:ContainerEvent" />
<xs:element ref="org-aswing-event:AWEvent" />
<xs:element ref="motion-actuators:MotionPathActuator" />
<xs:element ref="org-aswing:JToolTip" />
<xs:element ref="flash-display:Bitmap" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameCloseIcon" />
<xs:element ref="org-aswing-plaf-basic:BasicViewportUI" />
<xs:element ref="org-aswing-table:TableColumnModelListener" />
<xs:element ref="org-aswing:ListModel" />
<xs:element ref="org-aswing-dnd:DirectlyRemoveMotion" />
<xs:element ref="org-aswing-plaf-basic:BasicSeparatorUI" />
<xs:element ref="flash-display3D:IndexBuffer3D" />
<xs:element ref="org-aswing-tree:FHTreeStateNode" />
<xs:element ref="org-aswing-table:GeneralTableCellFactory" />
<xs:element ref="org-aswing-plaf-basic:BasicLabelUI" />
<xs:element ref="org-aswing-table:JTableHeader" />
<xs:element ref="org-aswing-util:Stack" />
<xs:element ref="org-aswing-dnd:DragManager" />
<xs:element ref="org-aswing-plaf-basic-background:TableBackground" />
<xs:element ref="org-aswing-graphics:SolidBrush" />
<xs:element ref="org-aswing-colorchooser:VerticalLayout" />
<xs:element ref="org-aswing-plaf-basic:BasicCheckBoxMenuItemUI" />
<xs:element ref="org-aswing-plaf-basic-icon:MenuArrowIcon" />
<xs:element ref="org-aswing-resizer:DefaultResizeBarHandler" />
<xs:element ref="flash-media:VideoStreamSettings" />
<xs:element ref="org-aswing-plaf-basic-border:ComboBoxBorder" />
<xs:element ref="org-aswing:ContainerOrderFocusTraversalPolicy" />
<xs:element ref="org-aswing-plaf-basic-border:FrameBorder" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:BasicTabbedPaneTab" />
<xs:element ref="org-aswing:BoundedRangeModel" />
<xs:element ref="org-aswing-event:ListItemEvent" />
<xs:element ref="org-aswing:JSpacer" />
<xs:element ref="org-aswing-error:Error" />
<xs:element ref="org-aswing-plaf-basic-icon:RadioButtonIcon" />
<xs:element ref="flash-display:NativeMenu" />
<xs:element ref="org-aswing:AWKeyboard" />
<xs:element ref="org-aswing:LayoutManager" />
<xs:element ref="org-aswing-plaf-basic:BasicTextComponentUI" />
<xs:element ref="org-aswing-event:TreeCellEditEvent" />
<xs:element ref="org-aswing-graphics:Graphics2D" />
<xs:element ref="org-aswing-util:ArrayUtils" />
<xs:element ref="org-aswing-plaf-basic-adjuster:PopupSliderThumbIcon" />
<xs:element ref="flash-display3D-textures:RectangleTexture" />
<xs:element ref="org-aswing:JPopup" />
<xs:element ref="org-aswing-border:TitledBorder" />
<xs:element ref="org-aswing-ext:GridListItemEvent" />
<xs:element ref="org-aswing-plaf-basic:BasicTableHeaderUI" />
<xs:element ref="org-aswing-tree:GeneralTreeCellFactory" />
<xs:element ref="flash-net:NetStreamMulticastInfo" />
<xs:element ref="org-aswing:Icon" />
<xs:element ref="org-aswing-event:FrameEvent" />
<xs:element ref="flash-display:InteractiveObject" />
<xs:element ref="org-aswing-ext:GeneralGridListCellFactory" />
<xs:element ref="org-aswing:FlowLayout" />
<xs:element ref="org-aswing:JSplitPane" />
<xs:element ref="StringBuf" />
<xs:element ref="flash-utils:ByteArray" />
<xs:element ref="org-aswing:DefaultListCell" />
<xs:element ref="org-aswing:Orientable" />
<xs:element ref="org-aswing-plaf-basic:BasicLabelButtonUI" />
<xs:element ref="org-aswing:JRootPane" />
<xs:element ref="org-aswing-plaf:ArrayUIResource" />
<xs:element ref="org-aswing:FrameTitleBar" />
<xs:element ref="org-aswing:JTextArea" />
<xs:element ref="org-aswing-border:BevelBorder" />
<xs:element ref="org-aswing-plaf-basic-splitpane:Divider" />
<xs:element ref="org-aswing-plaf-basic:BasicLookAndFeel" />
<xs:element ref="motion-easing:BackEaseInOut" />
<xs:element ref="org-aswing-dnd:DefaultDragImage" />
<xs:element ref="org-aswing-plaf-basic-border:EmptyBorderResource" />
<xs:element ref="flash-display3D:Context3D" />
<xs:element ref="motion:RotationPath" />
<xs:element ref="org-aswing-table:TableCell" />
<xs:element ref="flash-text:TextLineMetrics" />
<xs:element ref="org-aswing:GeneralListCellFactory" />
<xs:element ref="org-aswing-plaf-basic:BasicRadioButtonMenuItemUI" />
<xs:element ref="org-aswing-ext:GridListCellFactory" />
<xs:element ref="org-aswing-table-sorter:SortableHeaderRenderer" />
<xs:element ref="flash-text:TextField" />
<xs:element ref="org-aswing:CellEditor" />
<xs:element ref="org-aswing:JCheckBox" />
<xs:element ref="flash-events:FocusEvent" />
<xs:element ref="motion:IComponentPath" />
<xs:element ref="org-aswing-event:ListDataEvent" />
<xs:element ref="org-aswing-table:Resizable3Imp2" />
<xs:element ref="org-aswing-ext:Form" />
<xs:element ref="flash-accessibility:AccessibilityProperties" />
<xs:element ref="flash-text:TextFormat" />
<xs:element ref="org-aswing-plaf-basic-tree:ExpandControl" />
<xs:element ref="flash-events:EventDispatcher" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameIcon" />
<xs:element ref="flash-geom:Matrix3D" />
<xs:element ref="org-aswing-plaf-basic-background:ToggleButtonBackground" />
<xs:element ref="org-aswing-plaf:DefaultEmptyDecoraterResource" />
<xs:element ref="org-aswing-plaf-basic-border:ColorChooserBorder" />
<xs:element ref="flash-utils:Dictionary" />
<xs:element ref="org-aswing:AssetPane" />
<xs:element ref="Date" />
<xs:element ref="org-aswing-ext:GridListCell" />
<xs:element ref="org-aswing-resizer:ResizeStrategyImp" />
<xs:element ref="org-aswing:JTabbedPane" />
<xs:element ref="org-aswing:KeyboardManager" />
<xs:element ref="StringTools" />
<xs:element ref="org-aswing:UIManager" />
<xs:element ref="org-aswing-event:PropertyChangeEvent" />
<xs:element ref="org-aswing:TabInfo" />
<xs:element ref="org-aswing-table:AbstractTableModel" />
<xs:element ref="org-aswing-plaf-basic:BasicMenuUI" />
<xs:element ref="motion:ComponentPath" />
<xs:element ref="org-aswing-plaf:UIResource" />
<xs:element ref="org-aswing-plaf-basic:DefaultMenuLayout" />
<xs:element ref="org-aswing-tree:TreeNode" />
<xs:element ref="bindx:MethodsBindSignal" />
<xs:element ref="flash-xml:XMLList" />
<xs:element ref="org-aswing-ext:GridCellHolder" />
<xs:element ref="org-aswing:MenuSelectionManager" />
<xs:element ref="flash-accessibility:AccessibilityImplementation" />
<xs:element ref="org-aswing:MenuElement" />
<xs:element ref="org-aswing-event:TableModelListener" />
<xs:element ref="org-aswing-tree:TreeFolderIcon" />
<xs:element ref="flash-_Boot:RealBoot" />
<xs:element ref="flash-events:Event" />
<xs:element ref="org-aswing:DefaultComboBoxListCell" />
<xs:element ref="org-aswing-error:ImpMissError" />
<xs:element ref="org-aswing-table:DefaultTableColumnModel" />
<xs:element ref="Math" />
<xs:element ref="flash-filters:BlurFilter" />
<xs:element ref="org-aswing-table:PropertyTableModel" />
<xs:element ref="org-aswing-util:ListNode" />
<xs:element ref="org-aswing:KeyType" />
<xs:element ref="org-aswing:AsWingConstants" />
<xs:element ref="org-aswing:JAdjuster" />
<xs:element ref="org-aswing-plaf-basic-border:ToolTipBorder" />
<xs:element ref="flash:Boot" />
<xs:element ref="flash-media:AVStream" />
<xs:element ref="flash-utils:IDataInput" />
<xs:element ref="org-aswing:JSeparator" />
<xs:element ref="org-aswing:ScrollPaneLayout" />
<xs:element ref="org-aswing-plaf:EmptyUIResources" />
<xs:element ref="flash-errors:Error" />
<xs:element ref="org-aswing-resizer:Resizer" />
<xs:element ref="bindx:BindSignal" />
<xs:element ref="org-aswing:JScrollPane" />
<xs:element ref="org-aswing-geom:IntPoint" />
<xs:element ref="flash-display:ShaderData" />
<xs:element ref="flash-system:LoaderContext" />
<xs:element ref="flash-system:SecurityDomain" />
<xs:element ref="org-aswing:ComboBoxEditor" />
<xs:element ref="org-aswing-border:LineBorder" />
<xs:element ref="org-aswing-ext:DateRange" />
<xs:element ref="flash-events:MouseEvent" />
<xs:element ref="RootObjectType" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ReflectSchemaTypeValue">
<xs:all><xs:element ref="Reflect"/></xs:all></xs:complexType>

<xs:complexType name="ArraySchemaTypeValue">
<xs:all><xs:element ref="Array"/></xs:all></xs:complexType>

<xs:complexType name="StringBufSchemaTypeValue">
<xs:all><xs:element ref="StringBuf"/></xs:all></xs:complexType>

<xs:complexType name="FloatSchemaTypeValue">
<xs:all><xs:element ref="Float"/></xs:all></xs:complexType>

<xs:complexType name="DateSchemaTypeValue">
<xs:all><xs:element ref="Date"/></xs:all></xs:complexType>

<xs:complexType name="StringToolsSchemaTypeValue">
<xs:all><xs:element ref="StringTools"/></xs:all></xs:complexType>

<xs:complexType name="MathSchemaTypeValue">
<xs:all><xs:element ref="Math"/></xs:all></xs:complexType>

<xs:complexType name="UIntSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:complexType>

<xs:complexType name="TypeSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BoolSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:complexType>

<xs:complexType name="ArrayAccessSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StringSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="length" type="xs:int"/>
</xs:all>
<xs:attribute name="length" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StdSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="IMapSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="IntSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:complexType>

<xs:complexType name="RootObjectTypeSchemaType"><xs:attribute name="id" type="xs:int"/>
</xs:complexType>
<xs:complexType name="ReflectSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ArraySchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="length" type="xs:int"/>
</xs:all>
<xs:attribute name="length" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StringBufSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FloatSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:complexType>

<xs:complexType name="DateSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StringToolsSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="MathSchemaType">
<xs:complexContent>
<xs:extension base="RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="UInt" type="UIntSchemaType"/>
<xs:element name="Type" type="TypeSchemaType"/>
<xs:element name="Bool" type="BoolSchemaType"/>
<xs:element name="ArrayAccess" type="ArrayAccessSchemaType"/>
<xs:element name="String" type="StringSchemaType"/>
<xs:element name="Std" type="StdSchemaType"/>
<xs:element name="IMap" type="IMapSchemaType"/>
<xs:element name="Int" type="IntSchemaType"/>
<xs:element name="Reflect" type="ReflectSchemaType"/>
<xs:element name="Array" type="ArraySchemaType"/>
<xs:element name="StringBuf" type="StringBufSchemaType"/>
<xs:element name="Float" type="FloatSchemaType"/>
<xs:element name="Date" type="DateSchemaType"/>
<xs:element name="StringTools" type="StringToolsSchemaType"/>
<xs:element name="Math" type="MathSchemaType"/>
</xs:schema>
