schema/flash.media.xsd

<xs:schema targetNamespace="flash.media" xmlns="flash.media" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:flash-geom="flash.geom"
xmlns:flash="flash"
xmlns:empty="empty"
xmlns:flash-events="flash.events"
>
<xs:import namespace="flash.geom" schemaLocation="flash.geom.xsd" />
<xs:import namespace="flash" schemaLocation="flash.xsd" />
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:import namespace="flash.events" schemaLocation="flash.events.xsd" />
<xs:complexType name="SoundTransformSchemaTypeValue">
<xs:all><xs:element ref="SoundTransform"/></xs:all></xs:complexType>

<xs:complexType name="AVResultSchemaTypeValue">
<xs:all><xs:element ref="AVResult"/></xs:all></xs:complexType>

<xs:complexType name="MicrophoneSchemaTypeValue">
<xs:all><xs:element ref="Microphone"/></xs:all></xs:complexType>

<xs:complexType name="VideoStreamSettingsSchemaTypeValue">
<xs:all><xs:element ref="VideoStreamSettings"/></xs:all></xs:complexType>

<xs:complexType name="AVSourceSchemaTypeValue">
<xs:all><xs:element ref="AVSource"/></xs:all></xs:complexType>

<xs:complexType name="CameraSchemaTypeValue">
<xs:all><xs:element ref="Camera"/></xs:all></xs:complexType>

<xs:complexType name="MicrophoneEnhancedOptionsSchemaTypeValue">
<xs:all><xs:element ref="MicrophoneEnhancedOptions"/></xs:all></xs:complexType>

<xs:complexType name="AVCaptionStyleSchemaTypeValue">
<xs:all><xs:element ref="AVCaptionStyle"/></xs:all></xs:complexType>

<xs:complexType name="AVPlayStateSchemaTypeValue">
<xs:all><xs:element ref="AVPlayState"/></xs:all></xs:complexType>

<xs:complexType name="AVStreamSchemaTypeValue">
<xs:all><xs:element ref="AVStream"/></xs:all></xs:complexType>

<xs:complexType name="StageVideoSchemaTypeValue">
<xs:all><xs:element ref="StageVideo"/></xs:all></xs:complexType>

<xs:complexType name="SoundTransformSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="leftToLeft" type="xs:double"/>
<xs:element minOccurs="0" name="leftToRight" type="xs:double"/>
<xs:element minOccurs="0" name="pan" type="xs:double"/>
<xs:element minOccurs="0" name="rightToLeft" type="xs:double"/>
<xs:element minOccurs="0" name="rightToRight" type="xs:double"/>
<xs:element minOccurs="0" name="volume" type="xs:double"/>
</xs:all>
<xs:attribute name="leftToLeft" type="xs:double"/>
<xs:attribute name="leftToRight" type="xs:double"/>
<xs:attribute name="pan" type="xs:double"/>
<xs:attribute name="rightToLeft" type="xs:double"/>
<xs:attribute name="rightToRight" type="xs:double"/>
<xs:attribute name="volume" type="xs:double"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AVResultSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="result" type="xs:int"/>
</xs:all>
<xs:attribute name="result" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="MicrophoneSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="activityLevel" type="xs:double"/>
<xs:element minOccurs="0" name="codec" type="xs:string"/>
<xs:element minOccurs="0" name="enableVAD" type="xs:boolean"/>
<xs:element minOccurs="0" name="encodeQuality" type="xs:int"/>
<xs:element minOccurs="0" name="enhancedOptions" type="MicrophoneEnhancedOptionsSchemaTypeValue"/>
<xs:element minOccurs="0" name="framesPerPacket" type="xs:int"/>
<xs:element minOccurs="0" name="gain" type="xs:double"/>
<xs:element minOccurs="0" name="index" type="xs:int"/>
<xs:element minOccurs="0" name="muted" type="xs:boolean"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="noiseSuppressionLevel" type="xs:int"/>
<xs:element minOccurs="0" name="rate" type="xs:int"/>
<xs:element minOccurs="0" name="silenceLevel" type="xs:double"/>
<xs:element minOccurs="0" name="silenceTimeout" type="xs:int"/>
<xs:element minOccurs="0" name="soundTransform" type="SoundTransformSchemaTypeValue"/>
<xs:element minOccurs="0" name="useEchoSuppression" type="xs:boolean"/>
</xs:all>
<xs:attribute name="activityLevel" type="xs:double"/>
<xs:attribute name="codec" type="xs:string"/>
<xs:attribute name="enableVAD" type="xs:boolean"/>
<xs:attribute name="encodeQuality" type="xs:int"/>
<xs:attribute name="enhancedOptions" type="xs:string"/>
<xs:attribute name="framesPerPacket" type="xs:int"/>
<xs:attribute name="gain" type="xs:double"/>
<xs:attribute name="index" type="xs:int"/>
<xs:attribute name="muted" type="xs:boolean"/>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="noiseSuppressionLevel" type="xs:int"/>
<xs:attribute name="rate" type="xs:int"/>
<xs:attribute name="silenceLevel" type="xs:double"/>
<xs:attribute name="silenceTimeout" type="xs:int"/>
<xs:attribute name="soundTransform" type="xs:string"/>
<xs:attribute name="useEchoSuppression" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="VideoStreamSettingsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="bandwidth" type="xs:int"/>
<xs:element minOccurs="0" name="codec" type="xs:string"/>
<xs:element minOccurs="0" name="fps" type="xs:double"/>
<xs:element minOccurs="0" name="height" type="xs:int"/>
<xs:element minOccurs="0" name="keyFrameInterval" type="xs:int"/>
<xs:element minOccurs="0" name="quality" type="xs:int"/>
<xs:element minOccurs="0" name="width" type="xs:int"/>
</xs:all>
<xs:attribute name="bandwidth" type="xs:int"/>
<xs:attribute name="codec" type="xs:string"/>
<xs:attribute name="fps" type="xs:double"/>
<xs:attribute name="height" type="xs:int"/>
<xs:attribute name="keyFrameInterval" type="xs:int"/>
<xs:attribute name="quality" type="xs:int"/>
<xs:attribute name="width" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AVSourceSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="CameraSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="activityLevel" type="xs:double"/>
<xs:element minOccurs="0" name="bandwidth" type="xs:int"/>
<xs:element minOccurs="0" name="currentFPS" type="xs:double"/>
<xs:element minOccurs="0" name="fps" type="xs:double"/>
<xs:element minOccurs="0" name="height" type="xs:int"/>
<xs:element minOccurs="0" name="index" type="xs:int"/>
<xs:element minOccurs="0" name="keyFrameInterval" type="xs:int"/>
<xs:element minOccurs="0" name="loopback" type="xs:boolean"/>
<xs:element minOccurs="0" name="motionLevel" type="xs:int"/>
<xs:element minOccurs="0" name="motionTimeout" type="xs:int"/>
<xs:element minOccurs="0" name="muted" type="xs:boolean"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="quality" type="xs:int"/>
<xs:element minOccurs="0" name="width" type="xs:int"/>
</xs:all>
<xs:attribute name="activityLevel" type="xs:double"/>
<xs:attribute name="bandwidth" type="xs:int"/>
<xs:attribute name="currentFPS" type="xs:double"/>
<xs:attribute name="fps" type="xs:double"/>
<xs:attribute name="height" type="xs:int"/>
<xs:attribute name="index" type="xs:int"/>
<xs:attribute name="keyFrameInterval" type="xs:int"/>
<xs:attribute name="loopback" type="xs:boolean"/>
<xs:attribute name="motionLevel" type="xs:int"/>
<xs:attribute name="motionTimeout" type="xs:int"/>
<xs:attribute name="muted" type="xs:boolean"/>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="quality" type="xs:int"/>
<xs:attribute name="width" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="MicrophoneEnhancedOptionsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="autoGain" type="xs:boolean"/>
<xs:element minOccurs="0" name="echoPath" type="xs:int"/>
<xs:element minOccurs="0" name="isVoiceDetected" type="xs:int"/>
<xs:element minOccurs="0" name="mode" type="xs:string"/>
<xs:element minOccurs="0" name="nonLinearProcessing" type="xs:boolean"/>
</xs:all>
<xs:attribute name="autoGain" type="xs:boolean"/>
<xs:attribute name="echoPath" type="xs:int"/>
<xs:attribute name="isVoiceDetected" type="xs:int"/>
<xs:attribute name="mode" type="xs:string"/>
<xs:attribute name="nonLinearProcessing" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AVCaptionStyleSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="backgroundColor" type="xs:string"/>
<xs:element minOccurs="0" name="backgroundOpacity" type="xs:string"/>
<xs:element minOccurs="0" name="bottomInset" type="xs:string"/>
<xs:element minOccurs="0" name="edgeColor" type="xs:string"/>
<xs:element minOccurs="0" name="fillColor" type="xs:string"/>
<xs:element minOccurs="0" name="fillOpacity" type="xs:string"/>
<xs:element minOccurs="0" name="font" type="xs:string"/>
<xs:element minOccurs="0" name="fontColor" type="xs:string"/>
<xs:element minOccurs="0" name="fontEdge" type="xs:string"/>
<xs:element minOccurs="0" name="fontOpacity" type="xs:string"/>
<xs:element minOccurs="0" name="size" type="xs:string"/>
</xs:all>
<xs:attribute name="backgroundColor" type="xs:string"/>
<xs:attribute name="backgroundOpacity" type="xs:string"/>
<xs:attribute name="bottomInset" type="xs:string"/>
<xs:attribute name="edgeColor" type="xs:string"/>
<xs:attribute name="fillColor" type="xs:string"/>
<xs:attribute name="fillOpacity" type="xs:string"/>
<xs:attribute name="font" type="xs:string"/>
<xs:attribute name="fontColor" type="xs:string"/>
<xs:attribute name="fontEdge" type="xs:string"/>
<xs:attribute name="fontOpacity" type="xs:string"/>
<xs:attribute name="size" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AVPlayStateSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="state" type="xs:int"/>
</xs:all>
<xs:attribute name="state" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AVStreamSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="backBufferLength" type="xs:double"/>
<xs:element minOccurs="0" name="backBufferTime" type="xs:double"/>
<xs:element minOccurs="0" name="bufferLength" type="xs:double"/>
<xs:element minOccurs="0" name="bufferTime" type="xs:double"/>
<xs:element minOccurs="0" name="captionStyle" type="AVCaptionStyleSchemaTypeValue"/>
<xs:element minOccurs="0" name="captionsEnabled" type="xs:boolean"/>
<xs:element minOccurs="0" name="clientLivePoint" type="xs:double"/>
<xs:element minOccurs="0" name="currentFPS" type="xs:double"/>
<xs:element minOccurs="0" name="decoderType" type="xs:string"/>
<xs:element minOccurs="0" name="droppedFrames" type="xs:int"/>
<xs:element minOccurs="0" name="frameTime" type="xs:double"/>
<xs:element minOccurs="0" name="initialBufferTime" type="xs:double"/>
<xs:element minOccurs="0" name="playState" type="AVPlayStateSchemaTypeValue"/>
<xs:element minOccurs="0" name="renderType" type="xs:string"/>
<xs:element minOccurs="0" name="time" type="xs:double"/>
<xs:element minOccurs="0" name="useHardwareDecoder" type="xs:boolean"/>
<xs:element minOccurs="0" name="volume" type="xs:double"/>
</xs:all>
<xs:attribute name="backBufferLength" type="xs:double"/>
<xs:attribute name="backBufferTime" type="xs:double"/>
<xs:attribute name="bufferLength" type="xs:double"/>
<xs:attribute name="bufferTime" type="xs:double"/>
<xs:attribute name="captionStyle" type="xs:string"/>
<xs:attribute name="captionsEnabled" type="xs:boolean"/>
<xs:attribute name="clientLivePoint" type="xs:double"/>
<xs:attribute name="currentFPS" type="xs:double"/>
<xs:attribute name="decoderType" type="xs:string"/>
<xs:attribute name="droppedFrames" type="xs:int"/>
<xs:attribute name="frameTime" type="xs:double"/>
<xs:attribute name="initialBufferTime" type="xs:double"/>
<xs:attribute name="playState" type="xs:string"/>
<xs:attribute name="renderType" type="xs:string"/>
<xs:attribute name="time" type="xs:double"/>
<xs:attribute name="useHardwareDecoder" type="xs:boolean"/>
<xs:attribute name="volume" type="xs:double"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StageVideoSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="colorSpaces" type="flash:VectorSchemaTypeValue"/>
<xs:element minOccurs="0" name="depth" type="xs:int"/>
<xs:element minOccurs="0" name="pan" type="flash-geom:PointSchemaTypeValue"/>
<xs:element minOccurs="0" name="videoHeight" type="xs:int"/>
<xs:element minOccurs="0" name="videoWidth" type="xs:int"/>
<xs:element minOccurs="0" name="viewPort" type="flash-geom:RectangleSchemaTypeValue"/>
<xs:element minOccurs="0" name="zoom" type="flash-geom:PointSchemaTypeValue"/>
</xs:all>
<xs:attribute name="colorSpaces" type="xs:string"/>
<xs:attribute name="depth" type="xs:int"/>
<xs:attribute name="pan" type="xs:string"/>
<xs:attribute name="videoHeight" type="xs:int"/>
<xs:attribute name="videoWidth" type="xs:int"/>
<xs:attribute name="viewPort" type="xs:string"/>
<xs:attribute name="zoom" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="SoundTransform" type="SoundTransformSchemaType"/>
<xs:element name="AVResult" type="AVResultSchemaType"/>
<xs:element name="Microphone" type="MicrophoneSchemaType"/>
<xs:element name="VideoStreamSettings" type="VideoStreamSettingsSchemaType"/>
<xs:element name="AVSource" type="AVSourceSchemaType"/>
<xs:element name="Camera" type="CameraSchemaType"/>
<xs:element name="MicrophoneEnhancedOptions" type="MicrophoneEnhancedOptionsSchemaType"/>
<xs:element name="AVCaptionStyle" type="AVCaptionStyleSchemaType"/>
<xs:element name="AVPlayState" type="AVPlayStateSchemaType"/>
<xs:element name="AVStream" type="AVStreamSchemaType"/>
<xs:element name="StageVideo" type="StageVideoSchemaType"/>
</xs:schema>
