schema/flash._Boot.xsd

<xs:schema targetNamespace="flash._Boot" xmlns="flash._Boot" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:flash="flash"
>
<xs:import namespace="flash" schemaLocation="flash.xsd" />
<xs:complexType name="RealBootSchemaTypeValue">
<xs:sequence><xs:element ref="RealBoot"/></xs:sequence></xs:complexType>

<xs:complexType name="RealBootSchemaType">
<xs:complexContent>
<xs:extension base="flash:BootSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="RealBoot" type="RealBootSchemaType"/>
</xs:schema>
