schema/flash.external.xsd

<xs:schema targetNamespace="flash.external" xmlns="flash.external" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="ExternalInterfaceSchemaTypeValue">
<xs:sequence><xs:element ref="ExternalInterface"/></xs:sequence></xs:complexType>

<xs:complexType name="ExternalInterfaceSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="ExternalInterface" type="ExternalInterfaceSchemaType"/>
</xs:schema>
