schema/flash.net.xsd

<xs:schema targetNamespace="flash.net" xmlns="flash.net" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
xmlns:flash-events="flash.events"
xmlns:flash-media="flash.media"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:import namespace="flash.events" schemaLocation="flash.events.xsd" />
<xs:import namespace="flash.media" schemaLocation="flash.media.xsd" />
<xs:complexType name="URLRequestHeaderSchemaTypeValue">
<xs:all><xs:element ref="URLRequestHeader"/></xs:all></xs:complexType>

<xs:complexType name="NetStreamPlayOptionsSchemaTypeValue">
<xs:all><xs:element ref="NetStreamPlayOptions"/></xs:all></xs:complexType>

<xs:complexType name="URLLoaderSchemaTypeValue">
<xs:all><xs:element ref="URLLoader"/></xs:all></xs:complexType>

<xs:complexType name="NetStreamSchemaTypeValue">
<xs:all><xs:element ref="NetStream"/></xs:all></xs:complexType>

<xs:complexType name="URLRequestSchemaTypeValue">
<xs:all><xs:element ref="URLRequest"/></xs:all></xs:complexType>

<xs:complexType name="NetConnectionSchemaTypeValue">
<xs:all><xs:element ref="NetConnection"/></xs:all></xs:complexType>

<xs:complexType name="NetStreamInfoSchemaTypeValue">
<xs:all><xs:element ref="NetStreamInfo"/></xs:all></xs:complexType>

<xs:complexType name="ResponderSchemaTypeValue">
<xs:all><xs:element ref="Responder"/></xs:all></xs:complexType>

<xs:complexType name="NetStreamMulticastInfoSchemaTypeValue">
<xs:all><xs:element ref="NetStreamMulticastInfo"/></xs:all></xs:complexType>

<xs:complexType name="URLRequestHeaderSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:all>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="value" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NetStreamPlayOptionsSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="len" type="xs:double"/>
<xs:element minOccurs="0" name="offset" type="xs:double"/>
<xs:element minOccurs="0" name="oldStreamName" type="xs:string"/>
<xs:element minOccurs="0" name="start" type="xs:double"/>
<xs:element minOccurs="0" name="streamName" type="xs:string"/>
<xs:element minOccurs="0" name="transition" type="xs:string"/>
</xs:all>
<xs:attribute name="len" type="xs:double"/>
<xs:attribute name="offset" type="xs:double"/>
<xs:attribute name="oldStreamName" type="xs:string"/>
<xs:attribute name="start" type="xs:double"/>
<xs:attribute name="streamName" type="xs:string"/>
<xs:attribute name="transition" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="URLLoaderSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="bytesLoaded" type="xs:int"/>
<xs:element minOccurs="0" name="bytesTotal" type="xs:int"/>
<xs:element minOccurs="0" name="data" type="xs:string"/>
<xs:element minOccurs="0" name="dataFormat" type="xs:string"/>
</xs:all>
<xs:attribute name="bytesLoaded" type="xs:int"/>
<xs:attribute name="bytesTotal" type="xs:int"/>
<xs:attribute name="data" type="xs:string"/>
<xs:attribute name="dataFormat" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NetStreamSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="audioCodec" type="xs:int"/>
<xs:element minOccurs="0" name="audioReliable" type="xs:boolean"/>
<xs:element minOccurs="0" name="audioSampleAccess" type="xs:boolean"/>
<xs:element minOccurs="0" name="backBufferLength" type="xs:double"/>
<xs:element minOccurs="0" name="backBufferTime" type="xs:double"/>
<xs:element minOccurs="0" name="bufferLength" type="xs:double"/>
<xs:element minOccurs="0" name="bufferTime" type="xs:double"/>
<xs:element minOccurs="0" name="bufferTimeMax" type="xs:double"/>
<xs:element minOccurs="0" name="bytesLoaded" type="xs:int"/>
<xs:element minOccurs="0" name="bytesTotal" type="xs:int"/>
<xs:element minOccurs="0" name="checkPolicyFile" type="xs:boolean"/>
<xs:element minOccurs="0" name="client" type="xs:string"/>
<xs:element minOccurs="0" name="currentFPS" type="xs:double"/>
<xs:element minOccurs="0" name="dataReliable" type="xs:boolean"/>
<xs:element minOccurs="0" name="decodedFrames" type="xs:int"/>
<xs:element minOccurs="0" name="farID" type="xs:string"/>
<xs:element minOccurs="0" name="farNonce" type="xs:string"/>
<xs:element minOccurs="0" name="inBufferSeek" type="xs:boolean"/>
<xs:element minOccurs="0" name="info" type="NetStreamInfoSchemaTypeValue"/>
<xs:element minOccurs="0" name="liveDelay" type="xs:double"/>
<xs:element minOccurs="0" name="maxPauseBufferTime" type="xs:double"/>
<xs:element minOccurs="0" name="multicastAvailabilitySendToAll" type="xs:boolean"/>
<xs:element minOccurs="0" name="multicastAvailabilityUpdatePeriod" type="xs:double"/>
<xs:element minOccurs="0" name="multicastFetchPeriod" type="xs:double"/>
<xs:element minOccurs="0" name="multicastInfo" type="NetStreamMulticastInfoSchemaTypeValue"/>
<xs:element minOccurs="0" name="multicastPushNeighborLimit" type="xs:double"/>
<xs:element minOccurs="0" name="multicastRelayMarginDuration" type="xs:double"/>
<xs:element minOccurs="0" name="multicastWindowDuration" type="xs:double"/>
<xs:element minOccurs="0" name="nearNonce" type="xs:string"/>
<xs:element minOccurs="0" name="objectEncoding" type="xs:int"/>
<xs:element minOccurs="0" name="peerStreams" type="empty:ArraySchemaTypeValue"/>
<xs:element minOccurs="0" name="soundTransform" type="flash-media:SoundTransformSchemaTypeValue"/>
<xs:element minOccurs="0" name="time" type="xs:double"/>
<xs:element minOccurs="0" name="useHardwareDecoder" type="xs:boolean"/>
<xs:element minOccurs="0" name="videoCodec" type="xs:int"/>
<xs:element minOccurs="0" name="videoReliable" type="xs:boolean"/>
<xs:element minOccurs="0" name="videoSampleAccess" type="xs:boolean"/>
<xs:element minOccurs="0" name="videoStreamSettings" type="flash-media:VideoStreamSettingsSchemaTypeValue"/>
</xs:all>
<xs:attribute name="audioCodec" type="xs:int"/>
<xs:attribute name="audioReliable" type="xs:boolean"/>
<xs:attribute name="audioSampleAccess" type="xs:boolean"/>
<xs:attribute name="backBufferLength" type="xs:double"/>
<xs:attribute name="backBufferTime" type="xs:double"/>
<xs:attribute name="bufferLength" type="xs:double"/>
<xs:attribute name="bufferTime" type="xs:double"/>
<xs:attribute name="bufferTimeMax" type="xs:double"/>
<xs:attribute name="bytesLoaded" type="xs:int"/>
<xs:attribute name="bytesTotal" type="xs:int"/>
<xs:attribute name="checkPolicyFile" type="xs:boolean"/>
<xs:attribute name="client" type="xs:string"/>
<xs:attribute name="currentFPS" type="xs:double"/>
<xs:attribute name="dataReliable" type="xs:boolean"/>
<xs:attribute name="decodedFrames" type="xs:int"/>
<xs:attribute name="farID" type="xs:string"/>
<xs:attribute name="farNonce" type="xs:string"/>
<xs:attribute name="inBufferSeek" type="xs:boolean"/>
<xs:attribute name="info" type="xs:string"/>
<xs:attribute name="liveDelay" type="xs:double"/>
<xs:attribute name="maxPauseBufferTime" type="xs:double"/>
<xs:attribute name="multicastAvailabilitySendToAll" type="xs:boolean"/>
<xs:attribute name="multicastAvailabilityUpdatePeriod" type="xs:double"/>
<xs:attribute name="multicastFetchPeriod" type="xs:double"/>
<xs:attribute name="multicastInfo" type="xs:string"/>
<xs:attribute name="multicastPushNeighborLimit" type="xs:double"/>
<xs:attribute name="multicastRelayMarginDuration" type="xs:double"/>
<xs:attribute name="multicastWindowDuration" type="xs:double"/>
<xs:attribute name="nearNonce" type="xs:string"/>
<xs:attribute name="objectEncoding" type="xs:int"/>
<xs:attribute name="peerStreams" type="xs:string"/>
<xs:attribute name="soundTransform" type="xs:string"/>
<xs:attribute name="time" type="xs:double"/>
<xs:attribute name="useHardwareDecoder" type="xs:boolean"/>
<xs:attribute name="videoCodec" type="xs:int"/>
<xs:attribute name="videoReliable" type="xs:boolean"/>
<xs:attribute name="videoSampleAccess" type="xs:boolean"/>
<xs:attribute name="videoStreamSettings" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="URLRequestSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="contentType" type="xs:string"/>
<xs:element minOccurs="0" name="data" type="xs:string"/>
<xs:element minOccurs="0" name="digest" type="xs:string"/>
<xs:element minOccurs="0" name="method" type="xs:string"/>
<xs:element minOccurs="0" name="requestHeaders" type="empty:ArraySchemaTypeValue"/>
<xs:element minOccurs="0" name="url" type="xs:string"/>
</xs:all>
<xs:attribute name="contentType" type="xs:string"/>
<xs:attribute name="data" type="xs:string"/>
<xs:attribute name="digest" type="xs:string"/>
<xs:attribute name="method" type="xs:string"/>
<xs:attribute name="requestHeaders" type="xs:string"/>
<xs:attribute name="url" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NetConnectionSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="client" type="xs:string"/>
<xs:element minOccurs="0" name="connected" type="xs:boolean"/>
<xs:element minOccurs="0" name="connectedProxyType" type="xs:string"/>
<xs:element minOccurs="0" name="farID" type="xs:string"/>
<xs:element minOccurs="0" name="farNonce" type="xs:string"/>
<xs:element minOccurs="0" name="maxPeerConnections" type="xs:int"/>
<xs:element minOccurs="0" name="nearID" type="xs:string"/>
<xs:element minOccurs="0" name="nearNonce" type="xs:string"/>
<xs:element minOccurs="0" name="objectEncoding" type="xs:int"/>
<xs:element minOccurs="0" name="protocol" type="xs:string"/>
<xs:element minOccurs="0" name="proxyType" type="xs:string"/>
<xs:element minOccurs="0" name="unconnectedPeerStreams" type="empty:ArraySchemaTypeValue"/>
<xs:element minOccurs="0" name="uri" type="xs:string"/>
<xs:element minOccurs="0" name="usingTLS" type="xs:boolean"/>
</xs:all>
<xs:attribute name="client" type="xs:string"/>
<xs:attribute name="connected" type="xs:boolean"/>
<xs:attribute name="connectedProxyType" type="xs:string"/>
<xs:attribute name="farID" type="xs:string"/>
<xs:attribute name="farNonce" type="xs:string"/>
<xs:attribute name="maxPeerConnections" type="xs:int"/>
<xs:attribute name="nearID" type="xs:string"/>
<xs:attribute name="nearNonce" type="xs:string"/>
<xs:attribute name="objectEncoding" type="xs:int"/>
<xs:attribute name="protocol" type="xs:string"/>
<xs:attribute name="proxyType" type="xs:string"/>
<xs:attribute name="unconnectedPeerStreams" type="xs:string"/>
<xs:attribute name="uri" type="xs:string"/>
<xs:attribute name="usingTLS" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NetStreamInfoSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="SRTT" type="xs:double"/>
<xs:element minOccurs="0" name="audioBufferByteLength" type="xs:double"/>
<xs:element minOccurs="0" name="audioBufferLength" type="xs:double"/>
<xs:element minOccurs="0" name="audioByteCount" type="xs:double"/>
<xs:element minOccurs="0" name="audioBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="audioLossRate" type="xs:double"/>
<xs:element minOccurs="0" name="byteCount" type="xs:double"/>
<xs:element minOccurs="0" name="currentBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="dataBufferByteLength" type="xs:double"/>
<xs:element minOccurs="0" name="dataBufferLength" type="xs:double"/>
<xs:element minOccurs="0" name="dataByteCount" type="xs:double"/>
<xs:element minOccurs="0" name="dataBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="droppedFrames" type="xs:double"/>
<xs:element minOccurs="0" name="isLive" type="xs:boolean"/>
<xs:element minOccurs="0" name="maxBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="metaData" type="xs:string"/>
<xs:element minOccurs="0" name="playbackBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="resourceName" type="xs:string"/>
<xs:element minOccurs="0" name="uri" type="xs:string"/>
<xs:element minOccurs="0" name="videoBufferByteLength" type="xs:double"/>
<xs:element minOccurs="0" name="videoBufferLength" type="xs:double"/>
<xs:element minOccurs="0" name="videoByteCount" type="xs:double"/>
<xs:element minOccurs="0" name="videoBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="videoLossRate" type="xs:double"/>
<xs:element minOccurs="0" name="xmpData" type="xs:string"/>
</xs:all>
<xs:attribute name="SRTT" type="xs:double"/>
<xs:attribute name="audioBufferByteLength" type="xs:double"/>
<xs:attribute name="audioBufferLength" type="xs:double"/>
<xs:attribute name="audioByteCount" type="xs:double"/>
<xs:attribute name="audioBytesPerSecond" type="xs:double"/>
<xs:attribute name="audioLossRate" type="xs:double"/>
<xs:attribute name="byteCount" type="xs:double"/>
<xs:attribute name="currentBytesPerSecond" type="xs:double"/>
<xs:attribute name="dataBufferByteLength" type="xs:double"/>
<xs:attribute name="dataBufferLength" type="xs:double"/>
<xs:attribute name="dataByteCount" type="xs:double"/>
<xs:attribute name="dataBytesPerSecond" type="xs:double"/>
<xs:attribute name="droppedFrames" type="xs:double"/>
<xs:attribute name="isLive" type="xs:boolean"/>
<xs:attribute name="maxBytesPerSecond" type="xs:double"/>
<xs:attribute name="metaData" type="xs:string"/>
<xs:attribute name="playbackBytesPerSecond" type="xs:double"/>
<xs:attribute name="resourceName" type="xs:string"/>
<xs:attribute name="uri" type="xs:string"/>
<xs:attribute name="videoBufferByteLength" type="xs:double"/>
<xs:attribute name="videoBufferLength" type="xs:double"/>
<xs:attribute name="videoByteCount" type="xs:double"/>
<xs:attribute name="videoBytesPerSecond" type="xs:double"/>
<xs:attribute name="videoLossRate" type="xs:double"/>
<xs:attribute name="xmpData" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ResponderSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NetStreamMulticastInfoSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="bytesPushedFromPeers" type="xs:double"/>
<xs:element minOccurs="0" name="bytesPushedToPeers" type="xs:double"/>
<xs:element minOccurs="0" name="bytesReceivedFromIPMulticast" type="xs:double"/>
<xs:element minOccurs="0" name="bytesReceivedFromServer" type="xs:double"/>
<xs:element minOccurs="0" name="bytesRequestedByPeers" type="xs:double"/>
<xs:element minOccurs="0" name="bytesRequestedFromPeers" type="xs:double"/>
<xs:element minOccurs="0" name="fragmentsPushedFromPeers" type="xs:double"/>
<xs:element minOccurs="0" name="fragmentsPushedToPeers" type="xs:double"/>
<xs:element minOccurs="0" name="fragmentsReceivedFromIPMulticast" type="xs:double"/>
<xs:element minOccurs="0" name="fragmentsReceivedFromServer" type="xs:double"/>
<xs:element minOccurs="0" name="fragmentsRequestedByPeers" type="xs:double"/>
<xs:element minOccurs="0" name="fragmentsRequestedFromPeers" type="xs:double"/>
<xs:element minOccurs="0" name="receiveControlBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="receiveDataBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="receiveDataBytesPerSecondFromIPMulticast" type="xs:double"/>
<xs:element minOccurs="0" name="receiveDataBytesPerSecondFromServer" type="xs:double"/>
<xs:element minOccurs="0" name="sendControlBytesPerSecond" type="xs:double"/>
<xs:element minOccurs="0" name="sendControlBytesPerSecondToServer" type="xs:double"/>
<xs:element minOccurs="0" name="sendDataBytesPerSecond" type="xs:double"/>
</xs:all>
<xs:attribute name="bytesPushedFromPeers" type="xs:double"/>
<xs:attribute name="bytesPushedToPeers" type="xs:double"/>
<xs:attribute name="bytesReceivedFromIPMulticast" type="xs:double"/>
<xs:attribute name="bytesReceivedFromServer" type="xs:double"/>
<xs:attribute name="bytesRequestedByPeers" type="xs:double"/>
<xs:attribute name="bytesRequestedFromPeers" type="xs:double"/>
<xs:attribute name="fragmentsPushedFromPeers" type="xs:double"/>
<xs:attribute name="fragmentsPushedToPeers" type="xs:double"/>
<xs:attribute name="fragmentsReceivedFromIPMulticast" type="xs:double"/>
<xs:attribute name="fragmentsReceivedFromServer" type="xs:double"/>
<xs:attribute name="fragmentsRequestedByPeers" type="xs:double"/>
<xs:attribute name="fragmentsRequestedFromPeers" type="xs:double"/>
<xs:attribute name="receiveControlBytesPerSecond" type="xs:double"/>
<xs:attribute name="receiveDataBytesPerSecond" type="xs:double"/>
<xs:attribute name="receiveDataBytesPerSecondFromIPMulticast" type="xs:double"/>
<xs:attribute name="receiveDataBytesPerSecondFromServer" type="xs:double"/>
<xs:attribute name="sendControlBytesPerSecond" type="xs:double"/>
<xs:attribute name="sendControlBytesPerSecondToServer" type="xs:double"/>
<xs:attribute name="sendDataBytesPerSecond" type="xs:double"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="URLRequestHeader" type="URLRequestHeaderSchemaType"/>
<xs:element name="NetStreamPlayOptions" type="NetStreamPlayOptionsSchemaType"/>
<xs:element name="URLLoader" type="URLLoaderSchemaType"/>
<xs:element name="NetStream" type="NetStreamSchemaType"/>
<xs:element name="URLRequest" type="URLRequestSchemaType"/>
<xs:element name="NetConnection" type="NetConnectionSchemaType"/>
<xs:element name="NetStreamInfo" type="NetStreamInfoSchemaType"/>
<xs:element name="Responder" type="ResponderSchemaType"/>
<xs:element name="NetStreamMulticastInfo" type="NetStreamMulticastInfoSchemaType"/>
</xs:schema>
