schema/haxe.rtti.xsd

<xs:schema targetNamespace="haxe.rtti" xmlns="haxe.rtti" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="MetaSchemaTypeValue">
<xs:all><xs:element ref="Meta"/></xs:all></xs:complexType>

<xs:complexType name="MetaSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Meta" type="MetaSchemaType"/>
</xs:schema>
