schema/haxe.xml._Parser.xsd

<xs:schema targetNamespace="haxe.xml._Parser" xmlns="haxe.xml._Parser" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="SSchemaTypeValue">
<xs:all><xs:element ref="S"/></xs:all></xs:complexType>

<xs:complexType name="SSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="S" type="SSchemaType"/>
</xs:schema>
