schema/haxe.io.xsd

<xs:schema targetNamespace="haxe.io" xmlns="haxe.io" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="EofSchemaTypeValue">
<xs:all><xs:element ref="Eof"/></xs:all></xs:complexType>

<xs:complexType name="EofSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Eof" type="EofSchemaType"/>
</xs:schema>
