schema/haxe._Int64.xsd

<xs:schema targetNamespace="haxe._Int64" xmlns="haxe._Int64" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="___Int64SchemaTypeValue">
<xs:all><xs:element ref="___Int64"/></xs:all></xs:complexType>

<xs:complexType name="___Int64SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="___Int64" type="___Int64SchemaType"/>
</xs:schema>
