schema/jive.xsd

<xs:schema targetNamespace="jive" xmlns="jive" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:complexType name="DataContextControllableSchemaTypeValue">
<xs:element ref="DataContextControllable"/></xs:complexType>

<xs:complexType name="DataContextControllableSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:element name="dataContext" type="xs:string"/>
<xs:attribute name="dataContext" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="DataContextControllable" type="DataContextControllableSchemaType"/>
</xs:schema>
