schema/jive.xsd

<xs:schema targetNamespace="jive" xmlns="jive" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:org-aswing="org.aswing"
xmlns:empty="empty"
>
<xs:import namespace="org.aswing" schemaLocation="org.aswing.xsd" />
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="DialogSchemaTypeValue">
<xs:all><xs:element ref="Dialog"/></xs:all></xs:complexType>

<xs:complexType name="DataContextControllableSchemaTypeValue">
<xs:all><xs:element ref="DataContextControllable"/></xs:all></xs:complexType>

<xs:complexType name="NavigationSchemaTypeValue">
<xs:all><xs:element ref="Navigation"/></xs:all></xs:complexType>

<xs:complexType name="CommandSchemaTypeValue">
<xs:choice>
<xs:element ref="OpenLinkCommand" />
<xs:element ref="BaseCommand" />
</xs:choice>
</xs:complexType>

<xs:complexType name="OpenLinkCommandSchemaTypeValue">
<xs:all><xs:element ref="OpenLinkCommand"/></xs:all></xs:complexType>

<xs:complexType name="SpotSchemaTypeValue">
<xs:all><xs:element ref="Spot"/></xs:all></xs:complexType>

<xs:complexType name="BaseCommandSchemaTypeValue">
<xs:choice>
<xs:element ref="OpenLinkCommand" />
<xs:element ref="BaseCommand" />
</xs:choice>
</xs:complexType>

<xs:complexType name="DialogSchemaType">
<xs:complexContent>
<xs:extension base="org-aswing:JFrameSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DataContextControllableSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="dataContext" type="xs:string"/>
</xs:all>
<xs:attribute name="dataContext" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="NavigationSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="activePath" type="empty:ArraySchemaTypeValue"/>
</xs:all>
<xs:attribute name="activePath" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="CommandSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="OpenLinkCommandSchemaType">
<xs:complexContent>
<xs:extension base="BaseCommandSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="url" type="xs:string"/>
</xs:all>
<xs:attribute name="url" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SpotSchemaType">
<xs:complexContent>
<xs:extension base="org-aswing:JPanelSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="selectedIndex" type="xs:int"/>
</xs:all>
<xs:attribute name="selectedIndex" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BaseCommandSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Dialog" type="DialogSchemaType"/>
<xs:element name="DataContextControllable" type="DataContextControllableSchemaType"/>
<xs:element name="Navigation" type="NavigationSchemaType"/>
<xs:element name="Command" type="CommandSchemaType"/>
<xs:element name="OpenLinkCommand" type="OpenLinkCommandSchemaType"/>
<xs:element name="Spot" type="SpotSchemaType"/>
<xs:element name="BaseCommand" type="BaseCommandSchemaType"/>
</xs:schema>
