schema/jive.tools.xsd

<xs:schema targetNamespace="jive.tools" xmlns="jive.tools" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="TextFormatToolsSchemaTypeValue">
<xs:all><xs:element ref="TextFormatTools"/></xs:all></xs:complexType>

<xs:complexType name="TextFormatToolsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="TextFormatTools" type="TextFormatToolsSchemaType"/>
</xs:schema>
