schema/jive.gestures.utils.xsd

<xs:schema targetNamespace="jive.gestures.utils" xmlns="jive.gestures.utils" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="GestureUtilsSchemaTypeValue">
<xs:all><xs:element ref="GestureUtils"/></xs:all></xs:complexType>

<xs:complexType name="GestureUtilsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="GestureUtils" type="GestureUtilsSchemaType"/>
</xs:schema>
