schema/jive.plaf.flat.background.xsd

<xs:schema targetNamespace="jive.plaf.flat.background" xmlns="jive.plaf.flat.background" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="FlatButtonBackgroundSchemaTypeValue">
<xs:all><xs:element ref="FlatButtonBackground"/></xs:all></xs:complexType>

<xs:complexType name="FlatButtonBackgroundSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="FlatButtonBackground" type="FlatButtonBackgroundSchemaType"/>
</xs:schema>
