schema/jive.xsd

<xs:schema targetNamespace="jive" xmlns="jive" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="DataContextControllableSchemaTypeValue">
<xs:all><xs:element ref="DataContextControllable"/></xs:all></xs:complexType>

<xs:complexType name="DataContextControllableSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="dataContext" type="xs:string"/>
</xs:all>
<xs:attribute name="dataContext" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="DataContextControllable" type="DataContextControllableSchemaType"/>
</xs:schema>
