schema/lime.math._Matrix4.xsd

<xs:schema targetNamespace="lime.math._Matrix4" xmlns="lime.math._Matrix4" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="Matrix4_Impl_SchemaTypeValue">
<xs:all><xs:element ref="Matrix4_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="Matrix4_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Matrix4_Impl_" type="Matrix4_Impl_SchemaType"/>
</xs:schema>
