schema/lime.math.color._RGBA.xsd

<xs:schema targetNamespace="lime.math.color._RGBA" xmlns="lime.math.color._RGBA" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="RGBA_Impl_SchemaTypeValue">
<xs:all><xs:element ref="RGBA_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="RGBA_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="RGBA_Impl_" type="RGBA_Impl_SchemaType"/>
</xs:schema>
