schema/lime.graphics.cairo._CairoFontFace.xsd

<xs:schema targetNamespace="lime.graphics.cairo._CairoFontFace" xmlns="lime.graphics.cairo._CairoFontFace" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="CairoFontFace_Impl_SchemaTypeValue">
<xs:all><xs:element ref="CairoFontFace_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="CairoFontFace_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="CairoFontFace_Impl_" type="CairoFontFace_Impl_SchemaType"/>
</xs:schema>
