schema/lime.audio.openal._ALDevice.xsd

<xs:schema targetNamespace="lime.audio.openal._ALDevice" xmlns="lime.audio.openal._ALDevice" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="ALDevice_Impl_SchemaTypeValue">
<xs:all><xs:element ref="ALDevice_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="ALDevice_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="ALDevice_Impl_" type="ALDevice_Impl_SchemaType"/>
</xs:schema>
