schema/lime.ui._GamepadAxis.xsd

<xs:schema targetNamespace="lime.ui._GamepadAxis" xmlns="lime.ui._GamepadAxis" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="GamepadAxis_Impl_SchemaTypeValue">
<xs:all><xs:element ref="GamepadAxis_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="GamepadAxis_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="GamepadAxis_Impl_" type="GamepadAxis_Impl_SchemaType"/>
</xs:schema>
