schema/lime.math.color._BGRA.xsd

<xs:schema targetNamespace="lime.math.color._BGRA" xmlns="lime.math.color._BGRA" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="BGRA_Impl_SchemaTypeValue">
<xs:all><xs:element ref="BGRA_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="BGRA_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="BGRA_Impl_" type="BGRA_Impl_SchemaType"/>
</xs:schema>
