schema/lime.utils._UInt8Array.xsd

<xs:schema targetNamespace="lime.utils._UInt8Array" xmlns="lime.utils._UInt8Array" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="UInt8Array_Impl_SchemaTypeValue">
<xs:all><xs:element ref="UInt8Array_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="UInt8Array_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="UInt8Array_Impl_" type="UInt8Array_Impl_SchemaType"/>
</xs:schema>
