schema/lime.text._Glyph.xsd

<xs:schema targetNamespace="lime.text._Glyph" xmlns="lime.text._Glyph" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="Glyph_Impl_SchemaTypeValue">
<xs:all><xs:element ref="Glyph_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="Glyph_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Glyph_Impl_" type="Glyph_Impl_SchemaType"/>
</xs:schema>
