schema/lime.audio.openal._ALContext.xsd

<xs:schema targetNamespace="lime.audio.openal._ALContext" xmlns="lime.audio.openal._ALContext" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="ALContext_Impl_SchemaTypeValue">
<xs:all><xs:element ref="ALContext_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="ALContext_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="ALContext_Impl_" type="ALContext_Impl_SchemaType"/>
</xs:schema>
