schema/lime.graphics.cairo._CairoPattern.xsd

<xs:schema targetNamespace="lime.graphics.cairo._CairoPattern" xmlns="lime.graphics.cairo._CairoPattern" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="CairoPattern_Impl_SchemaTypeValue">
<xs:all><xs:element ref="CairoPattern_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="CairoPattern_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="CairoPattern_Impl_" type="CairoPattern_Impl_SchemaType"/>
</xs:schema>
