schema/lime.graphics.xsd

<xs:schema targetNamespace="lime.graphics" xmlns="lime.graphics" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:lime-math="lime.math"
xmlns:empty="empty"
xmlns:lime-app="lime.app"
xmlns:lime-ui="lime.ui"
>
<xs:import namespace="lime.math" schemaLocation="lime.math.xsd" />
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:import namespace="lime.app" schemaLocation="lime.app.xsd" />
<xs:import namespace="lime.ui" schemaLocation="lime.ui.xsd" />
<xs:complexType name="CanvasRenderContextSchemaTypeValue">
<xs:all><xs:element ref="CanvasRenderContext"/></xs:all></xs:complexType>

<xs:complexType name="GLRenderContextSchemaTypeValue">
<xs:all><xs:element ref="GLRenderContext"/></xs:all></xs:complexType>

<xs:complexType name="ImageBufferSchemaTypeValue">
<xs:all><xs:element ref="ImageBuffer"/></xs:all></xs:complexType>

<xs:complexType name="RendererSchemaTypeValue">
<xs:all><xs:element ref="Renderer"/></xs:all></xs:complexType>

<xs:complexType name="ConsoleRenderContextSchemaTypeValue">
<xs:all><xs:element ref="ConsoleRenderContext"/></xs:all></xs:complexType>

<xs:complexType name="DOMRenderContextSchemaTypeValue">
<xs:all><xs:element ref="DOMRenderContext"/></xs:all></xs:complexType>

<xs:complexType name="ImageSchemaTypeValue">
<xs:all><xs:element ref="Image"/></xs:all></xs:complexType>

<xs:complexType name="CanvasRenderContextSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="backingStorePixelRatio" type="xs:double"/>
<xs:element minOccurs="0" name="canvas" type="xs:string"/>
<xs:element minOccurs="0" name="fillStyle" type="xs:string"/>
<xs:element minOccurs="0" name="font" type="xs:string"/>
<xs:element minOccurs="0" name="globalAlpha" type="xs:double"/>
<xs:element minOccurs="0" name="globalCompositeOperation" type="xs:string"/>
<xs:element minOccurs="0" name="imageSmoothingEnabled" type="xs:boolean"/>
<xs:element minOccurs="0" name="lineCap" type="xs:string"/>
<xs:element minOccurs="0" name="lineDash" type="empty:ArraySchemaTypeValue"/>
<xs:element minOccurs="0" name="lineDashOffset" type="xs:double"/>
<xs:element minOccurs="0" name="lineJoin" type="xs:string"/>
<xs:element minOccurs="0" name="lineWidth" type="xs:double"/>
<xs:element minOccurs="0" name="miterLimit" type="xs:double"/>
<xs:element minOccurs="0" name="shadowBlur" type="xs:double"/>
<xs:element minOccurs="0" name="shadowColor" type="xs:string"/>
<xs:element minOccurs="0" name="shadowOffsetX" type="xs:double"/>
<xs:element minOccurs="0" name="shadowOffsetY" type="xs:double"/>
<xs:element minOccurs="0" name="strokeStyle" type="xs:string"/>
<xs:element minOccurs="0" name="textAlign" type="xs:string"/>
<xs:element minOccurs="0" name="textBaseline" type="xs:string"/>
</xs:all>
<xs:attribute name="backingStorePixelRatio" type="xs:double"/>
<xs:attribute name="canvas" type="xs:string"/>
<xs:attribute name="fillStyle" type="xs:string"/>
<xs:attribute name="font" type="xs:string"/>
<xs:attribute name="globalAlpha" type="xs:double"/>
<xs:attribute name="globalCompositeOperation" type="xs:string"/>
<xs:attribute name="imageSmoothingEnabled" type="xs:boolean"/>
<xs:attribute name="lineCap" type="xs:string"/>
<xs:attribute name="lineDash" type="xs:string"/>
<xs:attribute name="lineDashOffset" type="xs:double"/>
<xs:attribute name="lineJoin" type="xs:string"/>
<xs:attribute name="lineWidth" type="xs:double"/>
<xs:attribute name="miterLimit" type="xs:double"/>
<xs:attribute name="shadowBlur" type="xs:double"/>
<xs:attribute name="shadowColor" type="xs:string"/>
<xs:attribute name="shadowOffsetX" type="xs:double"/>
<xs:attribute name="shadowOffsetY" type="xs:double"/>
<xs:attribute name="strokeStyle" type="xs:string"/>
<xs:attribute name="textAlign" type="xs:string"/>
<xs:attribute name="textBaseline" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="GLRenderContextSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="DEPTH_BUFFER_BIT" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BUFFER_BIT" type="xs:int"/>
<xs:element minOccurs="0" name="COLOR_BUFFER_BIT" type="xs:int"/>
<xs:element minOccurs="0" name="POINTS" type="xs:int"/>
<xs:element minOccurs="0" name="LINES" type="xs:int"/>
<xs:element minOccurs="0" name="LINE_LOOP" type="xs:int"/>
<xs:element minOccurs="0" name="LINE_STRIP" type="xs:int"/>
<xs:element minOccurs="0" name="TRIANGLES" type="xs:int"/>
<xs:element minOccurs="0" name="TRIANGLE_STRIP" type="xs:int"/>
<xs:element minOccurs="0" name="TRIANGLE_FAN" type="xs:int"/>
<xs:element minOccurs="0" name="ZERO" type="xs:int"/>
<xs:element minOccurs="0" name="ONE" type="xs:int"/>
<xs:element minOccurs="0" name="SRC_COLOR" type="xs:int"/>
<xs:element minOccurs="0" name="ONE_MINUS_SRC_COLOR" type="xs:int"/>
<xs:element minOccurs="0" name="SRC_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="ONE_MINUS_SRC_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="DST_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="ONE_MINUS_DST_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="DST_COLOR" type="xs:int"/>
<xs:element minOccurs="0" name="ONE_MINUS_DST_COLOR" type="xs:int"/>
<xs:element minOccurs="0" name="SRC_ALPHA_SATURATE" type="xs:int"/>
<xs:element minOccurs="0" name="FUNC_ADD" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND_EQUATION" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND_EQUATION_RGB" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND_EQUATION_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="FUNC_SUBTRACT" type="xs:int"/>
<xs:element minOccurs="0" name="FUNC_REVERSE_SUBTRACT" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND_DST_RGB" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND_SRC_RGB" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND_DST_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND_SRC_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="CONSTANT_COLOR" type="xs:int"/>
<xs:element minOccurs="0" name="ONE_MINUS_CONSTANT_COLOR" type="xs:int"/>
<xs:element minOccurs="0" name="CONSTANT_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="ONE_MINUS_CONSTANT_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND_COLOR" type="xs:int"/>
<xs:element minOccurs="0" name="ARRAY_BUFFER" type="xs:int"/>
<xs:element minOccurs="0" name="ELEMENT_ARRAY_BUFFER" type="xs:int"/>
<xs:element minOccurs="0" name="ARRAY_BUFFER_BINDING" type="xs:int"/>
<xs:element minOccurs="0" name="ELEMENT_ARRAY_BUFFER_BINDING" type="xs:int"/>
<xs:element minOccurs="0" name="STREAM_DRAW" type="xs:int"/>
<xs:element minOccurs="0" name="STATIC_DRAW" type="xs:int"/>
<xs:element minOccurs="0" name="DYNAMIC_DRAW" type="xs:int"/>
<xs:element minOccurs="0" name="BUFFER_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="BUFFER_USAGE" type="xs:int"/>
<xs:element minOccurs="0" name="CURRENT_VERTEX_ATTRIB" type="xs:int"/>
<xs:element minOccurs="0" name="FRONT" type="xs:int"/>
<xs:element minOccurs="0" name="BACK" type="xs:int"/>
<xs:element minOccurs="0" name="FRONT_AND_BACK" type="xs:int"/>
<xs:element minOccurs="0" name="CULL_FACE" type="xs:int"/>
<xs:element minOccurs="0" name="BLEND" type="xs:int"/>
<xs:element minOccurs="0" name="DITHER" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_TEST" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_TEST" type="xs:int"/>
<xs:element minOccurs="0" name="SCISSOR_TEST" type="xs:int"/>
<xs:element minOccurs="0" name="POLYGON_OFFSET_FILL" type="xs:int"/>
<xs:element minOccurs="0" name="SAMPLE_ALPHA_TO_COVERAGE" type="xs:int"/>
<xs:element minOccurs="0" name="SAMPLE_COVERAGE" type="xs:int"/>
<xs:element minOccurs="0" name="NO_ERROR" type="xs:int"/>
<xs:element minOccurs="0" name="INVALID_ENUM" type="xs:int"/>
<xs:element minOccurs="0" name="INVALID_VALUE" type="xs:int"/>
<xs:element minOccurs="0" name="INVALID_OPERATION" type="xs:int"/>
<xs:element minOccurs="0" name="OUT_OF_MEMORY" type="xs:int"/>
<xs:element minOccurs="0" name="CW" type="xs:int"/>
<xs:element minOccurs="0" name="CCW" type="xs:int"/>
<xs:element minOccurs="0" name="LINE_WIDTH" type="xs:int"/>
<xs:element minOccurs="0" name="ALIASED_POINT_SIZE_RANGE" type="xs:int"/>
<xs:element minOccurs="0" name="ALIASED_LINE_WIDTH_RANGE" type="xs:int"/>
<xs:element minOccurs="0" name="CULL_FACE_MODE" type="xs:int"/>
<xs:element minOccurs="0" name="FRONT_FACE" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_RANGE" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_WRITEMASK" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_CLEAR_VALUE" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_FUNC" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_CLEAR_VALUE" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_FUNC" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_FAIL" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_PASS_DEPTH_FAIL" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_PASS_DEPTH_PASS" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_REF" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_VALUE_MASK" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_WRITEMASK" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BACK_FUNC" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BACK_FAIL" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BACK_PASS_DEPTH_FAIL" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BACK_PASS_DEPTH_PASS" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BACK_REF" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BACK_VALUE_MASK" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BACK_WRITEMASK" type="xs:int"/>
<xs:element minOccurs="0" name="VIEWPORT" type="xs:int"/>
<xs:element minOccurs="0" name="SCISSOR_BOX" type="xs:int"/>
<xs:element minOccurs="0" name="COLOR_CLEAR_VALUE" type="xs:int"/>
<xs:element minOccurs="0" name="COLOR_WRITEMASK" type="xs:int"/>
<xs:element minOccurs="0" name="UNPACK_ALIGNMENT" type="xs:int"/>
<xs:element minOccurs="0" name="PACK_ALIGNMENT" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_TEXTURE_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_VIEWPORT_DIMS" type="xs:int"/>
<xs:element minOccurs="0" name="SUBPIXEL_BITS" type="xs:int"/>
<xs:element minOccurs="0" name="RED_BITS" type="xs:int"/>
<xs:element minOccurs="0" name="GREEN_BITS" type="xs:int"/>
<xs:element minOccurs="0" name="BLUE_BITS" type="xs:int"/>
<xs:element minOccurs="0" name="ALPHA_BITS" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_BITS" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_BITS" type="xs:int"/>
<xs:element minOccurs="0" name="POLYGON_OFFSET_UNITS" type="xs:int"/>
<xs:element minOccurs="0" name="POLYGON_OFFSET_FACTOR" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_BINDING_2D" type="xs:int"/>
<xs:element minOccurs="0" name="SAMPLE_BUFFERS" type="xs:int"/>
<xs:element minOccurs="0" name="SAMPLES" type="xs:int"/>
<xs:element minOccurs="0" name="SAMPLE_COVERAGE_VALUE" type="xs:int"/>
<xs:element minOccurs="0" name="SAMPLE_COVERAGE_INVERT" type="xs:int"/>
<xs:element minOccurs="0" name="COMPRESSED_TEXTURE_FORMATS" type="xs:int"/>
<xs:element minOccurs="0" name="DONT_CARE" type="xs:int"/>
<xs:element minOccurs="0" name="FASTEST" type="xs:int"/>
<xs:element minOccurs="0" name="NICEST" type="xs:int"/>
<xs:element minOccurs="0" name="GENERATE_MIPMAP_HINT" type="xs:int"/>
<xs:element minOccurs="0" name="BYTE" type="xs:int"/>
<xs:element minOccurs="0" name="UNSIGNED_BYTE" type="xs:int"/>
<xs:element minOccurs="0" name="SHORT" type="xs:int"/>
<xs:element minOccurs="0" name="UNSIGNED_SHORT" type="xs:int"/>
<xs:element minOccurs="0" name="INT" type="xs:int"/>
<xs:element minOccurs="0" name="UNSIGNED_INT" type="xs:int"/>
<xs:element minOccurs="0" name="FLOAT" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_COMPONENT" type="xs:int"/>
<xs:element minOccurs="0" name="ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="RGB" type="xs:int"/>
<xs:element minOccurs="0" name="RGBA" type="xs:int"/>
<xs:element minOccurs="0" name="BGR_EXT" type="xs:int"/>
<xs:element minOccurs="0" name="BGRA_EXT" type="xs:int"/>
<xs:element minOccurs="0" name="LUMINANCE" type="xs:int"/>
<xs:element minOccurs="0" name="LUMINANCE_ALPHA" type="xs:int"/>
<xs:element minOccurs="0" name="UNSIGNED_SHORT_4_4_4_4" type="xs:int"/>
<xs:element minOccurs="0" name="UNSIGNED_SHORT_5_5_5_1" type="xs:int"/>
<xs:element minOccurs="0" name="UNSIGNED_SHORT_5_6_5" type="xs:int"/>
<xs:element minOccurs="0" name="FRAGMENT_SHADER" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_SHADER" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_VERTEX_ATTRIBS" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_VERTEX_UNIFORM_VECTORS" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_VARYING_VECTORS" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_COMBINED_TEXTURE_IMAGE_UNITS" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_VERTEX_TEXTURE_IMAGE_UNITS" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_TEXTURE_IMAGE_UNITS" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_FRAGMENT_UNIFORM_VECTORS" type="xs:int"/>
<xs:element minOccurs="0" name="SHADER_TYPE" type="xs:int"/>
<xs:element minOccurs="0" name="DELETE_STATUS" type="xs:int"/>
<xs:element minOccurs="0" name="LINK_STATUS" type="xs:int"/>
<xs:element minOccurs="0" name="VALIDATE_STATUS" type="xs:int"/>
<xs:element minOccurs="0" name="ATTACHED_SHADERS" type="xs:int"/>
<xs:element minOccurs="0" name="ACTIVE_UNIFORMS" type="xs:int"/>
<xs:element minOccurs="0" name="ACTIVE_ATTRIBUTES" type="xs:int"/>
<xs:element minOccurs="0" name="SHADING_LANGUAGE_VERSION" type="xs:int"/>
<xs:element minOccurs="0" name="CURRENT_PROGRAM" type="xs:int"/>
<xs:element minOccurs="0" name="NEVER" type="xs:int"/>
<xs:element minOccurs="0" name="LESS" type="xs:int"/>
<xs:element minOccurs="0" name="EQUAL" type="xs:int"/>
<xs:element minOccurs="0" name="LEQUAL" type="xs:int"/>
<xs:element minOccurs="0" name="GREATER" type="xs:int"/>
<xs:element minOccurs="0" name="NOTEQUAL" type="xs:int"/>
<xs:element minOccurs="0" name="GEQUAL" type="xs:int"/>
<xs:element minOccurs="0" name="ALWAYS" type="xs:int"/>
<xs:element minOccurs="0" name="KEEP" type="xs:int"/>
<xs:element minOccurs="0" name="REPLACE" type="xs:int"/>
<xs:element minOccurs="0" name="INCR" type="xs:int"/>
<xs:element minOccurs="0" name="DECR" type="xs:int"/>
<xs:element minOccurs="0" name="INVERT" type="xs:int"/>
<xs:element minOccurs="0" name="INCR_WRAP" type="xs:int"/>
<xs:element minOccurs="0" name="DECR_WRAP" type="xs:int"/>
<xs:element minOccurs="0" name="VENDOR" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERER" type="xs:int"/>
<xs:element minOccurs="0" name="VERSION" type="xs:int"/>
<xs:element minOccurs="0" name="NEAREST" type="xs:int"/>
<xs:element minOccurs="0" name="LINEAR" type="xs:int"/>
<xs:element minOccurs="0" name="NEAREST_MIPMAP_NEAREST" type="xs:int"/>
<xs:element minOccurs="0" name="LINEAR_MIPMAP_NEAREST" type="xs:int"/>
<xs:element minOccurs="0" name="NEAREST_MIPMAP_LINEAR" type="xs:int"/>
<xs:element minOccurs="0" name="LINEAR_MIPMAP_LINEAR" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_MAG_FILTER" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_MIN_FILTER" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_WRAP_S" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_WRAP_T" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_2D" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_CUBE_MAP" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_BINDING_CUBE_MAP" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_CUBE_MAP_POSITIVE_X" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_CUBE_MAP_NEGATIVE_X" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_CUBE_MAP_POSITIVE_Y" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_CUBE_MAP_NEGATIVE_Y" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_CUBE_MAP_POSITIVE_Z" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE_CUBE_MAP_NEGATIVE_Z" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_CUBE_MAP_TEXTURE_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE0" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE1" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE2" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE3" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE4" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE5" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE6" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE7" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE8" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE9" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE10" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE11" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE12" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE13" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE14" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE15" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE16" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE17" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE18" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE19" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE20" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE21" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE22" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE23" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE24" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE25" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE26" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE27" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE28" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE29" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE30" type="xs:int"/>
<xs:element minOccurs="0" name="TEXTURE31" type="xs:int"/>
<xs:element minOccurs="0" name="ACTIVE_TEXTURE" type="xs:int"/>
<xs:element minOccurs="0" name="REPEAT" type="xs:int"/>
<xs:element minOccurs="0" name="CLAMP_TO_EDGE" type="xs:int"/>
<xs:element minOccurs="0" name="MIRRORED_REPEAT" type="xs:int"/>
<xs:element minOccurs="0" name="FLOAT_VEC2" type="xs:int"/>
<xs:element minOccurs="0" name="FLOAT_VEC3" type="xs:int"/>
<xs:element minOccurs="0" name="FLOAT_VEC4" type="xs:int"/>
<xs:element minOccurs="0" name="INT_VEC2" type="xs:int"/>
<xs:element minOccurs="0" name="INT_VEC3" type="xs:int"/>
<xs:element minOccurs="0" name="INT_VEC4" type="xs:int"/>
<xs:element minOccurs="0" name="BOOL" type="xs:int"/>
<xs:element minOccurs="0" name="BOOL_VEC2" type="xs:int"/>
<xs:element minOccurs="0" name="BOOL_VEC3" type="xs:int"/>
<xs:element minOccurs="0" name="BOOL_VEC4" type="xs:int"/>
<xs:element minOccurs="0" name="FLOAT_MAT2" type="xs:int"/>
<xs:element minOccurs="0" name="FLOAT_MAT3" type="xs:int"/>
<xs:element minOccurs="0" name="FLOAT_MAT4" type="xs:int"/>
<xs:element minOccurs="0" name="SAMPLER_2D" type="xs:int"/>
<xs:element minOccurs="0" name="SAMPLER_CUBE" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_ATTRIB_ARRAY_ENABLED" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_ATTRIB_ARRAY_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_ATTRIB_ARRAY_STRIDE" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_ATTRIB_ARRAY_TYPE" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_ATTRIB_ARRAY_NORMALIZED" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_ATTRIB_ARRAY_POINTER" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_ATTRIB_ARRAY_BUFFER_BINDING" type="xs:int"/>
<xs:element minOccurs="0" name="VERTEX_PROGRAM_POINT_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="POINT_SPRITE" type="xs:int"/>
<xs:element minOccurs="0" name="COMPILE_STATUS" type="xs:int"/>
<xs:element minOccurs="0" name="LOW_FLOAT" type="xs:int"/>
<xs:element minOccurs="0" name="MEDIUM_FLOAT" type="xs:int"/>
<xs:element minOccurs="0" name="HIGH_FLOAT" type="xs:int"/>
<xs:element minOccurs="0" name="LOW_INT" type="xs:int"/>
<xs:element minOccurs="0" name="MEDIUM_INT" type="xs:int"/>
<xs:element minOccurs="0" name="HIGH_INT" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER" type="xs:int"/>
<xs:element minOccurs="0" name="RGBA4" type="xs:int"/>
<xs:element minOccurs="0" name="RGB5_A1" type="xs:int"/>
<xs:element minOccurs="0" name="RGB565" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_COMPONENT16" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_INDEX" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_INDEX8" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_STENCIL" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_WIDTH" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_HEIGHT" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_INTERNAL_FORMAT" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_RED_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_GREEN_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_BLUE_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_ALPHA_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_DEPTH_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_STENCIL_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_ATTACHMENT_OBJECT_TYPE" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_ATTACHMENT_OBJECT_NAME" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_ATTACHMENT_TEXTURE_LEVEL" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_ATTACHMENT_TEXTURE_CUBE_MAP_FACE" type="xs:int"/>
<xs:element minOccurs="0" name="COLOR_ATTACHMENT0" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_ATTACHMENT" type="xs:int"/>
<xs:element minOccurs="0" name="STENCIL_ATTACHMENT" type="xs:int"/>
<xs:element minOccurs="0" name="DEPTH_STENCIL_ATTACHMENT" type="xs:int"/>
<xs:element minOccurs="0" name="NONE" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_COMPLETE" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_INCOMPLETE_ATTACHMENT" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_INCOMPLETE_MISSING_ATTACHMENT" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_INCOMPLETE_DIMENSIONS" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_UNSUPPORTED" type="xs:int"/>
<xs:element minOccurs="0" name="FRAMEBUFFER_BINDING" type="xs:int"/>
<xs:element minOccurs="0" name="RENDERBUFFER_BINDING" type="xs:int"/>
<xs:element minOccurs="0" name="MAX_RENDERBUFFER_SIZE" type="xs:int"/>
<xs:element minOccurs="0" name="INVALID_FRAMEBUFFER_OPERATION" type="xs:int"/>
<xs:element minOccurs="0" name="UNPACK_FLIP_Y_WEBGL" type="xs:int"/>
<xs:element minOccurs="0" name="UNPACK_PREMULTIPLY_ALPHA_WEBGL" type="xs:int"/>
<xs:element minOccurs="0" name="CONTEXT_LOST_WEBGL" type="xs:int"/>
<xs:element minOccurs="0" name="UNPACK_COLORSPACE_CONVERSION_WEBGL" type="xs:int"/>
<xs:element minOccurs="0" name="BROWSER_DEFAULT_WEBGL" type="xs:int"/>
<xs:element minOccurs="0" name="version" type="xs:int"/>
<xs:element minOccurs="0" name="activeTexture" type="xs:string"/>
<xs:element minOccurs="0" name="attachShader" type="xs:string"/>
<xs:element minOccurs="0" name="bindAttribLocation" type="xs:string"/>
<xs:element minOccurs="0" name="bindBuffer" type="xs:string"/>
<xs:element minOccurs="0" name="bindFramebuffer" type="xs:string"/>
<xs:element minOccurs="0" name="bindRenderbuffer" type="xs:string"/>
<xs:element minOccurs="0" name="bindTexture" type="xs:string"/>
<xs:element minOccurs="0" name="blendColor" type="xs:string"/>
<xs:element minOccurs="0" name="blendEquation" type="xs:string"/>
<xs:element minOccurs="0" name="blendEquationSeparate" type="xs:string"/>
<xs:element minOccurs="0" name="blendFunc" type="xs:string"/>
<xs:element minOccurs="0" name="blendFuncSeparate" type="xs:string"/>
<xs:element minOccurs="0" name="bufferData" type="xs:string"/>
<xs:element minOccurs="0" name="bufferSubData" type="xs:string"/>
<xs:element minOccurs="0" name="checkFramebufferStatus" type="xs:string"/>
<xs:element minOccurs="0" name="clear" type="xs:string"/>
<xs:element minOccurs="0" name="clearColor" type="xs:string"/>
<xs:element minOccurs="0" name="clearDepth" type="xs:string"/>
<xs:element minOccurs="0" name="clearStencil" type="xs:string"/>
<xs:element minOccurs="0" name="colorMask" type="xs:string"/>
<xs:element minOccurs="0" name="compileShader" type="xs:string"/>
<xs:element minOccurs="0" name="compressedTexImage2D" type="xs:string"/>
<xs:element minOccurs="0" name="compressedTexSubImage2D" type="xs:string"/>
<xs:element minOccurs="0" name="copyTexImage2D" type="xs:string"/>
<xs:element minOccurs="0" name="copyTexSubImage2D" type="xs:string"/>
<xs:element minOccurs="0" name="createBuffer" type="xs:string"/>
<xs:element minOccurs="0" name="createFramebuffer" type="xs:string"/>
<xs:element minOccurs="0" name="createProgram" type="xs:string"/>
<xs:element minOccurs="0" name="createRenderbuffer" type="xs:string"/>
<xs:element minOccurs="0" name="createShader" type="xs:string"/>
<xs:element minOccurs="0" name="createTexture" type="xs:string"/>
<xs:element minOccurs="0" name="cullFace" type="xs:string"/>
<xs:element minOccurs="0" name="deleteBuffer" type="xs:string"/>
<xs:element minOccurs="0" name="deleteFramebuffer" type="xs:string"/>
<xs:element minOccurs="0" name="deleteProgram" type="xs:string"/>
<xs:element minOccurs="0" name="deleteRenderbuffer" type="xs:string"/>
<xs:element minOccurs="0" name="deleteShader" type="xs:string"/>
<xs:element minOccurs="0" name="deleteTexture" type="xs:string"/>
<xs:element minOccurs="0" name="depthFunc" type="xs:string"/>
<xs:element minOccurs="0" name="depthMask" type="xs:string"/>
<xs:element minOccurs="0" name="depthRange" type="xs:string"/>
<xs:element minOccurs="0" name="detachShader" type="xs:string"/>
<xs:element minOccurs="0" name="disable" type="xs:string"/>
<xs:element minOccurs="0" name="disableVertexAttribArray" type="xs:string"/>
<xs:element minOccurs="0" name="drawArrays" type="xs:string"/>
<xs:element minOccurs="0" name="drawElements" type="xs:string"/>
<xs:element minOccurs="0" name="enable" type="xs:string"/>
<xs:element minOccurs="0" name="enableVertexAttribArray" type="xs:string"/>
<xs:element minOccurs="0" name="finish" type="xs:string"/>
<xs:element minOccurs="0" name="flush" type="xs:string"/>
<xs:element minOccurs="0" name="framebufferRenderbuffer" type="xs:string"/>
<xs:element minOccurs="0" name="framebufferTexture2D" type="xs:string"/>
<xs:element minOccurs="0" name="frontFace" type="xs:string"/>
<xs:element minOccurs="0" name="generateMipmap" type="xs:string"/>
<xs:element minOccurs="0" name="getActiveAttrib" type="xs:string"/>
<xs:element minOccurs="0" name="getActiveUniform" type="xs:string"/>
<xs:element minOccurs="0" name="getAttachedShaders" type="xs:string"/>
<xs:element minOccurs="0" name="getAttribLocation" type="xs:string"/>
<xs:element minOccurs="0" name="getBufferParameter" type="xs:string"/>
<xs:element minOccurs="0" name="getContextAttributes" type="xs:string"/>
<xs:element minOccurs="0" name="getError" type="xs:string"/>
<xs:element minOccurs="0" name="getExtension" type="xs:string"/>
<xs:element minOccurs="0" name="getFramebufferAttachmentParameter" type="xs:string"/>
<xs:element minOccurs="0" name="getParameter" type="xs:string"/>
<xs:element minOccurs="0" name="getProgramInfoLog" type="xs:string"/>
<xs:element minOccurs="0" name="getProgramParameter" type="xs:string"/>
<xs:element minOccurs="0" name="getRenderbufferParameter" type="xs:string"/>
<xs:element minOccurs="0" name="getShaderInfoLog" type="xs:string"/>
<xs:element minOccurs="0" name="getShaderParameter" type="xs:string"/>
<xs:element minOccurs="0" name="getShaderPrecisionFormat" type="xs:string"/>
<xs:element minOccurs="0" name="getShaderSource" type="xs:string"/>
<xs:element minOccurs="0" name="getSupportedExtensions" type="xs:string"/>
<xs:element minOccurs="0" name="getTexParameter" type="xs:string"/>
<xs:element minOccurs="0" name="getUniform" type="xs:string"/>
<xs:element minOccurs="0" name="getUniformLocation" type="xs:string"/>
<xs:element minOccurs="0" name="getVertexAttrib" type="xs:string"/>
<xs:element minOccurs="0" name="getVertexAttribOffset" type="xs:string"/>
<xs:element minOccurs="0" name="hint" type="xs:string"/>
<xs:element minOccurs="0" name="isBuffer" type="xs:string"/>
<xs:element minOccurs="0" name="isContextLost" type="xs:string"/>
<xs:element minOccurs="0" name="isEnabled" type="xs:string"/>
<xs:element minOccurs="0" name="isFramebuffer" type="xs:string"/>
<xs:element minOccurs="0" name="isProgram" type="xs:string"/>
<xs:element minOccurs="0" name="isRenderbuffer" type="xs:string"/>
<xs:element minOccurs="0" name="isShader" type="xs:string"/>
<xs:element minOccurs="0" name="isTexture" type="xs:string"/>
<xs:element minOccurs="0" name="lineWidth" type="xs:string"/>
<xs:element minOccurs="0" name="linkProgram" type="xs:string"/>
<xs:element minOccurs="0" name="pixelStorei" type="xs:string"/>
<xs:element minOccurs="0" name="polygonOffset" type="xs:string"/>
<xs:element minOccurs="0" name="readPixels" type="xs:string"/>
<xs:element minOccurs="0" name="renderbufferStorage" type="xs:string"/>
<xs:element minOccurs="0" name="sampleCoverage" type="xs:string"/>
<xs:element minOccurs="0" name="scissor" type="xs:string"/>
<xs:element minOccurs="0" name="shaderSource" type="xs:string"/>
<xs:element minOccurs="0" name="stencilFunc" type="xs:string"/>
<xs:element minOccurs="0" name="stencilFuncSeparate" type="xs:string"/>
<xs:element minOccurs="0" name="stencilMask" type="xs:string"/>
<xs:element minOccurs="0" name="stencilMaskSeparate" type="xs:string"/>
<xs:element minOccurs="0" name="stencilOp" type="xs:string"/>
<xs:element minOccurs="0" name="stencilOpSeparate" type="xs:string"/>
<xs:element minOccurs="0" name="texImage2D" type="xs:string"/>
<xs:element minOccurs="0" name="texParameterf" type="xs:string"/>
<xs:element minOccurs="0" name="texParameteri" type="xs:string"/>
<xs:element minOccurs="0" name="texSubImage2D" type="xs:string"/>
<xs:element minOccurs="0" name="uniform1f" type="xs:string"/>
<xs:element minOccurs="0" name="uniform1fv" type="xs:string"/>
<xs:element minOccurs="0" name="uniform1i" type="xs:string"/>
<xs:element minOccurs="0" name="uniform1iv" type="xs:string"/>
<xs:element minOccurs="0" name="uniform2f" type="xs:string"/>
<xs:element minOccurs="0" name="uniform2fv" type="xs:string"/>
<xs:element minOccurs="0" name="uniform2i" type="xs:string"/>
<xs:element minOccurs="0" name="uniform2iv" type="xs:string"/>
<xs:element minOccurs="0" name="uniform3f" type="xs:string"/>
<xs:element minOccurs="0" name="uniform3fv" type="xs:string"/>
<xs:element minOccurs="0" name="uniform3i" type="xs:string"/>
<xs:element minOccurs="0" name="uniform3iv" type="xs:string"/>
<xs:element minOccurs="0" name="uniform4f" type="xs:string"/>
<xs:element minOccurs="0" name="uniform4fv" type="xs:string"/>
<xs:element minOccurs="0" name="uniform4i" type="xs:string"/>
<xs:element minOccurs="0" name="uniform4iv" type="xs:string"/>
<xs:element minOccurs="0" name="uniformMatrix2fv" type="xs:string"/>
<xs:element minOccurs="0" name="uniformMatrix3fv" type="xs:string"/>
<xs:element minOccurs="0" name="uniformMatrix4fv" type="xs:string"/>
<xs:element minOccurs="0" name="useProgram" type="xs:string"/>
<xs:element minOccurs="0" name="validateProgram" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttrib1f" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttrib1fv" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttrib2f" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttrib2fv" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttrib3f" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttrib3fv" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttrib4f" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttrib4fv" type="xs:string"/>
<xs:element minOccurs="0" name="vertexAttribPointer" type="xs:string"/>
<xs:element minOccurs="0" name="viewport" type="xs:string"/>
</xs:all>
<xs:attribute name="DEPTH_BUFFER_BIT" type="xs:int"/>
<xs:attribute name="STENCIL_BUFFER_BIT" type="xs:int"/>
<xs:attribute name="COLOR_BUFFER_BIT" type="xs:int"/>
<xs:attribute name="POINTS" type="xs:int"/>
<xs:attribute name="LINES" type="xs:int"/>
<xs:attribute name="LINE_LOOP" type="xs:int"/>
<xs:attribute name="LINE_STRIP" type="xs:int"/>
<xs:attribute name="TRIANGLES" type="xs:int"/>
<xs:attribute name="TRIANGLE_STRIP" type="xs:int"/>
<xs:attribute name="TRIANGLE_FAN" type="xs:int"/>
<xs:attribute name="ZERO" type="xs:int"/>
<xs:attribute name="ONE" type="xs:int"/>
<xs:attribute name="SRC_COLOR" type="xs:int"/>
<xs:attribute name="ONE_MINUS_SRC_COLOR" type="xs:int"/>
<xs:attribute name="SRC_ALPHA" type="xs:int"/>
<xs:attribute name="ONE_MINUS_SRC_ALPHA" type="xs:int"/>
<xs:attribute name="DST_ALPHA" type="xs:int"/>
<xs:attribute name="ONE_MINUS_DST_ALPHA" type="xs:int"/>
<xs:attribute name="DST_COLOR" type="xs:int"/>
<xs:attribute name="ONE_MINUS_DST_COLOR" type="xs:int"/>
<xs:attribute name="SRC_ALPHA_SATURATE" type="xs:int"/>
<xs:attribute name="FUNC_ADD" type="xs:int"/>
<xs:attribute name="BLEND_EQUATION" type="xs:int"/>
<xs:attribute name="BLEND_EQUATION_RGB" type="xs:int"/>
<xs:attribute name="BLEND_EQUATION_ALPHA" type="xs:int"/>
<xs:attribute name="FUNC_SUBTRACT" type="xs:int"/>
<xs:attribute name="FUNC_REVERSE_SUBTRACT" type="xs:int"/>
<xs:attribute name="BLEND_DST_RGB" type="xs:int"/>
<xs:attribute name="BLEND_SRC_RGB" type="xs:int"/>
<xs:attribute name="BLEND_DST_ALPHA" type="xs:int"/>
<xs:attribute name="BLEND_SRC_ALPHA" type="xs:int"/>
<xs:attribute name="CONSTANT_COLOR" type="xs:int"/>
<xs:attribute name="ONE_MINUS_CONSTANT_COLOR" type="xs:int"/>
<xs:attribute name="CONSTANT_ALPHA" type="xs:int"/>
<xs:attribute name="ONE_MINUS_CONSTANT_ALPHA" type="xs:int"/>
<xs:attribute name="BLEND_COLOR" type="xs:int"/>
<xs:attribute name="ARRAY_BUFFER" type="xs:int"/>
<xs:attribute name="ELEMENT_ARRAY_BUFFER" type="xs:int"/>
<xs:attribute name="ARRAY_BUFFER_BINDING" type="xs:int"/>
<xs:attribute name="ELEMENT_ARRAY_BUFFER_BINDING" type="xs:int"/>
<xs:attribute name="STREAM_DRAW" type="xs:int"/>
<xs:attribute name="STATIC_DRAW" type="xs:int"/>
<xs:attribute name="DYNAMIC_DRAW" type="xs:int"/>
<xs:attribute name="BUFFER_SIZE" type="xs:int"/>
<xs:attribute name="BUFFER_USAGE" type="xs:int"/>
<xs:attribute name="CURRENT_VERTEX_ATTRIB" type="xs:int"/>
<xs:attribute name="FRONT" type="xs:int"/>
<xs:attribute name="BACK" type="xs:int"/>
<xs:attribute name="FRONT_AND_BACK" type="xs:int"/>
<xs:attribute name="CULL_FACE" type="xs:int"/>
<xs:attribute name="BLEND" type="xs:int"/>
<xs:attribute name="DITHER" type="xs:int"/>
<xs:attribute name="STENCIL_TEST" type="xs:int"/>
<xs:attribute name="DEPTH_TEST" type="xs:int"/>
<xs:attribute name="SCISSOR_TEST" type="xs:int"/>
<xs:attribute name="POLYGON_OFFSET_FILL" type="xs:int"/>
<xs:attribute name="SAMPLE_ALPHA_TO_COVERAGE" type="xs:int"/>
<xs:attribute name="SAMPLE_COVERAGE" type="xs:int"/>
<xs:attribute name="NO_ERROR" type="xs:int"/>
<xs:attribute name="INVALID_ENUM" type="xs:int"/>
<xs:attribute name="INVALID_VALUE" type="xs:int"/>
<xs:attribute name="INVALID_OPERATION" type="xs:int"/>
<xs:attribute name="OUT_OF_MEMORY" type="xs:int"/>
<xs:attribute name="CW" type="xs:int"/>
<xs:attribute name="CCW" type="xs:int"/>
<xs:attribute name="LINE_WIDTH" type="xs:int"/>
<xs:attribute name="ALIASED_POINT_SIZE_RANGE" type="xs:int"/>
<xs:attribute name="ALIASED_LINE_WIDTH_RANGE" type="xs:int"/>
<xs:attribute name="CULL_FACE_MODE" type="xs:int"/>
<xs:attribute name="FRONT_FACE" type="xs:int"/>
<xs:attribute name="DEPTH_RANGE" type="xs:int"/>
<xs:attribute name="DEPTH_WRITEMASK" type="xs:int"/>
<xs:attribute name="DEPTH_CLEAR_VALUE" type="xs:int"/>
<xs:attribute name="DEPTH_FUNC" type="xs:int"/>
<xs:attribute name="STENCIL_CLEAR_VALUE" type="xs:int"/>
<xs:attribute name="STENCIL_FUNC" type="xs:int"/>
<xs:attribute name="STENCIL_FAIL" type="xs:int"/>
<xs:attribute name="STENCIL_PASS_DEPTH_FAIL" type="xs:int"/>
<xs:attribute name="STENCIL_PASS_DEPTH_PASS" type="xs:int"/>
<xs:attribute name="STENCIL_REF" type="xs:int"/>
<xs:attribute name="STENCIL_VALUE_MASK" type="xs:int"/>
<xs:attribute name="STENCIL_WRITEMASK" type="xs:int"/>
<xs:attribute name="STENCIL_BACK_FUNC" type="xs:int"/>
<xs:attribute name="STENCIL_BACK_FAIL" type="xs:int"/>
<xs:attribute name="STENCIL_BACK_PASS_DEPTH_FAIL" type="xs:int"/>
<xs:attribute name="STENCIL_BACK_PASS_DEPTH_PASS" type="xs:int"/>
<xs:attribute name="STENCIL_BACK_REF" type="xs:int"/>
<xs:attribute name="STENCIL_BACK_VALUE_MASK" type="xs:int"/>
<xs:attribute name="STENCIL_BACK_WRITEMASK" type="xs:int"/>
<xs:attribute name="VIEWPORT" type="xs:int"/>
<xs:attribute name="SCISSOR_BOX" type="xs:int"/>
<xs:attribute name="COLOR_CLEAR_VALUE" type="xs:int"/>
<xs:attribute name="COLOR_WRITEMASK" type="xs:int"/>
<xs:attribute name="UNPACK_ALIGNMENT" type="xs:int"/>
<xs:attribute name="PACK_ALIGNMENT" type="xs:int"/>
<xs:attribute name="MAX_TEXTURE_SIZE" type="xs:int"/>
<xs:attribute name="MAX_VIEWPORT_DIMS" type="xs:int"/>
<xs:attribute name="SUBPIXEL_BITS" type="xs:int"/>
<xs:attribute name="RED_BITS" type="xs:int"/>
<xs:attribute name="GREEN_BITS" type="xs:int"/>
<xs:attribute name="BLUE_BITS" type="xs:int"/>
<xs:attribute name="ALPHA_BITS" type="xs:int"/>
<xs:attribute name="DEPTH_BITS" type="xs:int"/>
<xs:attribute name="STENCIL_BITS" type="xs:int"/>
<xs:attribute name="POLYGON_OFFSET_UNITS" type="xs:int"/>
<xs:attribute name="POLYGON_OFFSET_FACTOR" type="xs:int"/>
<xs:attribute name="TEXTURE_BINDING_2D" type="xs:int"/>
<xs:attribute name="SAMPLE_BUFFERS" type="xs:int"/>
<xs:attribute name="SAMPLES" type="xs:int"/>
<xs:attribute name="SAMPLE_COVERAGE_VALUE" type="xs:int"/>
<xs:attribute name="SAMPLE_COVERAGE_INVERT" type="xs:int"/>
<xs:attribute name="COMPRESSED_TEXTURE_FORMATS" type="xs:int"/>
<xs:attribute name="DONT_CARE" type="xs:int"/>
<xs:attribute name="FASTEST" type="xs:int"/>
<xs:attribute name="NICEST" type="xs:int"/>
<xs:attribute name="GENERATE_MIPMAP_HINT" type="xs:int"/>
<xs:attribute name="BYTE" type="xs:int"/>
<xs:attribute name="UNSIGNED_BYTE" type="xs:int"/>
<xs:attribute name="SHORT" type="xs:int"/>
<xs:attribute name="UNSIGNED_SHORT" type="xs:int"/>
<xs:attribute name="INT" type="xs:int"/>
<xs:attribute name="UNSIGNED_INT" type="xs:int"/>
<xs:attribute name="FLOAT" type="xs:int"/>
<xs:attribute name="DEPTH_COMPONENT" type="xs:int"/>
<xs:attribute name="ALPHA" type="xs:int"/>
<xs:attribute name="RGB" type="xs:int"/>
<xs:attribute name="RGBA" type="xs:int"/>
<xs:attribute name="BGR_EXT" type="xs:int"/>
<xs:attribute name="BGRA_EXT" type="xs:int"/>
<xs:attribute name="LUMINANCE" type="xs:int"/>
<xs:attribute name="LUMINANCE_ALPHA" type="xs:int"/>
<xs:attribute name="UNSIGNED_SHORT_4_4_4_4" type="xs:int"/>
<xs:attribute name="UNSIGNED_SHORT_5_5_5_1" type="xs:int"/>
<xs:attribute name="UNSIGNED_SHORT_5_6_5" type="xs:int"/>
<xs:attribute name="FRAGMENT_SHADER" type="xs:int"/>
<xs:attribute name="VERTEX_SHADER" type="xs:int"/>
<xs:attribute name="MAX_VERTEX_ATTRIBS" type="xs:int"/>
<xs:attribute name="MAX_VERTEX_UNIFORM_VECTORS" type="xs:int"/>
<xs:attribute name="MAX_VARYING_VECTORS" type="xs:int"/>
<xs:attribute name="MAX_COMBINED_TEXTURE_IMAGE_UNITS" type="xs:int"/>
<xs:attribute name="MAX_VERTEX_TEXTURE_IMAGE_UNITS" type="xs:int"/>
<xs:attribute name="MAX_TEXTURE_IMAGE_UNITS" type="xs:int"/>
<xs:attribute name="MAX_FRAGMENT_UNIFORM_VECTORS" type="xs:int"/>
<xs:attribute name="SHADER_TYPE" type="xs:int"/>
<xs:attribute name="DELETE_STATUS" type="xs:int"/>
<xs:attribute name="LINK_STATUS" type="xs:int"/>
<xs:attribute name="VALIDATE_STATUS" type="xs:int"/>
<xs:attribute name="ATTACHED_SHADERS" type="xs:int"/>
<xs:attribute name="ACTIVE_UNIFORMS" type="xs:int"/>
<xs:attribute name="ACTIVE_ATTRIBUTES" type="xs:int"/>
<xs:attribute name="SHADING_LANGUAGE_VERSION" type="xs:int"/>
<xs:attribute name="CURRENT_PROGRAM" type="xs:int"/>
<xs:attribute name="NEVER" type="xs:int"/>
<xs:attribute name="LESS" type="xs:int"/>
<xs:attribute name="EQUAL" type="xs:int"/>
<xs:attribute name="LEQUAL" type="xs:int"/>
<xs:attribute name="GREATER" type="xs:int"/>
<xs:attribute name="NOTEQUAL" type="xs:int"/>
<xs:attribute name="GEQUAL" type="xs:int"/>
<xs:attribute name="ALWAYS" type="xs:int"/>
<xs:attribute name="KEEP" type="xs:int"/>
<xs:attribute name="REPLACE" type="xs:int"/>
<xs:attribute name="INCR" type="xs:int"/>
<xs:attribute name="DECR" type="xs:int"/>
<xs:attribute name="INVERT" type="xs:int"/>
<xs:attribute name="INCR_WRAP" type="xs:int"/>
<xs:attribute name="DECR_WRAP" type="xs:int"/>
<xs:attribute name="VENDOR" type="xs:int"/>
<xs:attribute name="RENDERER" type="xs:int"/>
<xs:attribute name="VERSION" type="xs:int"/>
<xs:attribute name="NEAREST" type="xs:int"/>
<xs:attribute name="LINEAR" type="xs:int"/>
<xs:attribute name="NEAREST_MIPMAP_NEAREST" type="xs:int"/>
<xs:attribute name="LINEAR_MIPMAP_NEAREST" type="xs:int"/>
<xs:attribute name="NEAREST_MIPMAP_LINEAR" type="xs:int"/>
<xs:attribute name="LINEAR_MIPMAP_LINEAR" type="xs:int"/>
<xs:attribute name="TEXTURE_MAG_FILTER" type="xs:int"/>
<xs:attribute name="TEXTURE_MIN_FILTER" type="xs:int"/>
<xs:attribute name="TEXTURE_WRAP_S" type="xs:int"/>
<xs:attribute name="TEXTURE_WRAP_T" type="xs:int"/>
<xs:attribute name="TEXTURE_2D" type="xs:int"/>
<xs:attribute name="TEXTURE" type="xs:int"/>
<xs:attribute name="TEXTURE_CUBE_MAP" type="xs:int"/>
<xs:attribute name="TEXTURE_BINDING_CUBE_MAP" type="xs:int"/>
<xs:attribute name="TEXTURE_CUBE_MAP_POSITIVE_X" type="xs:int"/>
<xs:attribute name="TEXTURE_CUBE_MAP_NEGATIVE_X" type="xs:int"/>
<xs:attribute name="TEXTURE_CUBE_MAP_POSITIVE_Y" type="xs:int"/>
<xs:attribute name="TEXTURE_CUBE_MAP_NEGATIVE_Y" type="xs:int"/>
<xs:attribute name="TEXTURE_CUBE_MAP_POSITIVE_Z" type="xs:int"/>
<xs:attribute name="TEXTURE_CUBE_MAP_NEGATIVE_Z" type="xs:int"/>
<xs:attribute name="MAX_CUBE_MAP_TEXTURE_SIZE" type="xs:int"/>
<xs:attribute name="TEXTURE0" type="xs:int"/>
<xs:attribute name="TEXTURE1" type="xs:int"/>
<xs:attribute name="TEXTURE2" type="xs:int"/>
<xs:attribute name="TEXTURE3" type="xs:int"/>
<xs:attribute name="TEXTURE4" type="xs:int"/>
<xs:attribute name="TEXTURE5" type="xs:int"/>
<xs:attribute name="TEXTURE6" type="xs:int"/>
<xs:attribute name="TEXTURE7" type="xs:int"/>
<xs:attribute name="TEXTURE8" type="xs:int"/>
<xs:attribute name="TEXTURE9" type="xs:int"/>
<xs:attribute name="TEXTURE10" type="xs:int"/>
<xs:attribute name="TEXTURE11" type="xs:int"/>
<xs:attribute name="TEXTURE12" type="xs:int"/>
<xs:attribute name="TEXTURE13" type="xs:int"/>
<xs:attribute name="TEXTURE14" type="xs:int"/>
<xs:attribute name="TEXTURE15" type="xs:int"/>
<xs:attribute name="TEXTURE16" type="xs:int"/>
<xs:attribute name="TEXTURE17" type="xs:int"/>
<xs:attribute name="TEXTURE18" type="xs:int"/>
<xs:attribute name="TEXTURE19" type="xs:int"/>
<xs:attribute name="TEXTURE20" type="xs:int"/>
<xs:attribute name="TEXTURE21" type="xs:int"/>
<xs:attribute name="TEXTURE22" type="xs:int"/>
<xs:attribute name="TEXTURE23" type="xs:int"/>
<xs:attribute name="TEXTURE24" type="xs:int"/>
<xs:attribute name="TEXTURE25" type="xs:int"/>
<xs:attribute name="TEXTURE26" type="xs:int"/>
<xs:attribute name="TEXTURE27" type="xs:int"/>
<xs:attribute name="TEXTURE28" type="xs:int"/>
<xs:attribute name="TEXTURE29" type="xs:int"/>
<xs:attribute name="TEXTURE30" type="xs:int"/>
<xs:attribute name="TEXTURE31" type="xs:int"/>
<xs:attribute name="ACTIVE_TEXTURE" type="xs:int"/>
<xs:attribute name="REPEAT" type="xs:int"/>
<xs:attribute name="CLAMP_TO_EDGE" type="xs:int"/>
<xs:attribute name="MIRRORED_REPEAT" type="xs:int"/>
<xs:attribute name="FLOAT_VEC2" type="xs:int"/>
<xs:attribute name="FLOAT_VEC3" type="xs:int"/>
<xs:attribute name="FLOAT_VEC4" type="xs:int"/>
<xs:attribute name="INT_VEC2" type="xs:int"/>
<xs:attribute name="INT_VEC3" type="xs:int"/>
<xs:attribute name="INT_VEC4" type="xs:int"/>
<xs:attribute name="BOOL" type="xs:int"/>
<xs:attribute name="BOOL_VEC2" type="xs:int"/>
<xs:attribute name="BOOL_VEC3" type="xs:int"/>
<xs:attribute name="BOOL_VEC4" type="xs:int"/>
<xs:attribute name="FLOAT_MAT2" type="xs:int"/>
<xs:attribute name="FLOAT_MAT3" type="xs:int"/>
<xs:attribute name="FLOAT_MAT4" type="xs:int"/>
<xs:attribute name="SAMPLER_2D" type="xs:int"/>
<xs:attribute name="SAMPLER_CUBE" type="xs:int"/>
<xs:attribute name="VERTEX_ATTRIB_ARRAY_ENABLED" type="xs:int"/>
<xs:attribute name="VERTEX_ATTRIB_ARRAY_SIZE" type="xs:int"/>
<xs:attribute name="VERTEX_ATTRIB_ARRAY_STRIDE" type="xs:int"/>
<xs:attribute name="VERTEX_ATTRIB_ARRAY_TYPE" type="xs:int"/>
<xs:attribute name="VERTEX_ATTRIB_ARRAY_NORMALIZED" type="xs:int"/>
<xs:attribute name="VERTEX_ATTRIB_ARRAY_POINTER" type="xs:int"/>
<xs:attribute name="VERTEX_ATTRIB_ARRAY_BUFFER_BINDING" type="xs:int"/>
<xs:attribute name="VERTEX_PROGRAM_POINT_SIZE" type="xs:int"/>
<xs:attribute name="POINT_SPRITE" type="xs:int"/>
<xs:attribute name="COMPILE_STATUS" type="xs:int"/>
<xs:attribute name="LOW_FLOAT" type="xs:int"/>
<xs:attribute name="MEDIUM_FLOAT" type="xs:int"/>
<xs:attribute name="HIGH_FLOAT" type="xs:int"/>
<xs:attribute name="LOW_INT" type="xs:int"/>
<xs:attribute name="MEDIUM_INT" type="xs:int"/>
<xs:attribute name="HIGH_INT" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER" type="xs:int"/>
<xs:attribute name="RENDERBUFFER" type="xs:int"/>
<xs:attribute name="RGBA4" type="xs:int"/>
<xs:attribute name="RGB5_A1" type="xs:int"/>
<xs:attribute name="RGB565" type="xs:int"/>
<xs:attribute name="DEPTH_COMPONENT16" type="xs:int"/>
<xs:attribute name="STENCIL_INDEX" type="xs:int"/>
<xs:attribute name="STENCIL_INDEX8" type="xs:int"/>
<xs:attribute name="DEPTH_STENCIL" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_WIDTH" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_HEIGHT" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_INTERNAL_FORMAT" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_RED_SIZE" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_GREEN_SIZE" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_BLUE_SIZE" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_ALPHA_SIZE" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_DEPTH_SIZE" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_STENCIL_SIZE" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_ATTACHMENT_OBJECT_TYPE" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_ATTACHMENT_OBJECT_NAME" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_ATTACHMENT_TEXTURE_LEVEL" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_ATTACHMENT_TEXTURE_CUBE_MAP_FACE" type="xs:int"/>
<xs:attribute name="COLOR_ATTACHMENT0" type="xs:int"/>
<xs:attribute name="DEPTH_ATTACHMENT" type="xs:int"/>
<xs:attribute name="STENCIL_ATTACHMENT" type="xs:int"/>
<xs:attribute name="DEPTH_STENCIL_ATTACHMENT" type="xs:int"/>
<xs:attribute name="NONE" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_COMPLETE" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_INCOMPLETE_ATTACHMENT" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_INCOMPLETE_MISSING_ATTACHMENT" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_INCOMPLETE_DIMENSIONS" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_UNSUPPORTED" type="xs:int"/>
<xs:attribute name="FRAMEBUFFER_BINDING" type="xs:int"/>
<xs:attribute name="RENDERBUFFER_BINDING" type="xs:int"/>
<xs:attribute name="MAX_RENDERBUFFER_SIZE" type="xs:int"/>
<xs:attribute name="INVALID_FRAMEBUFFER_OPERATION" type="xs:int"/>
<xs:attribute name="UNPACK_FLIP_Y_WEBGL" type="xs:int"/>
<xs:attribute name="UNPACK_PREMULTIPLY_ALPHA_WEBGL" type="xs:int"/>
<xs:attribute name="CONTEXT_LOST_WEBGL" type="xs:int"/>
<xs:attribute name="UNPACK_COLORSPACE_CONVERSION_WEBGL" type="xs:int"/>
<xs:attribute name="BROWSER_DEFAULT_WEBGL" type="xs:int"/>
<xs:attribute name="version" type="xs:int"/>
<xs:attribute name="activeTexture" type="xs:string"/>
<xs:attribute name="attachShader" type="xs:string"/>
<xs:attribute name="bindAttribLocation" type="xs:string"/>
<xs:attribute name="bindBuffer" type="xs:string"/>
<xs:attribute name="bindFramebuffer" type="xs:string"/>
<xs:attribute name="bindRenderbuffer" type="xs:string"/>
<xs:attribute name="bindTexture" type="xs:string"/>
<xs:attribute name="blendColor" type="xs:string"/>
<xs:attribute name="blendEquation" type="xs:string"/>
<xs:attribute name="blendEquationSeparate" type="xs:string"/>
<xs:attribute name="blendFunc" type="xs:string"/>
<xs:attribute name="blendFuncSeparate" type="xs:string"/>
<xs:attribute name="bufferData" type="xs:string"/>
<xs:attribute name="bufferSubData" type="xs:string"/>
<xs:attribute name="checkFramebufferStatus" type="xs:string"/>
<xs:attribute name="clear" type="xs:string"/>
<xs:attribute name="clearColor" type="xs:string"/>
<xs:attribute name="clearDepth" type="xs:string"/>
<xs:attribute name="clearStencil" type="xs:string"/>
<xs:attribute name="colorMask" type="xs:string"/>
<xs:attribute name="compileShader" type="xs:string"/>
<xs:attribute name="compressedTexImage2D" type="xs:string"/>
<xs:attribute name="compressedTexSubImage2D" type="xs:string"/>
<xs:attribute name="copyTexImage2D" type="xs:string"/>
<xs:attribute name="copyTexSubImage2D" type="xs:string"/>
<xs:attribute name="createBuffer" type="xs:string"/>
<xs:attribute name="createFramebuffer" type="xs:string"/>
<xs:attribute name="createProgram" type="xs:string"/>
<xs:attribute name="createRenderbuffer" type="xs:string"/>
<xs:attribute name="createShader" type="xs:string"/>
<xs:attribute name="createTexture" type="xs:string"/>
<xs:attribute name="cullFace" type="xs:string"/>
<xs:attribute name="deleteBuffer" type="xs:string"/>
<xs:attribute name="deleteFramebuffer" type="xs:string"/>
<xs:attribute name="deleteProgram" type="xs:string"/>
<xs:attribute name="deleteRenderbuffer" type="xs:string"/>
<xs:attribute name="deleteShader" type="xs:string"/>
<xs:attribute name="deleteTexture" type="xs:string"/>
<xs:attribute name="depthFunc" type="xs:string"/>
<xs:attribute name="depthMask" type="xs:string"/>
<xs:attribute name="depthRange" type="xs:string"/>
<xs:attribute name="detachShader" type="xs:string"/>
<xs:attribute name="disable" type="xs:string"/>
<xs:attribute name="disableVertexAttribArray" type="xs:string"/>
<xs:attribute name="drawArrays" type="xs:string"/>
<xs:attribute name="drawElements" type="xs:string"/>
<xs:attribute name="enable" type="xs:string"/>
<xs:attribute name="enableVertexAttribArray" type="xs:string"/>
<xs:attribute name="finish" type="xs:string"/>
<xs:attribute name="flush" type="xs:string"/>
<xs:attribute name="framebufferRenderbuffer" type="xs:string"/>
<xs:attribute name="framebufferTexture2D" type="xs:string"/>
<xs:attribute name="frontFace" type="xs:string"/>
<xs:attribute name="generateMipmap" type="xs:string"/>
<xs:attribute name="getActiveAttrib" type="xs:string"/>
<xs:attribute name="getActiveUniform" type="xs:string"/>
<xs:attribute name="getAttachedShaders" type="xs:string"/>
<xs:attribute name="getAttribLocation" type="xs:string"/>
<xs:attribute name="getBufferParameter" type="xs:string"/>
<xs:attribute name="getContextAttributes" type="xs:string"/>
<xs:attribute name="getError" type="xs:string"/>
<xs:attribute name="getExtension" type="xs:string"/>
<xs:attribute name="getFramebufferAttachmentParameter" type="xs:string"/>
<xs:attribute name="getParameter" type="xs:string"/>
<xs:attribute name="getProgramInfoLog" type="xs:string"/>
<xs:attribute name="getProgramParameter" type="xs:string"/>
<xs:attribute name="getRenderbufferParameter" type="xs:string"/>
<xs:attribute name="getShaderInfoLog" type="xs:string"/>
<xs:attribute name="getShaderParameter" type="xs:string"/>
<xs:attribute name="getShaderPrecisionFormat" type="xs:string"/>
<xs:attribute name="getShaderSource" type="xs:string"/>
<xs:attribute name="getSupportedExtensions" type="xs:string"/>
<xs:attribute name="getTexParameter" type="xs:string"/>
<xs:attribute name="getUniform" type="xs:string"/>
<xs:attribute name="getUniformLocation" type="xs:string"/>
<xs:attribute name="getVertexAttrib" type="xs:string"/>
<xs:attribute name="getVertexAttribOffset" type="xs:string"/>
<xs:attribute name="hint" type="xs:string"/>
<xs:attribute name="isBuffer" type="xs:string"/>
<xs:attribute name="isContextLost" type="xs:string"/>
<xs:attribute name="isEnabled" type="xs:string"/>
<xs:attribute name="isFramebuffer" type="xs:string"/>
<xs:attribute name="isProgram" type="xs:string"/>
<xs:attribute name="isRenderbuffer" type="xs:string"/>
<xs:attribute name="isShader" type="xs:string"/>
<xs:attribute name="isTexture" type="xs:string"/>
<xs:attribute name="lineWidth" type="xs:string"/>
<xs:attribute name="linkProgram" type="xs:string"/>
<xs:attribute name="pixelStorei" type="xs:string"/>
<xs:attribute name="polygonOffset" type="xs:string"/>
<xs:attribute name="readPixels" type="xs:string"/>
<xs:attribute name="renderbufferStorage" type="xs:string"/>
<xs:attribute name="sampleCoverage" type="xs:string"/>
<xs:attribute name="scissor" type="xs:string"/>
<xs:attribute name="shaderSource" type="xs:string"/>
<xs:attribute name="stencilFunc" type="xs:string"/>
<xs:attribute name="stencilFuncSeparate" type="xs:string"/>
<xs:attribute name="stencilMask" type="xs:string"/>
<xs:attribute name="stencilMaskSeparate" type="xs:string"/>
<xs:attribute name="stencilOp" type="xs:string"/>
<xs:attribute name="stencilOpSeparate" type="xs:string"/>
<xs:attribute name="texImage2D" type="xs:string"/>
<xs:attribute name="texParameterf" type="xs:string"/>
<xs:attribute name="texParameteri" type="xs:string"/>
<xs:attribute name="texSubImage2D" type="xs:string"/>
<xs:attribute name="uniform1f" type="xs:string"/>
<xs:attribute name="uniform1fv" type="xs:string"/>
<xs:attribute name="uniform1i" type="xs:string"/>
<xs:attribute name="uniform1iv" type="xs:string"/>
<xs:attribute name="uniform2f" type="xs:string"/>
<xs:attribute name="uniform2fv" type="xs:string"/>
<xs:attribute name="uniform2i" type="xs:string"/>
<xs:attribute name="uniform2iv" type="xs:string"/>
<xs:attribute name="uniform3f" type="xs:string"/>
<xs:attribute name="uniform3fv" type="xs:string"/>
<xs:attribute name="uniform3i" type="xs:string"/>
<xs:attribute name="uniform3iv" type="xs:string"/>
<xs:attribute name="uniform4f" type="xs:string"/>
<xs:attribute name="uniform4fv" type="xs:string"/>
<xs:attribute name="uniform4i" type="xs:string"/>
<xs:attribute name="uniform4iv" type="xs:string"/>
<xs:attribute name="uniformMatrix2fv" type="xs:string"/>
<xs:attribute name="uniformMatrix3fv" type="xs:string"/>
<xs:attribute name="uniformMatrix4fv" type="xs:string"/>
<xs:attribute name="useProgram" type="xs:string"/>
<xs:attribute name="validateProgram" type="xs:string"/>
<xs:attribute name="vertexAttrib1f" type="xs:string"/>
<xs:attribute name="vertexAttrib1fv" type="xs:string"/>
<xs:attribute name="vertexAttrib2f" type="xs:string"/>
<xs:attribute name="vertexAttrib2fv" type="xs:string"/>
<xs:attribute name="vertexAttrib3f" type="xs:string"/>
<xs:attribute name="vertexAttrib3fv" type="xs:string"/>
<xs:attribute name="vertexAttrib4f" type="xs:string"/>
<xs:attribute name="vertexAttrib4fv" type="xs:string"/>
<xs:attribute name="vertexAttribPointer" type="xs:string"/>
<xs:attribute name="viewport" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ImageBufferSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="bitsPerPixel" type="xs:int"/>
<xs:element minOccurs="0" name="data" type="xs:string"/>
<xs:element minOccurs="0" name="format" type="xs:string"/>
<xs:element minOccurs="0" name="height" type="xs:int"/>
<xs:element minOccurs="0" name="premultiplied" type="xs:boolean"/>
<xs:element minOccurs="0" name="src" type="xs:string"/>
<xs:element minOccurs="0" name="stride" type="xs:int"/>
<xs:element minOccurs="0" name="transparent" type="xs:boolean"/>
<xs:element minOccurs="0" name="width" type="xs:int"/>
</xs:all>
<xs:attribute name="bitsPerPixel" type="xs:int"/>
<xs:attribute name="data" type="xs:string"/>
<xs:attribute name="format" type="xs:string"/>
<xs:attribute name="height" type="xs:int"/>
<xs:attribute name="premultiplied" type="xs:boolean"/>
<xs:attribute name="src" type="xs:string"/>
<xs:attribute name="stride" type="xs:int"/>
<xs:attribute name="transparent" type="xs:boolean"/>
<xs:attribute name="width" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="RendererSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="context" type="xs:string"/>
<xs:element minOccurs="0" name="onContextLost" type="lime-app:Event_Void_VoidSchemaTypeValue"/>
<xs:element minOccurs="0" name="onContextRestored" type="lime-app:Event_lime_graphics_RenderContext_VoidSchemaTypeValue"/>
<xs:element minOccurs="0" name="onRender" type="lime-app:Event_Void_VoidSchemaTypeValue"/>
<xs:element minOccurs="0" name="type" type="xs:string"/>
<xs:element minOccurs="0" name="window" type="lime-ui:WindowSchemaTypeValue"/>
</xs:all>
<xs:attribute name="context" type="xs:string"/>
<xs:attribute name="onContextLost" type="xs:string"/>
<xs:attribute name="onContextRestored" type="xs:string"/>
<xs:attribute name="onRender" type="xs:string"/>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="window" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ConsoleRenderContextSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="width" type="xs:int"/>
<xs:element minOccurs="0" name="height" type="xs:int"/>
</xs:all>
<xs:attribute name="width" type="xs:int"/>
<xs:attribute name="height" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DOMRenderContextSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="accessKey" type="xs:string"/>
<xs:element minOccurs="0" name="align" type="xs:string"/>
<xs:element minOccurs="0" name="attributes" type="xs:string"/>
<xs:element minOccurs="0" name="baseURI" type="xs:string"/>
<xs:element minOccurs="0" name="childElementCount" type="xs:int"/>
<xs:element minOccurs="0" name="childNodes" type="xs:string"/>
<xs:element minOccurs="0" name="children" type="xs:string"/>
<xs:element minOccurs="0" name="classList" type="xs:string"/>
<xs:element minOccurs="0" name="className" type="xs:string"/>
<xs:element minOccurs="0" name="clientHeight" type="xs:int"/>
<xs:element minOccurs="0" name="clientLeft" type="xs:int"/>
<xs:element minOccurs="0" name="clientTop" type="xs:int"/>
<xs:element minOccurs="0" name="clientWidth" type="xs:int"/>
<xs:element minOccurs="0" name="contentEditable" type="xs:string"/>
<xs:element minOccurs="0" name="dataset" type="xs:string"/>
<xs:element minOccurs="0" name="dir" type="xs:string"/>
<xs:element minOccurs="0" name="draggable" type="xs:boolean"/>
<xs:element minOccurs="0" name="dropzone" type="xs:string"/>
<xs:element minOccurs="0" name="firstChild" type="xs:string"/>
<xs:element minOccurs="0" name="firstElementChild" type="xs:string"/>
<xs:element minOccurs="0" name="hidden" type="xs:boolean"/>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="innerHTML" type="xs:string"/>
<xs:element minOccurs="0" name="innerText" type="xs:string"/>
<xs:element minOccurs="0" name="isContentEditable" type="xs:boolean"/>
<xs:element minOccurs="0" name="lang" type="xs:string"/>
<xs:element minOccurs="0" name="lastChild" type="xs:string"/>
<xs:element minOccurs="0" name="lastElementChild" type="xs:string"/>
<xs:element minOccurs="0" name="localName" type="xs:string"/>
<xs:element minOccurs="0" name="namespaceURI" type="xs:string"/>
<xs:element minOccurs="0" name="nextElementSibling" type="xs:string"/>
<xs:element minOccurs="0" name="nextSibling" type="xs:string"/>
<xs:element minOccurs="0" name="nodeName" type="xs:string"/>
<xs:element minOccurs="0" name="nodeType" type="xs:int"/>
<xs:element minOccurs="0" name="nodeValue" type="xs:string"/>
<xs:element minOccurs="0" name="offsetHeight" type="xs:int"/>
<xs:element minOccurs="0" name="offsetLeft" type="xs:int"/>
<xs:element minOccurs="0" name="offsetParent" type="xs:string"/>
<xs:element minOccurs="0" name="offsetTop" type="xs:int"/>
<xs:element minOccurs="0" name="offsetWidth" type="xs:int"/>
<xs:element minOccurs="0" name="onabort" type="xs:string"/>
<xs:element minOccurs="0" name="onbeforecopy" type="xs:string"/>
<xs:element minOccurs="0" name="onbeforecut" type="xs:string"/>
<xs:element minOccurs="0" name="onbeforepaste" type="xs:string"/>
<xs:element minOccurs="0" name="onblur" type="xs:string"/>
<xs:element minOccurs="0" name="onchange" type="xs:string"/>
<xs:element minOccurs="0" name="onclick" type="xs:string"/>
<xs:element minOccurs="0" name="oncontextmenu" type="xs:string"/>
<xs:element minOccurs="0" name="oncopy" type="xs:string"/>
<xs:element minOccurs="0" name="oncut" type="xs:string"/>
<xs:element minOccurs="0" name="ondblclick" type="xs:string"/>
<xs:element minOccurs="0" name="ondrag" type="xs:string"/>
<xs:element minOccurs="0" name="ondragend" type="xs:string"/>
<xs:element minOccurs="0" name="ondragenter" type="xs:string"/>
<xs:element minOccurs="0" name="ondragleave" type="xs:string"/>
<xs:element minOccurs="0" name="ondragover" type="xs:string"/>
<xs:element minOccurs="0" name="ondragstart" type="xs:string"/>
<xs:element minOccurs="0" name="ondrop" type="xs:string"/>
<xs:element minOccurs="0" name="onerror" type="xs:string"/>
<xs:element minOccurs="0" name="onfocus" type="xs:string"/>
<xs:element minOccurs="0" name="onfullscreenchange" type="xs:string"/>
<xs:element minOccurs="0" name="onfullscreenerror" type="xs:string"/>
<xs:element minOccurs="0" name="oninput" type="xs:string"/>
<xs:element minOccurs="0" name="oninvalid" type="xs:string"/>
<xs:element minOccurs="0" name="onkeydown" type="xs:string"/>
<xs:element minOccurs="0" name="onkeypress" type="xs:string"/>
<xs:element minOccurs="0" name="onkeyup" type="xs:string"/>
<xs:element minOccurs="0" name="onload" type="xs:string"/>
<xs:element minOccurs="0" name="onmousedown" type="xs:string"/>
<xs:element minOccurs="0" name="onmousemove" type="xs:string"/>
<xs:element minOccurs="0" name="onmouseout" type="xs:string"/>
<xs:element minOccurs="0" name="onmouseover" type="xs:string"/>
<xs:element minOccurs="0" name="onmouseup" type="xs:string"/>
<xs:element minOccurs="0" name="onmousewheel" type="xs:string"/>
<xs:element minOccurs="0" name="onpaste" type="xs:string"/>
<xs:element minOccurs="0" name="onreset" type="xs:string"/>
<xs:element minOccurs="0" name="onscroll" type="xs:string"/>
<xs:element minOccurs="0" name="onsearch" type="xs:string"/>
<xs:element minOccurs="0" name="onselect" type="xs:string"/>
<xs:element minOccurs="0" name="onselectstart" type="xs:string"/>
<xs:element minOccurs="0" name="onsubmit" type="xs:string"/>
<xs:element minOccurs="0" name="ontouchcancel" type="xs:string"/>
<xs:element minOccurs="0" name="ontouchend" type="xs:string"/>
<xs:element minOccurs="0" name="ontouchmove" type="xs:string"/>
<xs:element minOccurs="0" name="ontouchstart" type="xs:string"/>
<xs:element minOccurs="0" name="outerHTML" type="xs:string"/>
<xs:element minOccurs="0" name="outerText" type="xs:string"/>
<xs:element minOccurs="0" name="ownerDocument" type="xs:string"/>
<xs:element minOccurs="0" name="parentElement" type="xs:string"/>
<xs:element minOccurs="0" name="parentNode" type="xs:string"/>
<xs:element minOccurs="0" name="prefix" type="xs:string"/>
<xs:element minOccurs="0" name="previousElementSibling" type="xs:string"/>
<xs:element minOccurs="0" name="previousSibling" type="xs:string"/>
<xs:element minOccurs="0" name="pseudo" type="xs:string"/>
<xs:element minOccurs="0" name="scrollHeight" type="xs:int"/>
<xs:element minOccurs="0" name="scrollLeft" type="xs:int"/>
<xs:element minOccurs="0" name="scrollTop" type="xs:int"/>
<xs:element minOccurs="0" name="scrollWidth" type="xs:int"/>
<xs:element minOccurs="0" name="spellcheck" type="xs:boolean"/>
<xs:element minOccurs="0" name="style" type="xs:string"/>
<xs:element minOccurs="0" name="tabIndex" type="xs:int"/>
<xs:element minOccurs="0" name="tagName" type="xs:string"/>
<xs:element minOccurs="0" name="textContent" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="translate" type="xs:boolean"/>
</xs:all>
<xs:attribute name="accessKey" type="xs:string"/>
<xs:attribute name="align" type="xs:string"/>
<xs:attribute name="attributes" type="xs:string"/>
<xs:attribute name="baseURI" type="xs:string"/>
<xs:attribute name="childElementCount" type="xs:int"/>
<xs:attribute name="childNodes" type="xs:string"/>
<xs:attribute name="children" type="xs:string"/>
<xs:attribute name="classList" type="xs:string"/>
<xs:attribute name="className" type="xs:string"/>
<xs:attribute name="clientHeight" type="xs:int"/>
<xs:attribute name="clientLeft" type="xs:int"/>
<xs:attribute name="clientTop" type="xs:int"/>
<xs:attribute name="clientWidth" type="xs:int"/>
<xs:attribute name="contentEditable" type="xs:string"/>
<xs:attribute name="dataset" type="xs:string"/>
<xs:attribute name="dir" type="xs:string"/>
<xs:attribute name="draggable" type="xs:boolean"/>
<xs:attribute name="dropzone" type="xs:string"/>
<xs:attribute name="firstChild" type="xs:string"/>
<xs:attribute name="firstElementChild" type="xs:string"/>
<xs:attribute name="hidden" type="xs:boolean"/>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="innerHTML" type="xs:string"/>
<xs:attribute name="innerText" type="xs:string"/>
<xs:attribute name="isContentEditable" type="xs:boolean"/>
<xs:attribute name="lang" type="xs:string"/>
<xs:attribute name="lastChild" type="xs:string"/>
<xs:attribute name="lastElementChild" type="xs:string"/>
<xs:attribute name="localName" type="xs:string"/>
<xs:attribute name="namespaceURI" type="xs:string"/>
<xs:attribute name="nextElementSibling" type="xs:string"/>
<xs:attribute name="nextSibling" type="xs:string"/>
<xs:attribute name="nodeName" type="xs:string"/>
<xs:attribute name="nodeType" type="xs:int"/>
<xs:attribute name="nodeValue" type="xs:string"/>
<xs:attribute name="offsetHeight" type="xs:int"/>
<xs:attribute name="offsetLeft" type="xs:int"/>
<xs:attribute name="offsetParent" type="xs:string"/>
<xs:attribute name="offsetTop" type="xs:int"/>
<xs:attribute name="offsetWidth" type="xs:int"/>
<xs:attribute name="onabort" type="xs:string"/>
<xs:attribute name="onbeforecopy" type="xs:string"/>
<xs:attribute name="onbeforecut" type="xs:string"/>
<xs:attribute name="onbeforepaste" type="xs:string"/>
<xs:attribute name="onblur" type="xs:string"/>
<xs:attribute name="onchange" type="xs:string"/>
<xs:attribute name="onclick" type="xs:string"/>
<xs:attribute name="oncontextmenu" type="xs:string"/>
<xs:attribute name="oncopy" type="xs:string"/>
<xs:attribute name="oncut" type="xs:string"/>
<xs:attribute name="ondblclick" type="xs:string"/>
<xs:attribute name="ondrag" type="xs:string"/>
<xs:attribute name="ondragend" type="xs:string"/>
<xs:attribute name="ondragenter" type="xs:string"/>
<xs:attribute name="ondragleave" type="xs:string"/>
<xs:attribute name="ondragover" type="xs:string"/>
<xs:attribute name="ondragstart" type="xs:string"/>
<xs:attribute name="ondrop" type="xs:string"/>
<xs:attribute name="onerror" type="xs:string"/>
<xs:attribute name="onfocus" type="xs:string"/>
<xs:attribute name="onfullscreenchange" type="xs:string"/>
<xs:attribute name="onfullscreenerror" type="xs:string"/>
<xs:attribute name="oninput" type="xs:string"/>
<xs:attribute name="oninvalid" type="xs:string"/>
<xs:attribute name="onkeydown" type="xs:string"/>
<xs:attribute name="onkeypress" type="xs:string"/>
<xs:attribute name="onkeyup" type="xs:string"/>
<xs:attribute name="onload" type="xs:string"/>
<xs:attribute name="onmousedown" type="xs:string"/>
<xs:attribute name="onmousemove" type="xs:string"/>
<xs:attribute name="onmouseout" type="xs:string"/>
<xs:attribute name="onmouseover" type="xs:string"/>
<xs:attribute name="onmouseup" type="xs:string"/>
<xs:attribute name="onmousewheel" type="xs:string"/>
<xs:attribute name="onpaste" type="xs:string"/>
<xs:attribute name="onreset" type="xs:string"/>
<xs:attribute name="onscroll" type="xs:string"/>
<xs:attribute name="onsearch" type="xs:string"/>
<xs:attribute name="onselect" type="xs:string"/>
<xs:attribute name="onselectstart" type="xs:string"/>
<xs:attribute name="onsubmit" type="xs:string"/>
<xs:attribute name="ontouchcancel" type="xs:string"/>
<xs:attribute name="ontouchend" type="xs:string"/>
<xs:attribute name="ontouchmove" type="xs:string"/>
<xs:attribute name="ontouchstart" type="xs:string"/>
<xs:attribute name="outerHTML" type="xs:string"/>
<xs:attribute name="outerText" type="xs:string"/>
<xs:attribute name="ownerDocument" type="xs:string"/>
<xs:attribute name="parentElement" type="xs:string"/>
<xs:attribute name="parentNode" type="xs:string"/>
<xs:attribute name="prefix" type="xs:string"/>
<xs:attribute name="previousElementSibling" type="xs:string"/>
<xs:attribute name="previousSibling" type="xs:string"/>
<xs:attribute name="pseudo" type="xs:string"/>
<xs:attribute name="scrollHeight" type="xs:int"/>
<xs:attribute name="scrollLeft" type="xs:int"/>
<xs:attribute name="scrollTop" type="xs:int"/>
<xs:attribute name="scrollWidth" type="xs:int"/>
<xs:attribute name="spellcheck" type="xs:boolean"/>
<xs:attribute name="style" type="xs:string"/>
<xs:attribute name="tabIndex" type="xs:int"/>
<xs:attribute name="tagName" type="xs:string"/>
<xs:attribute name="textContent" type="xs:string"/>
<xs:attribute name="title" type="xs:string"/>
<xs:attribute name="translate" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ImageSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="buffer" type="ImageBufferSchemaTypeValue"/>
<xs:element minOccurs="0" name="data" type="xs:string"/>
<xs:element minOccurs="0" name="dirty" type="xs:boolean"/>
<xs:element minOccurs="0" name="format" type="xs:string"/>
<xs:element minOccurs="0" name="height" type="xs:int"/>
<xs:element minOccurs="0" name="offsetX" type="xs:int"/>
<xs:element minOccurs="0" name="offsetY" type="xs:int"/>
<xs:element minOccurs="0" name="powerOfTwo" type="xs:boolean"/>
<xs:element minOccurs="0" name="premultiplied" type="xs:boolean"/>
<xs:element minOccurs="0" name="rect" type="lime-math:RectangleSchemaTypeValue"/>
<xs:element minOccurs="0" name="src" type="xs:string"/>
<xs:element minOccurs="0" name="transparent" type="xs:boolean"/>
<xs:element minOccurs="0" name="type" type="xs:string"/>
<xs:element minOccurs="0" name="width" type="xs:int"/>
<xs:element minOccurs="0" name="x" type="xs:double"/>
<xs:element minOccurs="0" name="y" type="xs:double"/>
</xs:all>
<xs:attribute name="buffer" type="xs:string"/>
<xs:attribute name="data" type="xs:string"/>
<xs:attribute name="dirty" type="xs:boolean"/>
<xs:attribute name="format" type="xs:string"/>
<xs:attribute name="height" type="xs:int"/>
<xs:attribute name="offsetX" type="xs:int"/>
<xs:attribute name="offsetY" type="xs:int"/>
<xs:attribute name="powerOfTwo" type="xs:boolean"/>
<xs:attribute name="premultiplied" type="xs:boolean"/>
<xs:attribute name="rect" type="xs:string"/>
<xs:attribute name="src" type="xs:string"/>
<xs:attribute name="transparent" type="xs:boolean"/>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="width" type="xs:int"/>
<xs:attribute name="x" type="xs:double"/>
<xs:attribute name="y" type="xs:double"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="CanvasRenderContext" type="CanvasRenderContextSchemaType"/>
<xs:element name="GLRenderContext" type="GLRenderContextSchemaType"/>
<xs:element name="ImageBuffer" type="ImageBufferSchemaType"/>
<xs:element name="Renderer" type="RendererSchemaType"/>
<xs:element name="ConsoleRenderContext" type="ConsoleRenderContextSchemaType"/>
<xs:element name="DOMRenderContext" type="DOMRenderContextSchemaType"/>
<xs:element name="Image" type="ImageSchemaType"/>
</xs:schema>
