schema/lime._backend.native._NativeWindow.xsd

<xs:schema targetNamespace="lime._backend.native._NativeWindow" xmlns="lime._backend.native._NativeWindow" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="WindowFlags_Impl_SchemaTypeValue">
<xs:all><xs:element ref="WindowFlags_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="WindowFlags_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="WindowFlags_Impl_" type="WindowFlags_Impl_SchemaType"/>
</xs:schema>
