schema/lime.utils._UInt16Array.xsd

<xs:schema targetNamespace="lime.utils._UInt16Array" xmlns="lime.utils._UInt16Array" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="UInt16Array_Impl_SchemaTypeValue">
<xs:all><xs:element ref="UInt16Array_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="UInt16Array_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="UInt16Array_Impl_" type="UInt16Array_Impl_SchemaType"/>
</xs:schema>
