schema/openfl.text._FontType.xsd

<xs:schema targetNamespace="openfl.text._FontType" xmlns="openfl.text._FontType" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="FontType_Impl_SchemaTypeValue">
<xs:all><xs:element ref="FontType_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="FontType_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="FontType_Impl_" type="FontType_Impl_SchemaType"/>
</xs:schema>
