schema/openfl._Assets.xsd

<xs:schema targetNamespace="openfl._Assets" xmlns="openfl._Assets" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="AssetType_Impl_SchemaTypeValue">
<xs:all><xs:element ref="AssetType_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="AssetType_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="AssetType_Impl_" type="AssetType_Impl_SchemaType"/>
</xs:schema>
