schema/openfl.geom._Orientation3D.xsd

<xs:schema targetNamespace="openfl.geom._Orientation3D" xmlns="openfl.geom._Orientation3D" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="Orientation3D_Impl_SchemaTypeValue">
<xs:all><xs:element ref="Orientation3D_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="Orientation3D_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Orientation3D_Impl_" type="Orientation3D_Impl_SchemaType"/>
</xs:schema>
