schema/openfl.display._StageScaleMode.xsd

<xs:schema targetNamespace="openfl.display._StageScaleMode" xmlns="openfl.display._StageScaleMode" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="StageScaleMode_Impl_SchemaTypeValue">
<xs:all><xs:element ref="StageScaleMode_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="StageScaleMode_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="StageScaleMode_Impl_" type="StageScaleMode_Impl_SchemaType"/>
</xs:schema>
