schema/openfl._Vector.xsd

<xs:schema targetNamespace="openfl._Vector" xmlns="openfl._Vector" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="Vector_Impl_SchemaTypeValue">
<xs:all><xs:element ref="Vector_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="Vector_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Vector_Impl_" type="Vector_Impl_SchemaType"/>
</xs:schema>
