schema/openfl.display._LineScaleMode.xsd

<xs:schema targetNamespace="openfl.display._LineScaleMode" xmlns="openfl.display._LineScaleMode" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="LineScaleMode_Impl_SchemaTypeValue">
<xs:all><xs:element ref="LineScaleMode_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="LineScaleMode_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="LineScaleMode_Impl_" type="LineScaleMode_Impl_SchemaType"/>
</xs:schema>
