schema/openfl.display._StageAlign.xsd

<xs:schema targetNamespace="openfl.display._StageAlign" xmlns="openfl.display._StageAlign" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="StageAlign_Impl_SchemaTypeValue">
<xs:all><xs:element ref="StageAlign_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="StageAlign_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="StageAlign_Impl_" type="StageAlign_Impl_SchemaType"/>
</xs:schema>
