schema/openfl.net._URLRequestMethod.xsd

<xs:schema targetNamespace="openfl.net._URLRequestMethod" xmlns="openfl.net._URLRequestMethod" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="URLRequestMethod_Impl_SchemaTypeValue">
<xs:all><xs:element ref="URLRequestMethod_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="URLRequestMethod_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="URLRequestMethod_Impl_" type="URLRequestMethod_Impl_SchemaType"/>
</xs:schema>
