schema/openfl.text._TextFormatAlign.xsd

<xs:schema targetNamespace="openfl.text._TextFormatAlign" xmlns="openfl.text._TextFormatAlign" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="TextFormatAlign_Impl_SchemaTypeValue">
<xs:all><xs:element ref="TextFormatAlign_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="TextFormatAlign_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="TextFormatAlign_Impl_" type="TextFormatAlign_Impl_SchemaType"/>
</xs:schema>
