schema/openfl.ui._MultitouchInputMode.xsd

<xs:schema targetNamespace="openfl.ui._MultitouchInputMode" xmlns="openfl.ui._MultitouchInputMode" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="MultitouchInputMode_Impl_SchemaTypeValue">
<xs:all><xs:element ref="MultitouchInputMode_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="MultitouchInputMode_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="MultitouchInputMode_Impl_" type="MultitouchInputMode_Impl_SchemaType"/>
</xs:schema>
