schema/openfl.text._FontStyle.xsd

<xs:schema targetNamespace="openfl.text._FontStyle" xmlns="openfl.text._FontStyle" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:complexType name="FontStyle_Impl_SchemaTypeValue">
<xs:all><xs:element ref="FontStyle_Impl_"/></xs:all></xs:complexType>

<xs:complexType name="FontStyle_Impl_SchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="FontStyle_Impl_" type="FontStyle_Impl_SchemaType"/>
</xs:schema>
