schema/org.aswing.plaf.basic.xsd

<xs:schema targetNamespace="org.aswing.plaf.basic" xmlns="org.aswing.plaf.basic" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:org-aswing="org.aswing"
xmlns:org-aswing-plaf="org.aswing.plaf"
xmlns:empty="empty"
xmlns:org-aswing-plaf-basic-adjuster="org.aswing.plaf.basic.adjuster"
>
<xs:complexType name="BasicAdjusterUISchemaTypeValue">
<xs:element ref="BasicAdjusterUI"/></xs:complexType>

<xs:complexType name="BasicTableUISchemaTypeValue">
<xs:element ref="BasicTableUI"/></xs:complexType>

<xs:complexType name="BasicTextAreaUISchemaTypeValue">
<xs:element ref="BasicTextAreaUI"/></xs:complexType>

<xs:complexType name="BasicProgressBarUISchemaTypeValue">
<xs:element ref="BasicProgressBarUI"/></xs:complexType>

<xs:complexType name="BasicScrollBarUISchemaTypeValue">
<xs:element ref="BasicScrollBarUI"/></xs:complexType>

<xs:complexType name="BasicToolTipUISchemaTypeValue">
<xs:element ref="BasicToolTipUI"/></xs:complexType>

<xs:complexType name="BasicToggleButtonUISchemaTypeValue">
<xs:choice>
<xs:element ref="BasicRadioButtonUI" />
<xs:element ref="BasicCheckBoxUI" />
<xs:element ref="BasicToggleButtonUI"/></xs:choice>
</xs:complexType>

<xs:complexType name="BasicCheckBoxUISchemaTypeValue">
<xs:element ref="BasicCheckBoxUI"/></xs:complexType>

<xs:complexType name="BasicToolBarUISchemaTypeValue">
<xs:element ref="BasicToolBarUI"/></xs:complexType>

<xs:complexType name="BasicMenuItemUISchemaTypeValue">
<xs:choice>
<xs:element ref="BasicMenuUI" />
<xs:element ref="BasicCheckBoxMenuItemUI" />
<xs:element ref="BasicRadioButtonMenuItemUI" />
<xs:element ref="BasicMenuItemUI"/></xs:choice>
</xs:complexType>

<xs:complexType name="BasicFrameTitleBarUISchemaTypeValue">
<xs:element ref="BasicFrameTitleBarUI"/></xs:complexType>

<xs:complexType name="BasicScrollPaneUISchemaTypeValue">
<xs:element ref="BasicScrollPaneUI"/></xs:complexType>

<xs:complexType name="BasicClosableTabbedPaneUISchemaTypeValue">
<xs:element ref="BasicClosableTabbedPaneUI"/></xs:complexType>

<xs:complexType name="BasicSplitPaneUISchemaTypeValue">
<xs:element ref="BasicSplitPaneUI"/></xs:complexType>

<xs:complexType name="BasicTabbedPaneUISchemaTypeValue">
<xs:choice>
<xs:element ref="BasicClosableTabbedPaneUI" />
<xs:element ref="BasicTabbedPaneUI"/></xs:choice>
</xs:complexType>

<xs:complexType name="BasicTextFieldUISchemaTypeValue">
<xs:element ref="BasicTextFieldUI"/></xs:complexType>

<xs:complexType name="BasicPanelUISchemaTypeValue">
<xs:element ref="BasicPanelUI"/></xs:complexType>

<xs:complexType name="BasicGraphicsUtilsSchemaTypeValue">
<xs:element ref="BasicGraphicsUtils"/></xs:complexType>

<xs:complexType name="BasicFrameUISchemaTypeValue">
<xs:element ref="BasicFrameUI"/></xs:complexType>

<xs:complexType name="BasicColorMixerUISchemaTypeValue">
<xs:element ref="BasicColorMixerUI"/></xs:complexType>

<xs:complexType name="BasicSliderUISchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf-basic-adjuster:PopupSliderUI" />
<xs:element ref="BasicSliderUI"/></xs:choice>
</xs:complexType>

<xs:complexType name="BasicComboBoxUISchemaTypeValue">
<xs:element ref="BasicComboBoxUI"/></xs:complexType>

<xs:complexType name="BasicRadioButtonUISchemaTypeValue">
<xs:choice>
<xs:element ref="BasicCheckBoxUI" />
<xs:element ref="BasicRadioButtonUI"/></xs:choice>
</xs:complexType>

<xs:complexType name="BasicColorChooserUISchemaTypeValue">
<xs:element ref="BasicColorChooserUI"/></xs:complexType>

<xs:complexType name="BasicTreeUISchemaTypeValue">
<xs:element ref="BasicTreeUI"/></xs:complexType>

<xs:complexType name="BasicStepperUISchemaTypeValue">
<xs:element ref="BasicStepperUI"/></xs:complexType>

<xs:complexType name="BasicButtonUISchemaTypeValue">
<xs:choice>
<xs:element ref="BasicRadioButtonUI" />
<xs:element ref="BasicToggleButtonUI" />
<xs:element ref="BasicCheckBoxUI" />
<xs:element ref="BasicLabelButtonUI" />
<xs:element ref="BasicButtonUI"/></xs:choice>
</xs:complexType>

<xs:complexType name="BasicMenuBarUISchemaTypeValue">
<xs:element ref="BasicMenuBarUI"/></xs:complexType>

<xs:complexType name="BasicAccordionUISchemaTypeValue">
<xs:element ref="BasicAccordionUI"/></xs:complexType>

<xs:complexType name="BasicPopupMenuUISchemaTypeValue">
<xs:element ref="BasicPopupMenuUI"/></xs:complexType>

<xs:complexType name="BasicListUISchemaTypeValue">
<xs:element ref="BasicListUI"/></xs:complexType>

<xs:complexType name="BasicSpacerUISchemaTypeValue">
<xs:element ref="BasicSpacerUI"/></xs:complexType>

<xs:complexType name="BasicColorSwatchesUISchemaTypeValue">
<xs:element ref="BasicColorSwatchesUI"/></xs:complexType>

<xs:complexType name="ToolBarButtonBgAdapterSchemaTypeValue">
<xs:element ref="ToolBarButtonBgAdapter"/></xs:complexType>

<xs:complexType name="BasicViewportUISchemaTypeValue">
<xs:element ref="BasicViewportUI"/></xs:complexType>

<xs:complexType name="BasicSeparatorUISchemaTypeValue">
<xs:element ref="BasicSeparatorUI"/></xs:complexType>

<xs:complexType name="BasicLabelUISchemaTypeValue">
<xs:element ref="BasicLabelUI"/></xs:complexType>

<xs:complexType name="BasicCheckBoxMenuItemUISchemaTypeValue">
<xs:element ref="BasicCheckBoxMenuItemUI"/></xs:complexType>

<xs:complexType name="BasicTextComponentUISchemaTypeValue">
<xs:choice>
<xs:element ref="BasicTextAreaUI" />
<xs:element ref="BasicTextFieldUI" />
<xs:element ref="BasicTextComponentUI"/></xs:choice>
</xs:complexType>

<xs:complexType name="BasicTableHeaderUISchemaTypeValue">
<xs:element ref="BasicTableHeaderUI"/></xs:complexType>

<xs:complexType name="BasicLabelButtonUISchemaTypeValue">
<xs:element ref="BasicLabelButtonUI"/></xs:complexType>

<xs:complexType name="BasicLookAndFeelSchemaTypeValue">
<xs:element ref="BasicLookAndFeel"/></xs:complexType>

<xs:complexType name="BasicRadioButtonMenuItemUISchemaTypeValue">
<xs:element ref="BasicRadioButtonMenuItemUI"/></xs:complexType>

<xs:complexType name="BasicMenuUISchemaTypeValue">
<xs:element ref="BasicMenuUI"/></xs:complexType>

<xs:complexType name="DefaultMenuLayoutSchemaTypeValue">
<xs:element ref="DefaultMenuLayout"/></xs:complexType>

<xs:complexType name="BasicAdjusterUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicTableUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicTextAreaUISchemaType">
<xs:complexContent>
<xs:extension base="BasicTextComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicProgressBarUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicScrollBarUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicToolTipUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicToggleButtonUISchemaType">
<xs:complexContent>
<xs:extension base="BasicButtonUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicCheckBoxUISchemaType">
<xs:complexContent>
<xs:extension base="BasicRadioButtonUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicToolBarUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicMenuItemUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicFrameTitleBarUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicScrollPaneUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicClosableTabbedPaneUISchemaType">
<xs:complexContent>
<xs:extension base="BasicTabbedPaneUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicSplitPaneUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:SplitPaneUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicTabbedPaneUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicTextFieldUISchemaType">
<xs:complexContent>
<xs:extension base="BasicTextComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicPanelUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicGraphicsUtilsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicFrameUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicColorMixerUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicSliderUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicComboBoxUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicRadioButtonUISchemaType">
<xs:complexContent>
<xs:extension base="BasicToggleButtonUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicColorChooserUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicTreeUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicStepperUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicButtonUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicMenuBarUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicAccordionUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicPopupMenuUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicListUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicSpacerUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicColorSwatchesUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ToolBarButtonBgAdapterSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicViewportUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicSeparatorUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicLabelUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicCheckBoxMenuItemUISchemaType">
<xs:complexContent>
<xs:extension base="BasicMenuItemUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicTextComponentUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicTableHeaderUISchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-plaf:BaseComponentUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicLabelButtonUISchemaType">
<xs:complexContent>
<xs:extension base="BasicButtonUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicLookAndFeelSchemaType">
<xs:complexContent>
<xs:extension base="org-aswing:LookAndFeelSchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicRadioButtonMenuItemUISchemaType">
<xs:complexContent>
<xs:extension base="BasicMenuItemUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BasicMenuUISchemaType">
<xs:complexContent>
<xs:extension base="BasicMenuItemUISchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultMenuLayoutSchemaType">
<xs:complexContent>
<xs:extension base="org-aswing:SoftBoxLayoutSchemaType">
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="BasicAdjusterUI" type="BasicAdjusterUISchemaType"/>
<xs:element name="BasicTableUI" type="BasicTableUISchemaType"/>
<xs:element name="BasicTextAreaUI" type="BasicTextAreaUISchemaType"/>
<xs:element name="BasicProgressBarUI" type="BasicProgressBarUISchemaType"/>
<xs:element name="BasicScrollBarUI" type="BasicScrollBarUISchemaType"/>
<xs:element name="BasicToolTipUI" type="BasicToolTipUISchemaType"/>
<xs:element name="BasicToggleButtonUI" type="BasicToggleButtonUISchemaType"/>
<xs:element name="BasicCheckBoxUI" type="BasicCheckBoxUISchemaType"/>
<xs:element name="BasicToolBarUI" type="BasicToolBarUISchemaType"/>
<xs:element name="BasicMenuItemUI" type="BasicMenuItemUISchemaType"/>
<xs:element name="BasicFrameTitleBarUI" type="BasicFrameTitleBarUISchemaType"/>
<xs:element name="BasicScrollPaneUI" type="BasicScrollPaneUISchemaType"/>
<xs:element name="BasicClosableTabbedPaneUI" type="BasicClosableTabbedPaneUISchemaType"/>
<xs:element name="BasicSplitPaneUI" type="BasicSplitPaneUISchemaType"/>
<xs:element name="BasicTabbedPaneUI" type="BasicTabbedPaneUISchemaType"/>
<xs:element name="BasicTextFieldUI" type="BasicTextFieldUISchemaType"/>
<xs:element name="BasicPanelUI" type="BasicPanelUISchemaType"/>
<xs:element name="BasicGraphicsUtils" type="BasicGraphicsUtilsSchemaType"/>
<xs:element name="BasicFrameUI" type="BasicFrameUISchemaType"/>
<xs:element name="BasicColorMixerUI" type="BasicColorMixerUISchemaType"/>
<xs:element name="BasicSliderUI" type="BasicSliderUISchemaType"/>
<xs:element name="BasicComboBoxUI" type="BasicComboBoxUISchemaType"/>
<xs:element name="BasicRadioButtonUI" type="BasicRadioButtonUISchemaType"/>
<xs:element name="BasicColorChooserUI" type="BasicColorChooserUISchemaType"/>
<xs:element name="BasicTreeUI" type="BasicTreeUISchemaType"/>
<xs:element name="BasicStepperUI" type="BasicStepperUISchemaType"/>
<xs:element name="BasicButtonUI" type="BasicButtonUISchemaType"/>
<xs:element name="BasicMenuBarUI" type="BasicMenuBarUISchemaType"/>
<xs:element name="BasicAccordionUI" type="BasicAccordionUISchemaType"/>
<xs:element name="BasicPopupMenuUI" type="BasicPopupMenuUISchemaType"/>
<xs:element name="BasicListUI" type="BasicListUISchemaType"/>
<xs:element name="BasicSpacerUI" type="BasicSpacerUISchemaType"/>
<xs:element name="BasicColorSwatchesUI" type="BasicColorSwatchesUISchemaType"/>
<xs:element name="ToolBarButtonBgAdapter" type="ToolBarButtonBgAdapterSchemaType"/>
<xs:element name="BasicViewportUI" type="BasicViewportUISchemaType"/>
<xs:element name="BasicSeparatorUI" type="BasicSeparatorUISchemaType"/>
<xs:element name="BasicLabelUI" type="BasicLabelUISchemaType"/>
<xs:element name="BasicCheckBoxMenuItemUI" type="BasicCheckBoxMenuItemUISchemaType"/>
<xs:element name="BasicTextComponentUI" type="BasicTextComponentUISchemaType"/>
<xs:element name="BasicTableHeaderUI" type="BasicTableHeaderUISchemaType"/>
<xs:element name="BasicLabelButtonUI" type="BasicLabelButtonUISchemaType"/>
<xs:element name="BasicLookAndFeel" type="BasicLookAndFeelSchemaType"/>
<xs:element name="BasicRadioButtonMenuItemUI" type="BasicRadioButtonMenuItemUISchemaType"/>
<xs:element name="BasicMenuUI" type="BasicMenuUISchemaType"/>
<xs:element name="DefaultMenuLayout" type="DefaultMenuLayoutSchemaType"/>
</xs:schema>
