schema/org.aswing.xsd

<xs:schema targetNamespace="org.aswing" xmlns="org.aswing" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:flash-text="flash.text"
xmlns:org-aswing-geom="org.aswing.geom"
xmlns:org-aswing-plaf-basic-background="org.aswing.plaf.basic.background"
xmlns:org-aswing-plaf-basic-tabbedpane="org.aswing.plaf.basic.tabbedpane"
xmlns:empty="empty"
xmlns:org-aswing-border="org.aswing.border"
xmlns:org-aswing-table="org.aswing.table"
xmlns:haxe-ds="haxe.ds"
xmlns:org-aswing-plaf-basic-splitpane="org.aswing.plaf.basic.splitpane"
xmlns:org-aswing-plaf-basic-icon="org.aswing.plaf.basic.icon"
xmlns:org-aswing-plaf-basic-border="org.aswing.plaf.basic.border"
xmlns:org-aswing-plaf="org.aswing.plaf"
xmlns:org-aswing-table-sorter="org.aswing.table.sorter"
xmlns:flash-display="flash.display"
xmlns:org-aswing-colorchooser="org.aswing.colorchooser"
xmlns:org-aswing-ext="org.aswing.ext"
xmlns:org-aswing-plaf-basic="org.aswing.plaf.basic"
xmlns:org-aswing-tree="org.aswing.tree"
xmlns:flash-events="flash.events"
xmlns:org-aswing-plaf-basic-frame="org.aswing.plaf.basic.frame"
xmlns:org-aswing-plaf-basic-adjuster="org.aswing.plaf.basic.adjuster"
>
<xs:import namespace="flash.text" schemaLocation="flash.text.xsd" />
<xs:import namespace="org.aswing.geom" schemaLocation="org.aswing.geom.xsd" />
<xs:import namespace="org.aswing.plaf.basic.background" schemaLocation="org.aswing.plaf.basic.background.xsd" />
<xs:import namespace="org.aswing.plaf.basic.tabbedpane" schemaLocation="org.aswing.plaf.basic.tabbedpane.xsd" />
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:import namespace="org.aswing.border" schemaLocation="org.aswing.border.xsd" />
<xs:import namespace="org.aswing.table" schemaLocation="org.aswing.table.xsd" />
<xs:import namespace="haxe.ds" schemaLocation="haxe.ds.xsd" />
<xs:import namespace="org.aswing.plaf.basic.splitpane" schemaLocation="org.aswing.plaf.basic.splitpane.xsd" />
<xs:import namespace="org.aswing.plaf.basic.icon" schemaLocation="org.aswing.plaf.basic.icon.xsd" />
<xs:import namespace="org.aswing.plaf.basic.border" schemaLocation="org.aswing.plaf.basic.border.xsd" />
<xs:import namespace="org.aswing.plaf" schemaLocation="org.aswing.plaf.xsd" />
<xs:import namespace="org.aswing.table.sorter" schemaLocation="org.aswing.table.sorter.xsd" />
<xs:import namespace="flash.display" schemaLocation="flash.display.xsd" />
<xs:import namespace="org.aswing.colorchooser" schemaLocation="org.aswing.colorchooser.xsd" />
<xs:import namespace="org.aswing.ext" schemaLocation="org.aswing.ext.xsd" />
<xs:import namespace="org.aswing.plaf.basic" schemaLocation="org.aswing.plaf.basic.xsd" />
<xs:import namespace="org.aswing.tree" schemaLocation="org.aswing.tree.xsd" />
<xs:import namespace="flash.events" schemaLocation="flash.events.xsd" />
<xs:import namespace="org.aswing.plaf.basic.frame" schemaLocation="org.aswing.plaf.basic.frame.xsd" />
<xs:import namespace="org.aswing.plaf.basic.adjuster" schemaLocation="org.aswing.plaf.basic.adjuster.xsd" />
<xs:complexType name="DecoratorSchemaTypeValue">
<xs:choice>
<xs:element ref="Icon" />
<xs:element ref="Border" />
<xs:element ref="GroundDecorator" />
</xs:choice>
</xs:complexType>

<xs:complexType name="DefaultComboBoxCellEditorSchemaTypeValue">
<xs:sequence><xs:element ref="DefaultComboBoxCellEditor"/></xs:sequence></xs:complexType>

<xs:complexType name="JListSchemaTypeValue">
<xs:sequence><xs:element ref="JList"/></xs:sequence></xs:complexType>

<xs:complexType name="JAccordionSchemaTypeValue">
<xs:sequence><xs:element ref="JAccordion"/></xs:sequence></xs:complexType>

<xs:complexType name="FocusManagerSchemaTypeValue">
<xs:sequence><xs:element ref="FocusManager"/></xs:sequence></xs:complexType>

<xs:complexType name="CursorManagerSchemaTypeValue">
<xs:sequence><xs:element ref="CursorManager"/></xs:sequence></xs:complexType>

<xs:complexType name="JTextComponentSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-ext:MultilineLabel" />
<xs:element ref="JTextField" />
<xs:element ref="JTextArea" />
<xs:element ref="JTextComponent" />
</xs:choice>
</xs:complexType>

<xs:complexType name="SoftBoxLayoutSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf-basic:DefaultMenuLayout" />
<xs:element ref="SoftBoxLayout" />
</xs:choice>
</xs:complexType>

<xs:complexType name="EmptyFontSchemaTypeValue">
<xs:sequence><xs:element ref="EmptyFont"/></xs:sequence></xs:complexType>

<xs:complexType name="CellSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-table:TableCell" />
<xs:element ref="org-aswing-ext:GridListCell" />
<xs:element ref="org-aswing-tree:TreeCell" />
<xs:element ref="ListCell" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JToolBarSchemaTypeValue">
<xs:sequence><xs:element ref="JToolBar"/></xs:sequence></xs:complexType>

<xs:complexType name="MutableListModelSchemaTypeValue">
<xs:choice>
<xs:element ref="VectorListModel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="SimpleButtonIconToggleSchemaTypeValue">
<xs:sequence><xs:element ref="SimpleButtonIconToggle"/></xs:sequence></xs:complexType>

<xs:complexType name="GroundDecoratorSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf-basic-background:FrameBackground" />
<xs:element ref="org-aswing-plaf-basic-background:TableHeaderBackground" />
<xs:element ref="org-aswing-plaf-basic-background:ProgressBarBackground" />
<xs:element ref="org-aswing-plaf-basic-background:ButtonBackground" />
<xs:element ref="org-aswing-plaf-basic-background:ComboBoxBackground" />
<xs:element ref="org-aswing-plaf-basic-background:ToolTipBackground" />
<xs:element ref="org-aswing-plaf-basic-background:InputBackground" />
<xs:element ref="org-aswing-plaf-basic-background:PanelBackground" />
<xs:element ref="org-aswing-plaf-basic-background:ToggleButtonBackground" />
<xs:element ref="org-aswing-plaf:DefaultEmptyDecoraterResource" />
<xs:element ref="SolidBackground" />
<xs:element ref="org-aswing-plaf-basic-background:TableBackground" />
<xs:element ref="org-aswing-plaf-basic-background:TextComponentBackBround" />
<xs:element ref="AssetBackground" />
<xs:element ref="org-aswing-plaf-basic-background:ListBackground" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:BasicClosableTabbedPaneTab" />
<xs:element ref="org-aswing-plaf-basic-background:ScrollBarBackground" />
<xs:element ref="org-aswing-plaf-basic-frame:BasicFrameTitleBarBG" />
<xs:element ref="org-aswing-plaf-basic-background:ProgressBarIcon" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:TabBackground" />
<xs:element ref="GradientBackground" />
<xs:element ref="org-aswing-plaf-basic:ToolBarButtonBgAdapter" />
<xs:element ref="org-aswing-plaf-basic-background:ScrollBarThumb" />
</xs:choice>
</xs:complexType>

<xs:complexType name="SingleSelectionModelSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultSingleSelectionModel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="AbstractButtonSchemaTypeValue">
<xs:choice>
<xs:element ref="JLabelButton" />
<xs:element ref="JMenuItem" />
<xs:element ref="JRadioButtonMenuItem" />
<xs:element ref="JButton" />
<xs:element ref="JCheckBoxMenuItem" />
<xs:element ref="JRadioButton" />
<xs:element ref="JMenu" />
<xs:element ref="JToggleButton" />
<xs:element ref="JCheckBox" />
<xs:element ref="AbstractButton" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JTreeSchemaTypeValue">
<xs:sequence><xs:element ref="JTree"/></xs:sequence></xs:complexType>

<xs:complexType name="ASColorSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf:ASColorUIResource" />
<xs:element ref="ASColor" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ComponentSchemaTypeValue">
<xs:choice>
<xs:element ref="AbstractButton" />
<xs:element ref="JTree" />
<xs:element ref="JProgressBar" />
<xs:element ref="org-aswing-ext:DateLabel" />
<xs:element ref="JLabel" />
<xs:element ref="JFrameTitleBar" />
<xs:element ref="JCheckBoxMenuItem" />
<xs:element ref="JTable" />
<xs:element ref="JToggleButton" />
<xs:element ref="org-aswing-table:DefaultTextHeaderCell" />
<xs:element ref="org-aswing-colorchooser:JColorSwatches" />
<xs:element ref="JCheckBox" />
<xs:element ref="org-aswing-table:PoorTextCell" />
<xs:element ref="JRadioButtonMenuItem" />
<xs:element ref="org-aswing-ext:Form" />
<xs:element ref="JList" />
<xs:element ref="JLoadPane" />
<xs:element ref="JAccordion" />
<xs:element ref="JLayeredPane" />
<xs:element ref="JToolTip" />
<xs:element ref="org-aswing-ext:DefaultGridCell" />
<xs:element ref="AbstractTabbedPane" />
<xs:element ref="org-aswing-tree:DefaultTreeCell" />
<xs:element ref="org-aswing-ext:Folder" />
<xs:element ref="JPanel" />
<xs:element ref="org-aswing-table:JTableHeader" />
<xs:element ref="AssetPane" />
<xs:element ref="JClosableTabbedPane" />
<xs:element ref="org-aswing-ext:FormRow" />
<xs:element ref="JTextComponent" />
<xs:element ref="JMenuBar" />
<xs:element ref="JTabbedPane" />
<xs:element ref="SoftBox" />
<xs:element ref="JLabelButton" />
<xs:element ref="org-aswing-table:DefaultTextCell" />
<xs:element ref="JMenuItem" />
<xs:element ref="JWindow" />
<xs:element ref="JSpacer" />
<xs:element ref="JViewport" />
<xs:element ref="org-aswing-colorchooser:JColorMixer" />
<xs:element ref="JPopup" />
<xs:element ref="org-aswing-ext:GridList" />
<xs:element ref="JButton" />
<xs:element ref="org-aswing-colorchooser:AbstractColorChooserPanel" />
<xs:element ref="org-aswing-ext:MultilineLabel" />
<xs:element ref="CellPane" />
<xs:element ref="JOptionPane" />
<xs:element ref="org-aswing-ext:GridCellHolder" />
<xs:element ref="JSharedToolTip" />
<xs:element ref="JSplitPane" />
<xs:element ref="JTextField" />
<xs:element ref="JRootPane" />
<xs:element ref="JRadioButton" />
<xs:element ref="JMenu" />
<xs:element ref="JAdjuster" />
<xs:element ref="JSlider" />
<xs:element ref="JPopupMenu" />
<xs:element ref="JTextArea" />
<xs:element ref="org-aswing-plaf-basic-splitpane:Divider" />
<xs:element ref="JStepper" />
<xs:element ref="JSeparator" />
<xs:element ref="JColorChooser" />
<xs:element ref="JToolBar" />
<xs:element ref="org-aswing-table-sorter:SortableTextHeaderCell" />
<xs:element ref="JScrollPane" />
<xs:element ref="org-aswing-ext:DateChooser" />
<xs:element ref="JScrollBar" />
<xs:element ref="org-aswing-table:SelectablePoorTextCell" />
<xs:element ref="Container" />
<xs:element ref="JFrame" />
<xs:element ref="JComboBox" />
<xs:element ref="Box" />
<xs:element ref="Component" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JLayeredPaneSchemaTypeValue">
<xs:sequence><xs:element ref="JLayeredPane"/></xs:sequence></xs:complexType>

<xs:complexType name="DefaultComboBoxListCellFactorySchemaTypeValue">
<xs:sequence><xs:element ref="DefaultComboBoxListCellFactory"/></xs:sequence></xs:complexType>

<xs:complexType name="JMenuBarSchemaTypeValue">
<xs:sequence><xs:element ref="JMenuBar"/></xs:sequence></xs:complexType>

<xs:complexType name="ASFontSchemaTypeValue">
<xs:choice>
<xs:element ref="EmptyFont" />
<xs:element ref="org-aswing-plaf:ASFontUIResource" />
<xs:element ref="ASFont" />
</xs:choice>
</xs:complexType>

<xs:complexType name="KeyActionSchemaTypeValue">
<xs:sequence><xs:element ref="KeyAction"/></xs:sequence></xs:complexType>

<xs:complexType name="SoftBoxSchemaTypeValue">
<xs:sequence><xs:element ref="SoftBox"/></xs:sequence></xs:complexType>

<xs:complexType name="WeightBoxLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="WeightBoxLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="JLabelButtonSchemaTypeValue">
<xs:sequence><xs:element ref="JLabelButton"/></xs:sequence></xs:complexType>

<xs:complexType name="EmptyIconSchemaTypeValue">
<xs:sequence><xs:element ref="EmptyIcon"/></xs:sequence></xs:complexType>

<xs:complexType name="JWindowSchemaTypeValue">
<xs:choice>
<xs:element ref="JFrame" />
<xs:element ref="JWindow" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JButtonSchemaTypeValue">
<xs:sequence><xs:element ref="JButton"/></xs:sequence></xs:complexType>

<xs:complexType name="AbstractCellEditorSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultTextFieldCellEditor" />
<xs:element ref="DefaultNumberTextFieldCellEditor" />
<xs:element ref="DefaultComboBoxCellEditor" />
<xs:element ref="DefaultCheckBoxCellEditor" />
<xs:element ref="AbstractCellEditor" />
</xs:choice>
</xs:complexType>

<xs:complexType name="StyleResultSchemaTypeValue">
<xs:sequence><xs:element ref="StyleResult"/></xs:sequence></xs:complexType>

<xs:complexType name="EditableComponentSchemaTypeValue">
<xs:choice>
<xs:element ref="JStepper" />
<xs:element ref="JTextComponent" />
<xs:element ref="org-aswing-ext:MultilineLabel" />
<xs:element ref="JAdjuster" />
<xs:element ref="JComboBox" />
<xs:element ref="JTextField" />
<xs:element ref="JTextArea" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JLabelSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-table:DefaultTextCell" />
<xs:element ref="org-aswing-ext:DateLabel" />
<xs:element ref="org-aswing-tree:DefaultTreeCell" />
<xs:element ref="org-aswing-table-sorter:SortableTextHeaderCell" />
<xs:element ref="org-aswing-ext:DefaultGridCell" />
<xs:element ref="org-aswing-table:DefaultTextHeaderCell" />
<xs:element ref="JLabel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="WindowLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="WindowLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="JTableSchemaTypeValue">
<xs:sequence><xs:element ref="JTable"/></xs:sequence></xs:complexType>

<xs:complexType name="SolidBackgroundSchemaTypeValue">
<xs:sequence><xs:element ref="SolidBackground"/></xs:sequence></xs:complexType>

<xs:complexType name="ASFontAdvPropertiesSchemaTypeValue">
<xs:sequence><xs:element ref="ASFontAdvProperties"/></xs:sequence></xs:complexType>

<xs:complexType name="VectorListModelSchemaTypeValue">
<xs:sequence><xs:element ref="VectorListModel"/></xs:sequence></xs:complexType>

<xs:complexType name="InsetsSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf:InsetsUIResource" />
<xs:element ref="Insets" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JPanelSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-ext:FormRow" />
<xs:element ref="org-aswing-ext:Form" />
<xs:element ref="org-aswing-ext:Folder" />
<xs:element ref="org-aswing-ext:DateChooser" />
<xs:element ref="SoftBox" />
<xs:element ref="JOptionPane" />
<xs:element ref="Box" />
<xs:element ref="JPanel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="DefaultNumberTextFieldCellEditorSchemaTypeValue">
<xs:sequence><xs:element ref="DefaultNumberTextFieldCellEditor"/></xs:sequence></xs:complexType>

<xs:complexType name="JClosableTabbedPaneSchemaTypeValue">
<xs:sequence><xs:element ref="JClosableTabbedPane"/></xs:sequence></xs:complexType>

<xs:complexType name="DefaultBoundedRangeModelSchemaTypeValue">
<xs:sequence><xs:element ref="DefaultBoundedRangeModel"/></xs:sequence></xs:complexType>

<xs:complexType name="KeySequenceSchemaTypeValue">
<xs:sequence><xs:element ref="KeySequence"/></xs:sequence></xs:complexType>

<xs:complexType name="DefaultListCellFactorySchemaTypeValue">
<xs:sequence><xs:element ref="DefaultListCellFactory"/></xs:sequence></xs:complexType>

<xs:complexType name="AsWingUtilsSchemaTypeValue">
<xs:sequence><xs:element ref="AsWingUtils"/></xs:sequence></xs:complexType>

<xs:complexType name="DefaultButtonModelSchemaTypeValue">
<xs:choice>
<xs:element ref="ToggleButtonModel" />
<xs:element ref="DefaultButtonModel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ListSelectionModelSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultListSelectionModel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ViewportableSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-ext:GridList" />
<xs:element ref="JTree" />
<xs:element ref="JList" />
<xs:element ref="org-aswing-ext:MultilineLabel" />
<xs:element ref="JTable" />
<xs:element ref="JViewport" />
<xs:element ref="JTextArea" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JScrollBarSchemaTypeValue">
<xs:sequence><xs:element ref="JScrollBar"/></xs:sequence></xs:complexType>

<xs:complexType name="ButtonGroupSchemaTypeValue">
<xs:sequence><xs:element ref="ButtonGroup"/></xs:sequence></xs:complexType>

<xs:complexType name="JComboBoxSchemaTypeValue">
<xs:sequence><xs:element ref="JComboBox"/></xs:sequence></xs:complexType>

<xs:complexType name="JFrameTitleBarSchemaTypeValue">
<xs:sequence><xs:element ref="JFrameTitleBar"/></xs:sequence></xs:complexType>

<xs:complexType name="JCheckBoxMenuItemSchemaTypeValue">
<xs:sequence><xs:element ref="JCheckBoxMenuItem"/></xs:sequence></xs:complexType>

<xs:complexType name="JLoadPaneSchemaTypeValue">
<xs:sequence><xs:element ref="JLoadPane"/></xs:sequence></xs:complexType>

<xs:complexType name="AssetIconSchemaTypeValue">
<xs:choice>
<xs:element ref="LoadIcon" />
<xs:element ref="AssetIcon" />
</xs:choice>
</xs:complexType>

<xs:complexType name="FrameTitleBarLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="FrameTitleBarLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="RepaintManagerSchemaTypeValue">
<xs:sequence><xs:element ref="RepaintManager"/></xs:sequence></xs:complexType>

<xs:complexType name="JMenuItemSchemaTypeValue">
<xs:choice>
<xs:element ref="JRadioButtonMenuItem" />
<xs:element ref="JCheckBoxMenuItem" />
<xs:element ref="JMenu" />
<xs:element ref="JMenuItem" />
</xs:choice>
</xs:complexType>

<xs:complexType name="DefaultListSelectionModelSchemaTypeValue">
<xs:sequence><xs:element ref="DefaultListSelectionModel"/></xs:sequence></xs:complexType>

<xs:complexType name="BorderSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf-basic-border:FrameBorder" />
<xs:element ref="org-aswing-border:EmptyBorder" />
<xs:element ref="org-aswing-plaf-basic-border:ComboBoxPopupBorder" />
<xs:element ref="org-aswing-plaf-basic-border:PopupMenuBorder" />
<xs:element ref="org-aswing-border:CaveBorder" />
<xs:element ref="org-aswing-plaf:DefaultEmptyDecoraterResource" />
<xs:element ref="org-aswing-plaf-basic-border:ToolTipBorder" />
<xs:element ref="org-aswing-plaf-basic-border:TextAreaBorder" />
<xs:element ref="org-aswing-plaf-basic-border:ProgressBarBorder" />
<xs:element ref="org-aswing-plaf-basic-border:TextComponentBorder" />
<xs:element ref="org-aswing-plaf-basic-border:ColorChooserBorder" />
<xs:element ref="org-aswing-border:SimpleTitledBorder" />
<xs:element ref="org-aswing-border:TitledBorder" />
<xs:element ref="org-aswing-border:BevelBorder" />
<xs:element ref="org-aswing-border:DecorateBorder" />
<xs:element ref="org-aswing-plaf-basic-border:TextFieldBorder" />
<xs:element ref="org-aswing-border:SideLineBorder" />
<xs:element ref="org-aswing-plaf-basic-border:TableHeaderCellBorder" />
<xs:element ref="org-aswing-plaf-basic-border:ComboBoxBorder" />
<xs:element ref="org-aswing-plaf-basic-border:EmptyBorderResource" />
<xs:element ref="org-aswing-border:LineBorder" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ListCellFactorySchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultListCellFactory" />
<xs:element ref="DefaultListTextCellFactory" />
<xs:element ref="GeneralListCellFactory" />
<xs:element ref="DefaultComboBoxListCellFactory" />
</xs:choice>
</xs:complexType>

<xs:complexType name="GridLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="GridLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="FlowWrapLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="FlowWrapLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="JSliderSchemaTypeValue">
<xs:sequence><xs:element ref="JSlider"/></xs:sequence></xs:complexType>

<xs:complexType name="LoadIconSchemaTypeValue">
<xs:sequence><xs:element ref="LoadIcon"/></xs:sequence></xs:complexType>

<xs:complexType name="DefaultSingleSelectionModelSchemaTypeValue">
<xs:sequence><xs:element ref="DefaultSingleSelectionModel"/></xs:sequence></xs:complexType>

<xs:complexType name="KeyStrokeSchemaTypeValue">
<xs:sequence><xs:element ref="KeyStroke"/></xs:sequence></xs:complexType>

<xs:complexType name="AsWingManagerSchemaTypeValue">
<xs:sequence><xs:element ref="AsWingManager"/></xs:sequence></xs:complexType>

<xs:complexType name="ListCellSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultComboBoxListCell" />
<xs:element ref="AbstractListCell" />
<xs:element ref="DefaultListCell" />
</xs:choice>
</xs:complexType>

<xs:complexType name="KeyMapSchemaTypeValue">
<xs:sequence><xs:element ref="KeyMap"/></xs:sequence></xs:complexType>

<xs:complexType name="AbstractTabbedPaneSchemaTypeValue">
<xs:choice>
<xs:element ref="JClosableTabbedPane" />
<xs:element ref="JTabbedPane" />
<xs:element ref="JAccordion" />
<xs:element ref="AbstractTabbedPane" />
</xs:choice>
</xs:complexType>

<xs:complexType name="MultipleAssetIconSchemaTypeValue">
<xs:sequence><xs:element ref="MultipleAssetIcon"/></xs:sequence></xs:complexType>

<xs:complexType name="AssetBackgroundSchemaTypeValue">
<xs:sequence><xs:element ref="AssetBackground"/></xs:sequence></xs:complexType>

<xs:complexType name="LookAndFeelSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf-basic:BasicLookAndFeel" />
<xs:element ref="LookAndFeel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="DefaultComboBoxEditorSchemaTypeValue">
<xs:sequence><xs:element ref="DefaultComboBoxEditor"/></xs:sequence></xs:complexType>

<xs:complexType name="DefaultCheckBoxCellEditorSchemaTypeValue">
<xs:sequence><xs:element ref="DefaultCheckBoxCellEditor"/></xs:sequence></xs:complexType>

<xs:complexType name="SimpleButtonIconSchemaTypeValue">
<xs:sequence><xs:element ref="SimpleButtonIcon"/></xs:sequence></xs:complexType>

<xs:complexType name="JViewportSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-ext:GridList" />
<xs:element ref="JViewport" />
</xs:choice>
</xs:complexType>

<xs:complexType name="BoxLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="BoxLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="ToggleButtonModelSchemaTypeValue">
<xs:sequence><xs:element ref="ToggleButtonModel"/></xs:sequence></xs:complexType>

<xs:complexType name="CellPaneSchemaTypeValue">
<xs:sequence><xs:element ref="CellPane"/></xs:sequence></xs:complexType>

<xs:complexType name="JSharedToolTipSchemaTypeValue">
<xs:sequence><xs:element ref="JSharedToolTip"/></xs:sequence></xs:complexType>

<xs:complexType name="JTextFieldSchemaTypeValue">
<xs:sequence><xs:element ref="JTextField"/></xs:sequence></xs:complexType>

<xs:complexType name="SimpleButtonSchemaTypeValue">
<xs:sequence><xs:element ref="SimpleButton"/></xs:sequence></xs:complexType>

<xs:complexType name="DefaultTextFieldCellEditorSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultNumberTextFieldCellEditor" />
<xs:element ref="DefaultTextFieldCellEditor" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JRadioButtonSchemaTypeValue">
<xs:sequence><xs:element ref="JRadioButton"/></xs:sequence></xs:complexType>

<xs:complexType name="JPopupMenuSchemaTypeValue">
<xs:sequence><xs:element ref="JPopupMenu"/></xs:sequence></xs:complexType>

<xs:complexType name="ViewportLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="ViewportLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="JColorChooserSchemaTypeValue">
<xs:sequence><xs:element ref="JColorChooser"/></xs:sequence></xs:complexType>

<xs:complexType name="AssetItemSchemaTypeValue">
<xs:sequence><xs:element ref="AssetItem"/></xs:sequence></xs:complexType>

<xs:complexType name="ContainerSchemaTypeValue">
<xs:choice>
<xs:element ref="JTree" />
<xs:element ref="JWindow" />
<xs:element ref="JFrameTitleBar" />
<xs:element ref="JTable" />
<xs:element ref="JViewport" />
<xs:element ref="org-aswing-colorchooser:JColorSwatches" />
<xs:element ref="org-aswing-colorchooser:JColorMixer" />
<xs:element ref="JPopup" />
<xs:element ref="org-aswing-ext:GridList" />
<xs:element ref="org-aswing-ext:Form" />
<xs:element ref="JList" />
<xs:element ref="JLoadPane" />
<xs:element ref="org-aswing-colorchooser:AbstractColorChooserPanel" />
<xs:element ref="JAccordion" />
<xs:element ref="JLayeredPane" />
<xs:element ref="CellPane" />
<xs:element ref="JOptionPane" />
<xs:element ref="JToolTip" />
<xs:element ref="org-aswing-ext:GridCellHolder" />
<xs:element ref="JSharedToolTip" />
<xs:element ref="JSplitPane" />
<xs:element ref="AbstractTabbedPane" />
<xs:element ref="JRootPane" />
<xs:element ref="org-aswing-ext:Folder" />
<xs:element ref="JPanel" />
<xs:element ref="JPopupMenu" />
<xs:element ref="org-aswing-table:JTableHeader" />
<xs:element ref="org-aswing-plaf-basic-splitpane:Divider" />
<xs:element ref="AssetPane" />
<xs:element ref="JClosableTabbedPane" />
<xs:element ref="org-aswing-ext:FormRow" />
<xs:element ref="JMenuBar" />
<xs:element ref="JColorChooser" />
<xs:element ref="JTabbedPane" />
<xs:element ref="JToolBar" />
<xs:element ref="JScrollPane" />
<xs:element ref="org-aswing-ext:DateChooser" />
<xs:element ref="SoftBox" />
<xs:element ref="JFrame" />
<xs:element ref="Box" />
<xs:element ref="Container" />
</xs:choice>
</xs:complexType>

<xs:complexType name="BoxSchemaTypeValue">
<xs:sequence><xs:element ref="Box"/></xs:sequence></xs:complexType>

<xs:complexType name="JProgressBarSchemaTypeValue">
<xs:sequence><xs:element ref="JProgressBar"/></xs:sequence></xs:complexType>

<xs:complexType name="BorderLayoutSchemaTypeValue">
<xs:choice>
<xs:element ref="FrameTitleBarLayout" />
<xs:element ref="BorderLayout" />
</xs:choice>
</xs:complexType>

<xs:complexType name="AWTextFieldSchemaTypeValue">
<xs:sequence><xs:element ref="AWTextField"/></xs:sequence></xs:complexType>

<xs:complexType name="WindowOrderFocusTraversalPolicySchemaTypeValue">
<xs:sequence><xs:element ref="WindowOrderFocusTraversalPolicy"/></xs:sequence></xs:complexType>

<xs:complexType name="UIDefaultsSchemaTypeValue">
<xs:sequence><xs:element ref="UIDefaults"/></xs:sequence></xs:complexType>

<xs:complexType name="AbstractListModelSchemaTypeValue">
<xs:choice>
<xs:element ref="VectorListModel" />
<xs:element ref="AbstractListModel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="EmptyLayoutSchemaTypeValue">
<xs:choice>
<xs:element ref="WindowLayout" />
<xs:element ref="GridLayout" />
<xs:element ref="BorderLayout" />
<xs:element ref="org-aswing-plaf-basic:DefaultMenuLayout" />
<xs:element ref="FrameTitleBarLayout" />
<xs:element ref="FlowWrapLayout" />
<xs:element ref="BoxLayout" />
<xs:element ref="org-aswing-ext:GridListLayout" />
<xs:element ref="CenterLayout" />
<xs:element ref="ViewportLayout" />
<xs:element ref="ScrollPaneLayout" />
<xs:element ref="org-aswing-colorchooser:VerticalLayout" />
<xs:element ref="org-aswing-plaf:EmptyLayoutUIResourse" />
<xs:element ref="FlowLayout" />
<xs:element ref="SoftBoxLayout" />
<xs:element ref="EmptyLayout" />
</xs:choice>
</xs:complexType>

<xs:complexType name="CursorSchemaTypeValue">
<xs:sequence><xs:element ref="Cursor"/></xs:sequence></xs:complexType>

<xs:complexType name="StyleTuneSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf:UIStyleTune" />
<xs:element ref="StyleTune" />
</xs:choice>
</xs:complexType>

<xs:complexType name="FocusTraversalPolicySchemaTypeValue">
<xs:choice>
<xs:element ref="WindowOrderFocusTraversalPolicy" />
<xs:element ref="ContainerOrderFocusTraversalPolicy" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JOptionPaneSchemaTypeValue">
<xs:sequence><xs:element ref="JOptionPane"/></xs:sequence></xs:complexType>

<xs:complexType name="AWSpriteSchemaTypeValue">
<xs:choice>
<xs:element ref="AbstractButton" />
<xs:element ref="JTree" />
<xs:element ref="JProgressBar" />
<xs:element ref="org-aswing-ext:DateLabel" />
<xs:element ref="JLabel" />
<xs:element ref="JFrameTitleBar" />
<xs:element ref="JCheckBoxMenuItem" />
<xs:element ref="JTable" />
<xs:element ref="JToggleButton" />
<xs:element ref="org-aswing-table:DefaultTextHeaderCell" />
<xs:element ref="org-aswing-colorchooser:JColorSwatches" />
<xs:element ref="JCheckBox" />
<xs:element ref="org-aswing-table:PoorTextCell" />
<xs:element ref="JRadioButtonMenuItem" />
<xs:element ref="org-aswing-ext:Form" />
<xs:element ref="JList" />
<xs:element ref="JLoadPane" />
<xs:element ref="Component" />
<xs:element ref="JAccordion" />
<xs:element ref="JLayeredPane" />
<xs:element ref="JToolTip" />
<xs:element ref="org-aswing-ext:DefaultGridCell" />
<xs:element ref="AbstractTabbedPane" />
<xs:element ref="org-aswing-tree:DefaultTreeCell" />
<xs:element ref="org-aswing-ext:Folder" />
<xs:element ref="JPanel" />
<xs:element ref="org-aswing-table:JTableHeader" />
<xs:element ref="AssetPane" />
<xs:element ref="JClosableTabbedPane" />
<xs:element ref="org-aswing-ext:FormRow" />
<xs:element ref="JTextComponent" />
<xs:element ref="JMenuBar" />
<xs:element ref="JTabbedPane" />
<xs:element ref="SoftBox" />
<xs:element ref="JLabelButton" />
<xs:element ref="org-aswing-table:DefaultTextCell" />
<xs:element ref="JMenuItem" />
<xs:element ref="JWindow" />
<xs:element ref="JSpacer" />
<xs:element ref="JViewport" />
<xs:element ref="org-aswing-colorchooser:JColorMixer" />
<xs:element ref="JPopup" />
<xs:element ref="org-aswing-ext:GridList" />
<xs:element ref="JButton" />
<xs:element ref="org-aswing-colorchooser:AbstractColorChooserPanel" />
<xs:element ref="org-aswing-ext:MultilineLabel" />
<xs:element ref="CellPane" />
<xs:element ref="JOptionPane" />
<xs:element ref="org-aswing-ext:GridCellHolder" />
<xs:element ref="JSharedToolTip" />
<xs:element ref="JSplitPane" />
<xs:element ref="JTextField" />
<xs:element ref="JRootPane" />
<xs:element ref="JRadioButton" />
<xs:element ref="JMenu" />
<xs:element ref="JAdjuster" />
<xs:element ref="JSlider" />
<xs:element ref="JPopupMenu" />
<xs:element ref="JTextArea" />
<xs:element ref="org-aswing-plaf-basic-splitpane:Divider" />
<xs:element ref="JStepper" />
<xs:element ref="JSeparator" />
<xs:element ref="JColorChooser" />
<xs:element ref="JToolBar" />
<xs:element ref="org-aswing-table-sorter:SortableTextHeaderCell" />
<xs:element ref="JScrollPane" />
<xs:element ref="org-aswing-ext:DateChooser" />
<xs:element ref="JScrollBar" />
<xs:element ref="org-aswing-table:SelectablePoorTextCell" />
<xs:element ref="Container" />
<xs:element ref="JFrame" />
<xs:element ref="JComboBox" />
<xs:element ref="Box" />
<xs:element ref="AWSprite" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ButtonModelSchemaTypeValue">
<xs:choice>
<xs:element ref="ToggleButtonModel" />
<xs:element ref="DefaultButtonModel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="DefaultListTextCellFactorySchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultListCellFactory" />
<xs:element ref="DefaultComboBoxListCellFactory" />
<xs:element ref="DefaultListTextCellFactory" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JMenuSchemaTypeValue">
<xs:sequence><xs:element ref="JMenu"/></xs:sequence></xs:complexType>

<xs:complexType name="JStepperSchemaTypeValue">
<xs:sequence><xs:element ref="JStepper"/></xs:sequence></xs:complexType>

<xs:complexType name="JFrameSchemaTypeValue">
<xs:sequence><xs:element ref="JFrame"/></xs:sequence></xs:complexType>

<xs:complexType name="GradientBackgroundSchemaTypeValue">
<xs:sequence><xs:element ref="GradientBackground"/></xs:sequence></xs:complexType>

<xs:complexType name="JToggleButtonSchemaTypeValue">
<xs:choice>
<xs:element ref="JRadioButton" />
<xs:element ref="JCheckBox" />
<xs:element ref="JToggleButton" />
</xs:choice>
</xs:complexType>

<xs:complexType name="CenterLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="CenterLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="AbstractListCellSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultComboBoxListCell" />
<xs:element ref="DefaultListCell" />
<xs:element ref="AbstractListCell" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JRadioButtonMenuItemSchemaTypeValue">
<xs:sequence><xs:element ref="JRadioButtonMenuItem"/></xs:sequence></xs:complexType>

<xs:complexType name="JToolTipSchemaTypeValue">
<xs:choice>
<xs:element ref="JSharedToolTip" />
<xs:element ref="JToolTip" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ListModelSchemaTypeValue">
<xs:choice>
<xs:element ref="MutableListModel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ContainerOrderFocusTraversalPolicySchemaTypeValue">
<xs:choice>
<xs:element ref="WindowOrderFocusTraversalPolicy" />
<xs:element ref="ContainerOrderFocusTraversalPolicy" />
</xs:choice>
</xs:complexType>

<xs:complexType name="BoundedRangeModelSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultBoundedRangeModel" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JSpacerSchemaTypeValue">
<xs:sequence><xs:element ref="JSpacer"/></xs:sequence></xs:complexType>

<xs:complexType name="AWKeyboardSchemaTypeValue">
<xs:sequence><xs:element ref="AWKeyboard"/></xs:sequence></xs:complexType>

<xs:complexType name="LayoutManagerSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf-basic:BasicClosableTabbedPaneUI" />
<xs:element ref="WindowLayout" />
<xs:element ref="GridLayout" />
<xs:element ref="BorderLayout" />
<xs:element ref="org-aswing-plaf-basic:DefaultMenuLayout" />
<xs:element ref="JTable" />
<xs:element ref="FrameTitleBarLayout" />
<xs:element ref="FlowWrapLayout" />
<xs:element ref="BoxLayout" />
<xs:element ref="org-aswing-ext:GridListLayout" />
<xs:element ref="org-aswing-plaf-basic:BasicAccordionUI" />
<xs:element ref="CenterLayout" />
<xs:element ref="ViewportLayout" />
<xs:element ref="org-aswing-ext:FormRow" />
<xs:element ref="org-aswing-plaf-basic:BasicSplitPaneUI" />
<xs:element ref="org-aswing-ext:Form" />
<xs:element ref="ScrollPaneLayout" />
<xs:element ref="JList" />
<xs:element ref="org-aswing-colorchooser:VerticalLayout" />
<xs:element ref="org-aswing-plaf-basic:BasicTabbedPaneUI" />
<xs:element ref="WeightBoxLayout" />
<xs:element ref="org-aswing-plaf:EmptyLayoutUIResourse" />
<xs:element ref="FlowLayout" />
<xs:element ref="SoftBoxLayout" />
<xs:element ref="org-aswing-ext:DateGridLayout" />
<xs:element ref="EmptyLayout" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JPopupSchemaTypeValue">
<xs:choice>
<xs:element ref="JWindow" />
<xs:element ref="JFrame" />
<xs:element ref="JPopup" />
</xs:choice>
</xs:complexType>

<xs:complexType name="IconSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-plaf-basic-icon:CheckBoxMenuItemCheckIcon" />
<xs:element ref="EmptyIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:RadioButtonIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:MenuItemCheckIcon" />
<xs:element ref="org-aswing-plaf-basic-adjuster:PopupSliderThumbIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameMaximizeIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:SliderThumbIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameIconifiedIcon" />
<xs:element ref="org-aswing-colorchooser:NoColorIcon" />
<xs:element ref="AssetIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:SolidArrowIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameNormalIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:ArrowIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:MenuCheckIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:RadioButtonMenuItemCheckIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:MenuItemArrowIcon" />
<xs:element ref="org-aswing-plaf-basic-tabbedpane:CloseIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameCloseIcon" />
<xs:element ref="org-aswing-tree:TreeFolderIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:FrameIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:CheckBoxIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:ScrollBarArrowIcon" />
<xs:element ref="MultipleAssetIcon" />
<xs:element ref="org-aswing-colorchooser:PreviewColorIcon" />
<xs:element ref="org-aswing-colorchooser:ColorRectIcon" />
<xs:element ref="org-aswing-plaf:DefaultEmptyDecoraterResource" />
<xs:element ref="org-aswing-plaf-basic-splitpane:DividerIcon" />
<xs:element ref="LoadIcon" />
<xs:element ref="org-aswing-tree:TreeLeafIcon" />
<xs:element ref="SimpleButtonIconToggle" />
<xs:element ref="org-aswing-plaf-basic-icon:MenuArrowIcon" />
<xs:element ref="org-aswing-plaf-basic-icon:TitleIcon" />
<xs:element ref="org-aswing-table-sorter:Arrow" />
<xs:element ref="SimpleButtonIcon" />
</xs:choice>
</xs:complexType>

<xs:complexType name="FlowLayoutSchemaTypeValue">
<xs:choice>
<xs:element ref="FlowWrapLayout" />
<xs:element ref="FlowLayout" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JSplitPaneSchemaTypeValue">
<xs:sequence><xs:element ref="JSplitPane"/></xs:sequence></xs:complexType>

<xs:complexType name="DefaultListCellSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultComboBoxListCell" />
<xs:element ref="DefaultListCell" />
</xs:choice>
</xs:complexType>

<xs:complexType name="OrientableSchemaTypeValue">
<xs:choice>
<xs:element ref="JProgressBar" />
<xs:element ref="JSeparator" />
<xs:element ref="JToolBar" />
<xs:element ref="JScrollBar" />
<xs:element ref="JAdjuster" />
<xs:element ref="JSlider" />
<xs:element ref="JSplitPane" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JRootPaneSchemaTypeValue">
<xs:choice>
<xs:element ref="JWindow" />
<xs:element ref="JFrame" />
<xs:element ref="JPopup" />
<xs:element ref="JRootPane" />
</xs:choice>
</xs:complexType>

<xs:complexType name="FrameTitleBarSchemaTypeValue">
<xs:choice>
<xs:element ref="JFrameTitleBar" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JTextAreaSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-ext:MultilineLabel" />
<xs:element ref="JTextArea" />
</xs:choice>
</xs:complexType>

<xs:complexType name="GeneralListCellFactorySchemaTypeValue">
<xs:sequence><xs:element ref="GeneralListCellFactory"/></xs:sequence></xs:complexType>

<xs:complexType name="CellEditorSchemaTypeValue">
<xs:choice>
<xs:element ref="org-aswing-tree:TreeCellEditor" />
<xs:element ref="org-aswing-table:TableCellEditor" />
<xs:element ref="DefaultTextFieldCellEditor" />
<xs:element ref="AbstractCellEditor" />
<xs:element ref="DefaultNumberTextFieldCellEditor" />
<xs:element ref="DefaultComboBoxCellEditor" />
<xs:element ref="DefaultCheckBoxCellEditor" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JCheckBoxSchemaTypeValue">
<xs:sequence><xs:element ref="JCheckBox"/></xs:sequence></xs:complexType>

<xs:complexType name="AssetPaneSchemaTypeValue">
<xs:choice>
<xs:element ref="JLoadPane" />
<xs:element ref="AssetPane" />
</xs:choice>
</xs:complexType>

<xs:complexType name="JTabbedPaneSchemaTypeValue">
<xs:choice>
<xs:element ref="JClosableTabbedPane" />
<xs:element ref="JTabbedPane" />
</xs:choice>
</xs:complexType>

<xs:complexType name="KeyboardManagerSchemaTypeValue">
<xs:sequence><xs:element ref="KeyboardManager"/></xs:sequence></xs:complexType>

<xs:complexType name="UIManagerSchemaTypeValue">
<xs:sequence><xs:element ref="UIManager"/></xs:sequence></xs:complexType>

<xs:complexType name="MenuSelectionManagerSchemaTypeValue">
<xs:sequence><xs:element ref="MenuSelectionManager"/></xs:sequence></xs:complexType>

<xs:complexType name="MenuElementSchemaTypeValue">
<xs:choice>
<xs:element ref="JMenuItem" />
<xs:element ref="JRadioButtonMenuItem" />
<xs:element ref="JMenuBar" />
<xs:element ref="JCheckBoxMenuItem" />
<xs:element ref="JMenu" />
<xs:element ref="JPopupMenu" />
</xs:choice>
</xs:complexType>

<xs:complexType name="DefaultComboBoxListCellSchemaTypeValue">
<xs:sequence><xs:element ref="DefaultComboBoxListCell"/></xs:sequence></xs:complexType>

<xs:complexType name="KeyTypeSchemaTypeValue">
<xs:choice>
<xs:element ref="KeyStroke" />
<xs:element ref="KeySequence" />
</xs:choice>
</xs:complexType>

<xs:complexType name="AsWingConstantsSchemaTypeValue">
<xs:sequence><xs:element ref="AsWingConstants"/></xs:sequence></xs:complexType>

<xs:complexType name="JAdjusterSchemaTypeValue">
<xs:sequence><xs:element ref="JAdjuster"/></xs:sequence></xs:complexType>

<xs:complexType name="JSeparatorSchemaTypeValue">
<xs:sequence><xs:element ref="JSeparator"/></xs:sequence></xs:complexType>

<xs:complexType name="ScrollPaneLayoutSchemaTypeValue">
<xs:sequence><xs:element ref="ScrollPaneLayout"/></xs:sequence></xs:complexType>

<xs:complexType name="JScrollPaneSchemaTypeValue">
<xs:sequence><xs:element ref="JScrollPane"/></xs:sequence></xs:complexType>

<xs:complexType name="ComboBoxEditorSchemaTypeValue">
<xs:choice>
<xs:element ref="DefaultComboBoxEditor" />
</xs:choice>
</xs:complexType>

<xs:complexType name="DecoratorSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultComboBoxCellEditorSchemaType">
<xs:complexContent>
<xs:extension base="AbstractCellEditorSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JListSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JAccordionSchemaType">
<xs:complexContent>
<xs:extension base="AbstractTabbedPaneSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FocusManagerSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="CursorManagerSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JTextComponentSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
<xs:element name="text" type="xs:string"/>
</xs:sequence>
<xs:attribute name="text" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SoftBoxLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
<xs:element name="axis" type="xs:int"/>
<xs:element name="gap" type="xs:int"/>
<xs:element name="align" type="xs:int"/>
</xs:sequence>
<xs:attribute name="axis" type="xs:int"/>
<xs:attribute name="gap" type="xs:int"/>
<xs:attribute name="align" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="EmptyFontSchemaType">
<xs:complexContent>
<xs:extension base="ASFontSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="CellSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JToolBarSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="MutableListModelSchemaType">
<xs:complexContent>
<xs:extension base="ListModelSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SimpleButtonIconToggleSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="GroundDecoratorSchemaType">
<xs:complexContent>
<xs:extension base="DecoratorSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SingleSelectionModelSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AbstractButtonSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
<xs:element name="text" type="xs:string"/>
</xs:sequence>
<xs:attribute name="text" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JTreeSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
<xs:element name="treeModel" type="org-aswing-tree:TreeModelSchemaTypeValue"/>
<xs:element name="selectionModel" type="org-aswing-tree:TreeSelectionModelSchemaTypeValue"/>
<xs:element name="rootVisible" type="xs:boolean"/>
<xs:element name="cellFactory" type="org-aswing-tree:TreeCellFactorySchemaTypeValue"/>
<xs:element name="rowHeight" type="xs:int"/>
<xs:element name="rowHeightSet" type="xs:boolean"/>
<xs:element name="fixedCellWidth" type="xs:int"/>
<xs:element name="selectionForeground" type="ASColorSchemaTypeValue"/>
<xs:element name="selectionBackground" type="ASColorSchemaTypeValue"/>
<xs:element name="cellEditor" type="org-aswing-tree:TreeCellEditorSchemaTypeValue"/>
<xs:element name="editable" type="xs:boolean"/>
<xs:element name="visibleRowCount" type="xs:int"/>
<xs:element name="invokesStopCellEditing" type="xs:boolean"/>
<xs:element name="scrollsOnExpand" type="xs:boolean"/>
<xs:element name="scrollsOnExpandSet" type="xs:boolean"/>
<xs:element name="toggleClickCount" type="xs:int"/>
<xs:element name="expandsSelectedPaths" type="xs:boolean"/>
</xs:sequence>
<xs:attribute name="treeModel" type="xs:string"/>
<xs:attribute name="selectionModel" type="xs:string"/>
<xs:attribute name="rootVisible" type="xs:boolean"/>
<xs:attribute name="cellFactory" type="xs:string"/>
<xs:attribute name="rowHeight" type="xs:int"/>
<xs:attribute name="rowHeightSet" type="xs:boolean"/>
<xs:attribute name="fixedCellWidth" type="xs:int"/>
<xs:attribute name="selectionForeground" type="xs:string"/>
<xs:attribute name="selectionBackground" type="xs:string"/>
<xs:attribute name="cellEditor" type="xs:string"/>
<xs:attribute name="editable" type="xs:boolean"/>
<xs:attribute name="visibleRowCount" type="xs:int"/>
<xs:attribute name="invokesStopCellEditing" type="xs:boolean"/>
<xs:attribute name="scrollsOnExpand" type="xs:boolean"/>
<xs:attribute name="scrollsOnExpandSet" type="xs:boolean"/>
<xs:attribute name="toggleClickCount" type="xs:int"/>
<xs:attribute name="expandsSelectedPaths" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ASColorSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="rgb" type="xs:int"/>
<xs:element name="alpha" type="xs:double"/>
</xs:sequence>
<xs:attribute name="rgb" type="xs:int"/>
<xs:attribute name="alpha" type="xs:double"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ComponentSchemaType">
<xs:complexContent>
<xs:extension base="AWSpriteSchemaType">
<xs:sequence>
<xs:element name="ui" type="org-aswing-plaf:ComponentUISchemaTypeValue"/>
<xs:element name="clipBounds" type="org-aswing-geom:IntRectangleSchemaTypeValue"/>
<xs:element name="alignmentX" type="xs:double"/>
<xs:element name="alignmentY" type="xs:double"/>
<xs:element name="minimumSize" type="org-aswing-geom:IntDimensionSchemaTypeValue"/>
<xs:element name="maximumSize" type="org-aswing-geom:IntDimensionSchemaTypeValue"/>
<xs:element name="preferredSize" type="org-aswing-geom:IntDimensionSchemaTypeValue"/>
<xs:element name="currentSize" type="org-aswing-geom:IntDimensionSchemaTypeValue"/>
<xs:element name="bounds" type="org-aswing-geom:IntRectangleSchemaTypeValue"/>
<xs:element name="location" type="org-aswing-geom:IntPointSchemaTypeValue"/>
<xs:element name="constraints" type="xs:string"/>
<xs:element name="uiElement" type="xs:boolean"/>
<xs:element name="background" type="ASColorSchemaTypeValue"/>
<xs:element name="foreground" type="ASColorSchemaTypeValue"/>
<xs:element name="mideground" type="ASColorSchemaTypeValue"/>
<xs:element name="styleTune" type="StyleTuneSchemaTypeValue"/>
<xs:element name="styleProxy" type="ComponentSchemaTypeValue"/>
<xs:element name="backgroundDecorator" type="GroundDecoratorSchemaTypeValue"/>
<xs:element name="foregroundDecorator" type="GroundDecoratorSchemaTypeValue"/>
<xs:element name="font" type="ASFontSchemaTypeValue"/>
<xs:element name="opaque" type="xs:boolean"/>
<xs:element name="opaqueSet" type="xs:boolean"/>
<xs:element name="border" type="BorderSchemaTypeValue"/>
<xs:element name="visibility" type="xs:boolean"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="focusable" type="xs:boolean"/>
<xs:element name="focusableSet" type="xs:boolean"/>
<xs:element name="toolTipText" type="xs:string"/>
<xs:element name="dragEnabled" type="xs:boolean"/>
<xs:element name="dropTrigger" type="xs:boolean"/>
<xs:element name="resizerMargin" type="InsetsSchemaTypeValue"/>
</xs:sequence>
<xs:attribute name="ui" type="xs:string"/>
<xs:attribute name="clipBounds" type="xs:string"/>
<xs:attribute name="alignmentX" type="xs:double"/>
<xs:attribute name="alignmentY" type="xs:double"/>
<xs:attribute name="minimumSize" type="xs:string"/>
<xs:attribute name="maximumSize" type="xs:string"/>
<xs:attribute name="preferredSize" type="xs:string"/>
<xs:attribute name="currentSize" type="xs:string"/>
<xs:attribute name="bounds" type="xs:string"/>
<xs:attribute name="location" type="xs:string"/>
<xs:attribute name="constraints" type="xs:string"/>
<xs:attribute name="uiElement" type="xs:boolean"/>
<xs:attribute name="background" type="xs:string"/>
<xs:attribute name="foreground" type="xs:string"/>
<xs:attribute name="mideground" type="xs:string"/>
<xs:attribute name="styleTune" type="xs:string"/>
<xs:attribute name="styleProxy" type="xs:string"/>
<xs:attribute name="backgroundDecorator" type="xs:string"/>
<xs:attribute name="foregroundDecorator" type="xs:string"/>
<xs:attribute name="font" type="xs:string"/>
<xs:attribute name="opaque" type="xs:boolean"/>
<xs:attribute name="opaqueSet" type="xs:boolean"/>
<xs:attribute name="border" type="xs:string"/>
<xs:attribute name="visibility" type="xs:boolean"/>
<xs:attribute name="enabled" type="xs:boolean"/>
<xs:attribute name="focusable" type="xs:boolean"/>
<xs:attribute name="focusableSet" type="xs:boolean"/>
<xs:attribute name="toolTipText" type="xs:string"/>
<xs:attribute name="dragEnabled" type="xs:boolean"/>
<xs:attribute name="dropTrigger" type="xs:boolean"/>
<xs:attribute name="resizerMargin" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JLayeredPaneSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultComboBoxListCellFactorySchemaType">
<xs:complexContent>
<xs:extension base="DefaultListTextCellFactorySchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JMenuBarSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ASFontSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="size" type="xs:int"/>
<xs:element name="bold" type="xs:boolean"/>
<xs:element name="italic" type="xs:boolean"/>
<xs:element name="underline" type="xs:boolean"/>
</xs:sequence>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="size" type="xs:int"/>
<xs:attribute name="bold" type="xs:boolean"/>
<xs:attribute name="italic" type="xs:boolean"/>
<xs:attribute name="underline" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="KeyActionSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="key" type="KeyTypeSchemaTypeValue"/>
<xs:element name="action" type="xs:string"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
<xs:attribute name="action" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SoftBoxSchemaType">
<xs:complexContent>
<xs:extension base="JPanelSchemaType">
<xs:sequence>
<xs:element name="axis" type="xs:int"/>
<xs:element name="gap" type="xs:int"/>
<xs:element name="align" type="xs:int"/>
</xs:sequence>
<xs:attribute name="axis" type="xs:int"/>
<xs:attribute name="gap" type="xs:int"/>
<xs:attribute name="align" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WeightBoxLayoutSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JLabelButtonSchemaType">
<xs:complexContent>
<xs:extension base="AbstractButtonSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="EmptyIconSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JWindowSchemaType">
<xs:complexContent>
<xs:extension base="JPopupSchemaType">
<xs:sequence>
<xs:element name="content" type="ContainerSchemaTypeValue"/>
<xs:element name="activable" type="xs:boolean"/>
<xs:element name="actived" type="xs:boolean"/>
</xs:sequence>
<xs:attribute name="content" type="xs:string"/>
<xs:attribute name="activable" type="xs:boolean"/>
<xs:attribute name="actived" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JButtonSchemaType">
<xs:complexContent>
<xs:extension base="AbstractButtonSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AbstractCellEditorSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StyleResultSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="clight" type="ASColorSchemaTypeValue"/>
<xs:element name="cdark" type="ASColorSchemaTypeValue"/>
<xs:element name="blight" type="ASColorSchemaTypeValue"/>
<xs:element name="bdark" type="ASColorSchemaTypeValue"/>
<xs:element name="shadow" type="xs:double"/>
<xs:element name="round" type="xs:double"/>
</xs:sequence>
<xs:attribute name="clight" type="xs:string"/>
<xs:attribute name="cdark" type="xs:string"/>
<xs:attribute name="blight" type="xs:string"/>
<xs:attribute name="bdark" type="xs:string"/>
<xs:attribute name="shadow" type="xs:double"/>
<xs:attribute name="round" type="xs:double"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="EditableComponentSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JLabelSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
<xs:element name="text" type="xs:string"/>
</xs:sequence>
<xs:attribute name="text" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WindowLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
<xs:element name="titleBar" type="ComponentSchemaTypeValue"/>
<xs:element name="contentPane" type="ComponentSchemaTypeValue"/>
</xs:sequence>
<xs:attribute name="titleBar" type="xs:string"/>
<xs:attribute name="contentPane" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JTableSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SolidBackgroundSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ASFontAdvPropertiesSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="VectorListModelSchemaType">
<xs:complexContent>
<xs:extension base="AbstractListModelSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="InsetsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="bottom" type="xs:int"/>
<xs:element name="top" type="xs:int"/>
<xs:element name="left" type="xs:int"/>
<xs:element name="right" type="xs:int"/>
</xs:sequence>
<xs:attribute name="bottom" type="xs:int"/>
<xs:attribute name="top" type="xs:int"/>
<xs:attribute name="left" type="xs:int"/>
<xs:attribute name="right" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JPanelSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultNumberTextFieldCellEditorSchemaType">
<xs:complexContent>
<xs:extension base="DefaultTextFieldCellEditorSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JClosableTabbedPaneSchemaType">
<xs:complexContent>
<xs:extension base="JTabbedPaneSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultBoundedRangeModelSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="KeySequenceSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultListCellFactorySchemaType">
<xs:complexContent>
<xs:extension base="DefaultListTextCellFactorySchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AsWingUtilsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultButtonModelSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ListSelectionModelSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ViewportableSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JScrollBarSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ButtonGroupSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JComboBoxSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JFrameTitleBarSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JCheckBoxMenuItemSchemaType">
<xs:complexContent>
<xs:extension base="JMenuItemSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JLoadPaneSchemaType">
<xs:complexContent>
<xs:extension base="AssetPaneSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AssetIconSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="width" type="xs:int"/>
<xs:element name="height" type="xs:int"/>
<xs:element name="scale" type="xs:boolean"/>
<xs:element name="asset" type="flash-display:DisplayObjectSchemaTypeValue"/>
</xs:sequence>
<xs:attribute name="width" type="xs:int"/>
<xs:attribute name="height" type="xs:int"/>
<xs:attribute name="scale" type="xs:boolean"/>
<xs:attribute name="asset" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FrameTitleBarLayoutSchemaType">
<xs:complexContent>
<xs:extension base="BorderLayoutSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="RepaintManagerSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JMenuItemSchemaType">
<xs:complexContent>
<xs:extension base="AbstractButtonSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultListSelectionModelSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BorderSchemaType">
<xs:complexContent>
<xs:extension base="DecoratorSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ListCellFactorySchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="GridLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
<xs:element name="hgap" type="xs:int"/>
<xs:element name="vgap" type="xs:int"/>
<xs:element name="rows" type="xs:int"/>
<xs:element name="columns" type="xs:int"/>
</xs:sequence>
<xs:attribute name="hgap" type="xs:int"/>
<xs:attribute name="vgap" type="xs:int"/>
<xs:attribute name="rows" type="xs:int"/>
<xs:attribute name="columns" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FlowWrapLayoutSchemaType">
<xs:complexContent>
<xs:extension base="FlowLayoutSchemaType">
<xs:sequence>
<xs:element name="preferredWidth" type="xs:int"/>
</xs:sequence>
<xs:attribute name="preferredWidth" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JSliderSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="LoadIconSchemaType">
<xs:complexContent>
<xs:extension base="AssetIconSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultSingleSelectionModelSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="KeyStrokeSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AsWingManagerSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ListCellSchemaType">
<xs:complexContent>
<xs:extension base="CellSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="KeyMapSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AbstractTabbedPaneSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="MultipleAssetIconSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AssetBackgroundSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="asset" type="flash-display:DisplayObjectSchemaTypeValue"/>
</xs:sequence>
<xs:attribute name="asset" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="LookAndFeelSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultComboBoxEditorSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultCheckBoxCellEditorSchemaType">
<xs:complexContent>
<xs:extension base="AbstractCellEditorSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SimpleButtonIconSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JViewportSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
<xs:element name="verticalUnitIncrement" type="xs:int"/>
<xs:element name="verticalBlockIncrement" type="xs:int"/>
<xs:element name="horizontalUnitIncrement" type="xs:int"/>
<xs:element name="horizontalBlockIncrement" type="xs:int"/>
<xs:element name="fitViewHeight" type="xs:boolean"/>
<xs:element name="fitViewWidth" type="xs:boolean"/>
<xs:element name="verticalAlignment" type="xs:int"/>
<xs:element name="horizontalAlignment" type="xs:int"/>
<xs:element name="view" type="ComponentSchemaTypeValue"/>
<xs:element name="viewPosition" type="org-aswing-geom:IntPointSchemaTypeValue"/>
</xs:sequence>
<xs:attribute name="verticalUnitIncrement" type="xs:int"/>
<xs:attribute name="verticalBlockIncrement" type="xs:int"/>
<xs:attribute name="horizontalUnitIncrement" type="xs:int"/>
<xs:attribute name="horizontalBlockIncrement" type="xs:int"/>
<xs:attribute name="fitViewHeight" type="xs:boolean"/>
<xs:attribute name="fitViewWidth" type="xs:boolean"/>
<xs:attribute name="verticalAlignment" type="xs:int"/>
<xs:attribute name="horizontalAlignment" type="xs:int"/>
<xs:attribute name="view" type="xs:string"/>
<xs:attribute name="viewPosition" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BoxLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
<xs:element name="axis" type="xs:int"/>
<xs:element name="gap" type="xs:int"/>
</xs:sequence>
<xs:attribute name="axis" type="xs:int"/>
<xs:attribute name="gap" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ToggleButtonModelSchemaType">
<xs:complexContent>
<xs:extension base="DefaultButtonModelSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="CellPaneSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JSharedToolTipSchemaType">
<xs:complexContent>
<xs:extension base="JToolTipSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JTextFieldSchemaType">
<xs:complexContent>
<xs:extension base="JTextComponentSchemaType">
<xs:sequence>
<xs:element name="columns" type="xs:int"/>
<xs:element name="setColumns" type="xs:string"/>
<xs:element name="getColumns" type="xs:string"/>
</xs:sequence>
<xs:attribute name="columns" type="xs:int"/>
<xs:attribute name="setColumns" type="xs:string"/>
<xs:attribute name="getColumns" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SimpleButtonSchemaType">
<xs:complexContent>
<xs:extension base="flash-display:SpriteSchemaType">
<xs:sequence>
<xs:element name="downState" type="flash-display:DisplayObjectSchemaTypeValue"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="hitTestState" type="flash-display:DisplayObjectSchemaTypeValue"/>
<xs:element name="overState" type="flash-display:DisplayObjectSchemaTypeValue"/>
<xs:element name="trackAsMenu" type="xs:boolean"/>
<xs:element name="upState" type="flash-display:DisplayObjectSchemaTypeValue"/>
</xs:sequence>
<xs:attribute name="downState" type="xs:string"/>
<xs:attribute name="enabled" type="xs:boolean"/>
<xs:attribute name="hitTestState" type="xs:string"/>
<xs:attribute name="overState" type="xs:string"/>
<xs:attribute name="trackAsMenu" type="xs:boolean"/>
<xs:attribute name="upState" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultTextFieldCellEditorSchemaType">
<xs:complexContent>
<xs:extension base="AbstractCellEditorSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JRadioButtonSchemaType">
<xs:complexContent>
<xs:extension base="JToggleButtonSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JPopupMenuSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ViewportLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JColorChooserSchemaType">
<xs:complexContent>
<xs:extension base="org-aswing-colorchooser:AbstractColorChooserPanelSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AssetItemSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ContainerSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
<xs:element ref="AbstractButton" />
<xs:element ref="JTree" />
<xs:element ref="JProgressBar" />
<xs:element ref="org-aswing-ext:DateLabel" />
<xs:element ref="JLabel" />
<xs:element ref="JFrameTitleBar" />
<xs:element ref="JCheckBoxMenuItem" />
<xs:element ref="JTable" />
<xs:element ref="JToggleButton" />
<xs:element ref="org-aswing-table:DefaultTextHeaderCell" />
<xs:element ref="org-aswing-colorchooser:JColorSwatches" />
<xs:element ref="JCheckBox" />
<xs:element ref="org-aswing-table:PoorTextCell" />
<xs:element ref="JRadioButtonMenuItem" />
<xs:element ref="org-aswing-ext:Form" />
<xs:element ref="JList" />
<xs:element ref="JLoadPane" />
<xs:element ref="JAccordion" />
<xs:element ref="JLayeredPane" />
<xs:element ref="JToolTip" />
<xs:element ref="org-aswing-ext:DefaultGridCell" />
<xs:element ref="AbstractTabbedPane" />
<xs:element ref="org-aswing-tree:DefaultTreeCell" />
<xs:element ref="org-aswing-ext:Folder" />
<xs:element ref="JPanel" />
<xs:element ref="org-aswing-table:JTableHeader" />
<xs:element ref="AssetPane" />
<xs:element ref="JClosableTabbedPane" />
<xs:element ref="org-aswing-ext:FormRow" />
<xs:element ref="JTextComponent" />
<xs:element ref="JMenuBar" />
<xs:element ref="JTabbedPane" />
<xs:element ref="SoftBox" />
<xs:element ref="JLabelButton" />
<xs:element ref="org-aswing-table:DefaultTextCell" />
<xs:element ref="JMenuItem" />
<xs:element ref="JWindow" />
<xs:element ref="JSpacer" />
<xs:element ref="JViewport" />
<xs:element ref="org-aswing-colorchooser:JColorMixer" />
<xs:element ref="JPopup" />
<xs:element ref="org-aswing-ext:GridList" />
<xs:element ref="JButton" />
<xs:element ref="org-aswing-colorchooser:AbstractColorChooserPanel" />
<xs:element ref="org-aswing-ext:MultilineLabel" />
<xs:element ref="CellPane" />
<xs:element ref="JOptionPane" />
<xs:element ref="org-aswing-ext:GridCellHolder" />
<xs:element ref="JSharedToolTip" />
<xs:element ref="JSplitPane" />
<xs:element ref="JTextField" />
<xs:element ref="JRootPane" />
<xs:element ref="JRadioButton" />
<xs:element ref="JMenu" />
<xs:element ref="JAdjuster" />
<xs:element ref="JSlider" />
<xs:element ref="JPopupMenu" />
<xs:element ref="JTextArea" />
<xs:element ref="org-aswing-plaf-basic-splitpane:Divider" />
<xs:element ref="JStepper" />
<xs:element ref="JSeparator" />
<xs:element ref="JColorChooser" />
<xs:element ref="JToolBar" />
<xs:element ref="org-aswing-table-sorter:SortableTextHeaderCell" />
<xs:element ref="JScrollPane" />
<xs:element ref="org-aswing-ext:DateChooser" />
<xs:element ref="JScrollBar" />
<xs:element ref="org-aswing-table:SelectablePoorTextCell" />
<xs:element ref="Container" />
<xs:element ref="JFrame" />
<xs:element ref="JComboBox" />
<xs:element ref="Box" />
<xs:element ref="Component" />
<xs:element name="layout" type="LayoutManagerSchemaTypeValue"/>
</xs:sequence>
<xs:attribute name="layout" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BoxSchemaType">
<xs:complexContent>
<xs:extension base="JPanelSchemaType">
<xs:sequence>
<xs:element name="axis" type="xs:int"/>
<xs:element name="gap" type="xs:int"/>
</xs:sequence>
<xs:attribute name="axis" type="xs:int"/>
<xs:attribute name="gap" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JProgressBarSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BorderLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
<xs:element name="hgap" type="xs:int"/>
<xs:element name="vgap" type="xs:int"/>
</xs:sequence>
<xs:attribute name="hgap" type="xs:int"/>
<xs:attribute name="vgap" type="xs:int"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AWTextFieldSchemaType">
<xs:complexContent>
<xs:extension base="flash-text:TextFieldSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WindowOrderFocusTraversalPolicySchemaType">
<xs:complexContent>
<xs:extension base="ContainerOrderFocusTraversalPolicySchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="UIDefaultsSchemaType">
<xs:complexContent>
<xs:extension base="haxe-ds:StringMapSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AbstractListModelSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="EmptyLayoutSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="CursorSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StyleTuneSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
<xs:element name="cGradient" type="xs:double"/>
<xs:element name="bOffset" type="xs:double"/>
<xs:element name="bGradient" type="xs:double"/>
<xs:element name="shadowAlpha" type="xs:double"/>
<xs:element name="round" type="xs:double"/>
<xs:element name="mide" type="StyleTuneSchemaTypeValue"/>
</xs:sequence>
<xs:attribute name="cGradient" type="xs:double"/>
<xs:attribute name="bOffset" type="xs:double"/>
<xs:attribute name="bGradient" type="xs:double"/>
<xs:attribute name="shadowAlpha" type="xs:double"/>
<xs:attribute name="round" type="xs:double"/>
<xs:attribute name="mide" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FocusTraversalPolicySchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JOptionPaneSchemaType">
<xs:complexContent>
<xs:extension base="JPanelSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AWSpriteSchemaType">
<xs:complexContent>
<xs:extension base="flash-display:SpriteSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ButtonModelSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultListTextCellFactorySchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JMenuSchemaType">
<xs:complexContent>
<xs:extension base="JMenuItemSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JStepperSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JFrameSchemaType">
<xs:complexContent>
<xs:extension base="JWindowSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="GradientBackgroundSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JToggleButtonSchemaType">
<xs:complexContent>
<xs:extension base="AbstractButtonSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="CenterLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AbstractListCellSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JRadioButtonMenuItemSchemaType">
<xs:complexContent>
<xs:extension base="JMenuItemSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JToolTipSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ListModelSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ContainerOrderFocusTraversalPolicySchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BoundedRangeModelSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JSpacerSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AWKeyboardSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="LayoutManagerSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JPopupSchemaType">
<xs:complexContent>
<xs:extension base="JRootPaneSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="IconSchemaType">
<xs:complexContent>
<xs:extension base="DecoratorSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FlowLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
<xs:element name="align" type="xs:int"/>
<xs:element name="hgap" type="xs:int"/>
<xs:element name="vgap" type="xs:int"/>
<xs:element name="margin" type="xs:boolean"/>
</xs:sequence>
<xs:attribute name="align" type="xs:int"/>
<xs:attribute name="hgap" type="xs:int"/>
<xs:attribute name="vgap" type="xs:int"/>
<xs:attribute name="margin" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JSplitPaneSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultListCellSchemaType">
<xs:complexContent>
<xs:extension base="AbstractListCellSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="OrientableSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JRootPaneSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FrameTitleBarSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JTextAreaSchemaType">
<xs:complexContent>
<xs:extension base="JTextComponentSchemaType">
<xs:sequence>
<xs:element name="columns" type="xs:int"/>
<xs:element name="rows" type="xs:int"/>
<xs:element name="setColumns" type="xs:string"/>
<xs:element name="getColumns" type="xs:string"/>
<xs:element name="setRows" type="xs:string"/>
<xs:element name="getRows" type="xs:string"/>
</xs:sequence>
<xs:attribute name="columns" type="xs:int"/>
<xs:attribute name="rows" type="xs:int"/>
<xs:attribute name="setColumns" type="xs:string"/>
<xs:attribute name="getColumns" type="xs:string"/>
<xs:attribute name="setRows" type="xs:string"/>
<xs:attribute name="getRows" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="GeneralListCellFactorySchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="CellEditorSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JCheckBoxSchemaType">
<xs:complexContent>
<xs:extension base="JToggleButtonSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AssetPaneSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
<xs:element name="asset" type="flash-display:DisplayObjectSchemaTypeValue"/>
<xs:element name="assetVisible" type="xs:boolean"/>
<xs:element name="prefferSizeStrategy" type="xs:int"/>
<xs:element name="verticalAlignment" type="xs:int"/>
<xs:element name="horizontalAlignment" type="xs:int"/>
<xs:element name="scaleMode" type="xs:int"/>
<xs:element name="offsetX" type="xs:double"/>
<xs:element name="offsetY" type="xs:double"/>
<xs:element name="customScale" type="xs:int"/>
<xs:element name="actualScale" type="xs:string"/>
<xs:element name="clipEnabled" type="xs:boolean"/>
</xs:sequence>
<xs:attribute name="asset" type="xs:string"/>
<xs:attribute name="assetVisible" type="xs:boolean"/>
<xs:attribute name="prefferSizeStrategy" type="xs:int"/>
<xs:attribute name="verticalAlignment" type="xs:int"/>
<xs:attribute name="horizontalAlignment" type="xs:int"/>
<xs:attribute name="scaleMode" type="xs:int"/>
<xs:attribute name="offsetX" type="xs:double"/>
<xs:attribute name="offsetY" type="xs:double"/>
<xs:attribute name="customScale" type="xs:int"/>
<xs:attribute name="actualScale" type="xs:string"/>
<xs:attribute name="clipEnabled" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JTabbedPaneSchemaType">
<xs:complexContent>
<xs:extension base="AbstractTabbedPaneSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="KeyboardManagerSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="UIManagerSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="MenuSelectionManagerSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="MenuElementSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DefaultComboBoxListCellSchemaType">
<xs:complexContent>
<xs:extension base="DefaultListCellSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="KeyTypeSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AsWingConstantsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JAdjusterSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JSeparatorSchemaType">
<xs:complexContent>
<xs:extension base="ComponentSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ScrollPaneLayoutSchemaType">
<xs:complexContent>
<xs:extension base="EmptyLayoutSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="JScrollPaneSchemaType">
<xs:complexContent>
<xs:extension base="ContainerSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ComboBoxEditorSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Decorator" type="DecoratorSchemaType"/>
<xs:element name="DefaultComboBoxCellEditor" type="DefaultComboBoxCellEditorSchemaType"/>
<xs:element name="JList" type="JListSchemaType"/>
<xs:element name="JAccordion" type="JAccordionSchemaType"/>
<xs:element name="FocusManager" type="FocusManagerSchemaType"/>
<xs:element name="CursorManager" type="CursorManagerSchemaType"/>
<xs:element name="JTextComponent" type="JTextComponentSchemaType"/>
<xs:element name="SoftBoxLayout" type="SoftBoxLayoutSchemaType"/>
<xs:element name="EmptyFont" type="EmptyFontSchemaType"/>
<xs:element name="Cell" type="CellSchemaType"/>
<xs:element name="JToolBar" type="JToolBarSchemaType"/>
<xs:element name="MutableListModel" type="MutableListModelSchemaType"/>
<xs:element name="SimpleButtonIconToggle" type="SimpleButtonIconToggleSchemaType"/>
<xs:element name="GroundDecorator" type="GroundDecoratorSchemaType"/>
<xs:element name="SingleSelectionModel" type="SingleSelectionModelSchemaType"/>
<xs:element name="AbstractButton" type="AbstractButtonSchemaType"/>
<xs:element name="JTree" type="JTreeSchemaType"/>
<xs:element name="ASColor" type="ASColorSchemaType"/>
<xs:element name="Component" type="ComponentSchemaType"/>
<xs:element name="JLayeredPane" type="JLayeredPaneSchemaType"/>
<xs:element name="DefaultComboBoxListCellFactory" type="DefaultComboBoxListCellFactorySchemaType"/>
<xs:element name="JMenuBar" type="JMenuBarSchemaType"/>
<xs:element name="ASFont" type="ASFontSchemaType"/>
<xs:element name="KeyAction" type="KeyActionSchemaType"/>
<xs:element name="SoftBox" type="SoftBoxSchemaType"/>
<xs:element name="WeightBoxLayout" type="WeightBoxLayoutSchemaType"/>
<xs:element name="JLabelButton" type="JLabelButtonSchemaType"/>
<xs:element name="EmptyIcon" type="EmptyIconSchemaType"/>
<xs:element name="JWindow" type="JWindowSchemaType"/>
<xs:element name="JButton" type="JButtonSchemaType"/>
<xs:element name="AbstractCellEditor" type="AbstractCellEditorSchemaType"/>
<xs:element name="StyleResult" type="StyleResultSchemaType"/>
<xs:element name="EditableComponent" type="EditableComponentSchemaType"/>
<xs:element name="JLabel" type="JLabelSchemaType"/>
<xs:element name="WindowLayout" type="WindowLayoutSchemaType"/>
<xs:element name="JTable" type="JTableSchemaType"/>
<xs:element name="SolidBackground" type="SolidBackgroundSchemaType"/>
<xs:element name="ASFontAdvProperties" type="ASFontAdvPropertiesSchemaType"/>
<xs:element name="VectorListModel" type="VectorListModelSchemaType"/>
<xs:element name="Insets" type="InsetsSchemaType"/>
<xs:element name="JPanel" type="JPanelSchemaType"/>
<xs:element name="DefaultNumberTextFieldCellEditor" type="DefaultNumberTextFieldCellEditorSchemaType"/>
<xs:element name="JClosableTabbedPane" type="JClosableTabbedPaneSchemaType"/>
<xs:element name="DefaultBoundedRangeModel" type="DefaultBoundedRangeModelSchemaType"/>
<xs:element name="KeySequence" type="KeySequenceSchemaType"/>
<xs:element name="DefaultListCellFactory" type="DefaultListCellFactorySchemaType"/>
<xs:element name="AsWingUtils" type="AsWingUtilsSchemaType"/>
<xs:element name="DefaultButtonModel" type="DefaultButtonModelSchemaType"/>
<xs:element name="ListSelectionModel" type="ListSelectionModelSchemaType"/>
<xs:element name="Viewportable" type="ViewportableSchemaType"/>
<xs:element name="JScrollBar" type="JScrollBarSchemaType"/>
<xs:element name="ButtonGroup" type="ButtonGroupSchemaType"/>
<xs:element name="JComboBox" type="JComboBoxSchemaType"/>
<xs:element name="JFrameTitleBar" type="JFrameTitleBarSchemaType"/>
<xs:element name="JCheckBoxMenuItem" type="JCheckBoxMenuItemSchemaType"/>
<xs:element name="JLoadPane" type="JLoadPaneSchemaType"/>
<xs:element name="AssetIcon" type="AssetIconSchemaType"/>
<xs:element name="FrameTitleBarLayout" type="FrameTitleBarLayoutSchemaType"/>
<xs:element name="RepaintManager" type="RepaintManagerSchemaType"/>
<xs:element name="JMenuItem" type="JMenuItemSchemaType"/>
<xs:element name="DefaultListSelectionModel" type="DefaultListSelectionModelSchemaType"/>
<xs:element name="Border" type="BorderSchemaType"/>
<xs:element name="ListCellFactory" type="ListCellFactorySchemaType"/>
<xs:element name="GridLayout" type="GridLayoutSchemaType"/>
<xs:element name="FlowWrapLayout" type="FlowWrapLayoutSchemaType"/>
<xs:element name="JSlider" type="JSliderSchemaType"/>
<xs:element name="LoadIcon" type="LoadIconSchemaType"/>
<xs:element name="DefaultSingleSelectionModel" type="DefaultSingleSelectionModelSchemaType"/>
<xs:element name="KeyStroke" type="KeyStrokeSchemaType"/>
<xs:element name="AsWingManager" type="AsWingManagerSchemaType"/>
<xs:element name="ListCell" type="ListCellSchemaType"/>
<xs:element name="KeyMap" type="KeyMapSchemaType"/>
<xs:element name="AbstractTabbedPane" type="AbstractTabbedPaneSchemaType"/>
<xs:element name="MultipleAssetIcon" type="MultipleAssetIconSchemaType"/>
<xs:element name="AssetBackground" type="AssetBackgroundSchemaType"/>
<xs:element name="LookAndFeel" type="LookAndFeelSchemaType"/>
<xs:element name="DefaultComboBoxEditor" type="DefaultComboBoxEditorSchemaType"/>
<xs:element name="DefaultCheckBoxCellEditor" type="DefaultCheckBoxCellEditorSchemaType"/>
<xs:element name="SimpleButtonIcon" type="SimpleButtonIconSchemaType"/>
<xs:element name="JViewport" type="JViewportSchemaType"/>
<xs:element name="BoxLayout" type="BoxLayoutSchemaType"/>
<xs:element name="ToggleButtonModel" type="ToggleButtonModelSchemaType"/>
<xs:element name="CellPane" type="CellPaneSchemaType"/>
<xs:element name="JSharedToolTip" type="JSharedToolTipSchemaType"/>
<xs:element name="JTextField" type="JTextFieldSchemaType"/>
<xs:element name="SimpleButton" type="SimpleButtonSchemaType"/>
<xs:element name="DefaultTextFieldCellEditor" type="DefaultTextFieldCellEditorSchemaType"/>
<xs:element name="JRadioButton" type="JRadioButtonSchemaType"/>
<xs:element name="JPopupMenu" type="JPopupMenuSchemaType"/>
<xs:element name="ViewportLayout" type="ViewportLayoutSchemaType"/>
<xs:element name="JColorChooser" type="JColorChooserSchemaType"/>
<xs:element name="AssetItem" type="AssetItemSchemaType"/>
<xs:element name="Container" type="ContainerSchemaType"/>
<xs:element name="Box" type="BoxSchemaType"/>
<xs:element name="JProgressBar" type="JProgressBarSchemaType"/>
<xs:element name="BorderLayout" type="BorderLayoutSchemaType"/>
<xs:element name="AWTextField" type="AWTextFieldSchemaType"/>
<xs:element name="WindowOrderFocusTraversalPolicy" type="WindowOrderFocusTraversalPolicySchemaType"/>
<xs:element name="UIDefaults" type="UIDefaultsSchemaType"/>
<xs:element name="AbstractListModel" type="AbstractListModelSchemaType"/>
<xs:element name="EmptyLayout" type="EmptyLayoutSchemaType"/>
<xs:element name="Cursor" type="CursorSchemaType"/>
<xs:element name="StyleTune" type="StyleTuneSchemaType"/>
<xs:element name="FocusTraversalPolicy" type="FocusTraversalPolicySchemaType"/>
<xs:element name="JOptionPane" type="JOptionPaneSchemaType"/>
<xs:element name="AWSprite" type="AWSpriteSchemaType"/>
<xs:element name="ButtonModel" type="ButtonModelSchemaType"/>
<xs:element name="DefaultListTextCellFactory" type="DefaultListTextCellFactorySchemaType"/>
<xs:element name="JMenu" type="JMenuSchemaType"/>
<xs:element name="JStepper" type="JStepperSchemaType"/>
<xs:element name="JFrame" type="JFrameSchemaType"/>
<xs:element name="GradientBackground" type="GradientBackgroundSchemaType"/>
<xs:element name="JToggleButton" type="JToggleButtonSchemaType"/>
<xs:element name="CenterLayout" type="CenterLayoutSchemaType"/>
<xs:element name="AbstractListCell" type="AbstractListCellSchemaType"/>
<xs:element name="JRadioButtonMenuItem" type="JRadioButtonMenuItemSchemaType"/>
<xs:element name="JToolTip" type="JToolTipSchemaType"/>
<xs:element name="ListModel" type="ListModelSchemaType"/>
<xs:element name="ContainerOrderFocusTraversalPolicy" type="ContainerOrderFocusTraversalPolicySchemaType"/>
<xs:element name="BoundedRangeModel" type="BoundedRangeModelSchemaType"/>
<xs:element name="JSpacer" type="JSpacerSchemaType"/>
<xs:element name="AWKeyboard" type="AWKeyboardSchemaType"/>
<xs:element name="LayoutManager" type="LayoutManagerSchemaType"/>
<xs:element name="JPopup" type="JPopupSchemaType"/>
<xs:element name="Icon" type="IconSchemaType"/>
<xs:element name="FlowLayout" type="FlowLayoutSchemaType"/>
<xs:element name="JSplitPane" type="JSplitPaneSchemaType"/>
<xs:element name="DefaultListCell" type="DefaultListCellSchemaType"/>
<xs:element name="Orientable" type="OrientableSchemaType"/>
<xs:element name="JRootPane" type="JRootPaneSchemaType"/>
<xs:element name="FrameTitleBar" type="FrameTitleBarSchemaType"/>
<xs:element name="JTextArea" type="JTextAreaSchemaType"/>
<xs:element name="GeneralListCellFactory" type="GeneralListCellFactorySchemaType"/>
<xs:element name="CellEditor" type="CellEditorSchemaType"/>
<xs:element name="JCheckBox" type="JCheckBoxSchemaType"/>
<xs:element name="AssetPane" type="AssetPaneSchemaType"/>
<xs:element name="JTabbedPane" type="JTabbedPaneSchemaType"/>
<xs:element name="KeyboardManager" type="KeyboardManagerSchemaType"/>
<xs:element name="UIManager" type="UIManagerSchemaType"/>
<xs:element name="MenuSelectionManager" type="MenuSelectionManagerSchemaType"/>
<xs:element name="MenuElement" type="MenuElementSchemaType"/>
<xs:element name="DefaultComboBoxListCell" type="DefaultComboBoxListCellSchemaType"/>
<xs:element name="KeyType" type="KeyTypeSchemaType"/>
<xs:element name="AsWingConstants" type="AsWingConstantsSchemaType"/>
<xs:element name="JAdjuster" type="JAdjusterSchemaType"/>
<xs:element name="JSeparator" type="JSeparatorSchemaType"/>
<xs:element name="ScrollPaneLayout" type="ScrollPaneLayoutSchemaType"/>
<xs:element name="JScrollPane" type="JScrollPaneSchemaType"/>
<xs:element name="ComboBoxEditor" type="ComboBoxEditorSchemaType"/>
</xs:schema>
