schema/org.aswing.plaf.basic.frame.xsd

<xs:schema targetNamespace="org.aswing.plaf.basic.frame" xmlns="org.aswing.plaf.basic.frame" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:empty="empty"
>
<xs:complexType name="BasicFrameTitleBarBGSchemaTypeValue">
<xs:sequence><xs:element ref="BasicFrameTitleBarBG"/></xs:sequence></xs:complexType>

<xs:complexType name="BasicFrameTitleBarBGSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:sequence>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="BasicFrameTitleBarBG" type="BasicFrameTitleBarBGSchemaType"/>
</xs:schema>
