schema/org.aswing.util.xsd

<xs:schema targetNamespace="org.aswing.util" xmlns="org.aswing.util" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:org-aswing="org.aswing"
xmlns:empty="empty"
xmlns:flash-events="flash.events"
>
<xs:import namespace="org.aswing" schemaLocation="org.aswing.xsd" />
<xs:import namespace="empty" schemaLocation="empty.xsd" />
<xs:import namespace="flash.events" schemaLocation="flash.events.xsd" />
<xs:complexType name="ImpulserSchemaTypeValue">
<xs:choice>
<xs:element ref="AbstractImpulser" />
<xs:element ref="Timer" />
</xs:choice>
</xs:complexType>

<xs:complexType name="WeakReferenceSchemaTypeValue">
<xs:all><xs:element ref="WeakReference"/></xs:all></xs:complexType>

<xs:complexType name="DepthManagerSchemaTypeValue">
<xs:all><xs:element ref="DepthManager"/></xs:all></xs:complexType>

<xs:complexType name="ObjectUtilsSchemaTypeValue">
<xs:all><xs:element ref="ObjectUtils"/></xs:all></xs:complexType>

<xs:complexType name="ListSchemaTypeValue">
<xs:choice>
<xs:element ref="LinkedList" />
<xs:element ref="org-aswing:VectorListModel" />
<xs:element ref="ArrayList" />
<xs:element ref="Stack" />
</xs:choice>
</xs:complexType>

<xs:complexType name="HashMapSchemaTypeValue">
<xs:all><xs:element ref="HashMap"/></xs:all></xs:complexType>

<xs:complexType name="DateAsSchemaTypeValue">
<xs:all><xs:element ref="DateAs"/></xs:all></xs:complexType>

<xs:complexType name="TimerSchemaTypeValue">
<xs:all><xs:element ref="Timer"/></xs:all></xs:complexType>

<xs:complexType name="StringUtilsSchemaTypeValue">
<xs:all><xs:element ref="StringUtils"/></xs:all></xs:complexType>

<xs:complexType name="AbstractImpulserSchemaTypeValue">
<xs:choice>
<xs:element ref="Timer" />
<xs:element ref="AbstractImpulser" />
</xs:choice>
</xs:complexType>

<xs:complexType name="ReflectionSchemaTypeValue">
<xs:all><xs:element ref="Reflection"/></xs:all></xs:complexType>

<xs:complexType name="ArrayListSchemaTypeValue">
<xs:choice>
<xs:element ref="Stack" />
<xs:element ref="ArrayList" />
</xs:choice>
</xs:complexType>

<xs:complexType name="HashSetSchemaTypeValue">
<xs:all><xs:element ref="HashSet"/></xs:all></xs:complexType>

<xs:complexType name="LinkedListSchemaTypeValue">
<xs:all><xs:element ref="LinkedList"/></xs:all></xs:complexType>

<xs:complexType name="StackSchemaTypeValue">
<xs:all><xs:element ref="Stack"/></xs:all></xs:complexType>

<xs:complexType name="ArrayUtilsSchemaTypeValue">
<xs:all><xs:element ref="ArrayUtils"/></xs:all></xs:complexType>

<xs:complexType name="ListNodeSchemaTypeValue">
<xs:all><xs:element ref="ListNode"/></xs:all></xs:complexType>

<xs:complexType name="ImpulserSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WeakReferenceSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:all>
<xs:attribute name="value" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DepthManagerSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ObjectUtilsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ListSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" ref="org-aswing-plaf:ColorSwatchesUI" />
<xs:element minOccurs="0" ref="org-aswing-border:EmptyBorder" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ProgressBarBackground" />
<xs:element minOccurs="0" ref="org-aswing:Decorator" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreePathMap" />
<xs:element minOccurs="0" ref="lime-ui:Window" />
<xs:element minOccurs="0" ref="motion-easing:LinearEaseNone" />
<xs:element minOccurs="0" ref="org-aswing:DefaultComboBoxCellEditor" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:TextAreaBorder" />
<xs:element minOccurs="0" ref="flash-display3D-textures:TextureBase" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:NoColorIcon" />
<xs:element minOccurs="0" ref="flash-display:Graphics" />
<xs:element minOccurs="0" ref="org-aswing:JList" />
<xs:element minOccurs="0" ref="empty:EReg" />
<xs:element minOccurs="0" ref="org-aswing:JAccordion" />
<xs:element minOccurs="0" ref="motion-actuators:PropertyPathDetails" />
<xs:element minOccurs="0" ref="org-aswing:FocusManager" />
<xs:element minOccurs="0" ref="haxe:EnumValueTools" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ProgressBarIcon" />
<xs:element minOccurs="0" ref="org-aswing-event:MovedEvent" />
<xs:element minOccurs="0" ref="org-aswing-resizer:ResizeStrategy" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicAdjusterUI" />
<xs:element minOccurs="0" ref="haxe:Timer" />
<xs:element minOccurs="0" ref="lime-audio:FlashAudioContext" />
<xs:element minOccurs="0" ref="org-aswing:CursorManager" />
<xs:element minOccurs="0" ref="flash-display:Shape" />
<xs:element minOccurs="0" ref="lime-ui-_KeyEventManager:KeyEventInfo" />
<xs:element minOccurs="0" ref="flash-ui:Multitouch" />
<xs:element minOccurs="0" ref="org-aswing:JTextComponent" />
<xs:element minOccurs="0" ref="flash-geom:Vector3D" />
<xs:element minOccurs="0" ref="org-aswing-dnd:DropMotion" />
<xs:element minOccurs="0" ref="lime-ui-_MouseEventManager:MouseEventType_Impl_" />
<xs:element minOccurs="0" ref="org-aswing-event:InteractiveEvent" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-tree:BasicExpandControl" />
<xs:element minOccurs="0" ref="haxe:CallStack" />
<xs:element minOccurs="0" ref="Impulser" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicTableUI" />
<xs:element minOccurs="0" ref="jive-plaf-flat-tabbedpane:FlatTabButton" />
<xs:element minOccurs="0" ref="lime-app-_Application:UpdateEventType_Impl_" />
<xs:element minOccurs="0" ref="lime-math-_ColorMatrix:ColorMatrix_Impl_" />
<xs:element minOccurs="0" ref="org-aswing:SoftBoxLayout" />
<xs:element minOccurs="0" ref="flash-media:SoundLoaderContext" />
<xs:element minOccurs="0" ref="jive-plaf-flat-background:FlatScrollBarBackground" />
<xs:element minOccurs="0" ref="org-aswing:EmptyFont" />
<xs:element minOccurs="0" ref="flash-filters:GlowFilter" />
<xs:element minOccurs="0" ref="jive-plaf-flat-icon:FlatCheckBoxIcon" />
<xs:element minOccurs="0" ref="org-aswing-geom:IntDimension" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicTextAreaUI" />
<xs:element minOccurs="0" ref="haxe-ds:StringMap" />
<xs:element minOccurs="0" ref="org-aswing-graphics:IBrush" />
<xs:element minOccurs="0" ref="jive-plaf-flat-background:FlatProgressBarBackground" />
<xs:element minOccurs="0" ref="lime-graphics:Font" />
<xs:element minOccurs="0" ref="org-aswing-event:TreeEvent" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreeCell" />
<xs:element minOccurs="0" ref="lime-ui:KeyEventManager" />
<xs:element minOccurs="0" ref="org-aswing-ext:GridList" />
<xs:element minOccurs="0" ref="flash-media:Camera" />
<xs:element minOccurs="0" ref="empty:UInt" />
<xs:element minOccurs="0" ref="flash-display:MovieClip" />
<xs:element minOccurs="0" ref="lime-math:Vector2" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicProgressBarUI" />
<xs:element minOccurs="0" ref="openfl-_Assets:AssetType_Impl_" />
<xs:element minOccurs="0" ref="motion-easing:Expo" />
<xs:element minOccurs="0" ref="motion-actuators:PropertyDetails" />
<xs:element minOccurs="0" ref="org-aswing-plaf:EmptyLayoutUIResourse" />
<xs:element minOccurs="0" ref="empty:Type" />
<xs:element minOccurs="0" ref="flash-xml:XML" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicScrollBarUI" />
<xs:element minOccurs="0" ref="motion:LinearPath" />
<xs:element minOccurs="0" ref="flash-events:ErrorEvent" />
<xs:element minOccurs="0" ref="flash-ui:ContextMenuBuiltInItems" />
<xs:element minOccurs="0" ref="org-aswing:Cell" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:PreviewColorIcon" />
<xs:element minOccurs="0" ref="org-aswing-tree:EmptySelectionModel" />
<xs:element minOccurs="0" ref="lime-audio:ALCAudioContext" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-splitpane:DividerIcon" />
<xs:element minOccurs="0" ref="flash-media:StageVideo" />
<xs:element minOccurs="0" ref="org-aswing:JToolBar" />
<xs:element minOccurs="0" ref="org-aswing:MutableListModel" />
<xs:element minOccurs="0" ref="org-aswing:SimpleButtonIconToggle" />
<xs:element minOccurs="0" ref="org-aswing:GroundDecorator" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ListBackground" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:TitleIcon" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicToolTipUI" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-tabbedpane:TabBackground" />
<xs:element minOccurs="0" ref="org-aswing-resizer:ResizerController" />
<xs:element minOccurs="0" ref="org-aswing-tree:PathPlaceHolder" />
<xs:element minOccurs="0" ref="org-aswing:SingleSelectionModel" />
<xs:element minOccurs="0" ref="org-aswing:AbstractButton" />
<xs:element minOccurs="0" ref="org-aswing:JTree" />
<xs:element minOccurs="0" ref="jive:DataContextControllable" />
<xs:element minOccurs="0" ref="org-aswing-ext:DateLabel" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicToggleButtonUI" />
<xs:element minOccurs="0" ref="lime-utils:Int32Array" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicCheckBoxUI" />
<xs:element minOccurs="0" ref="flash-text:Font" />
<xs:element minOccurs="0" ref="org-aswing:ASColor" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:ProgressBarBorder" />
<xs:element minOccurs="0" ref="WeakReference" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicToolBarUI" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-cursor:V_ResizeCursor" />
<xs:element minOccurs="0" ref="org-aswing-border:DecorateBorder" />
<xs:element minOccurs="0" ref="org-aswing:Component" />
<xs:element minOccurs="0" ref="flash-geom:ColorTransform" />
<xs:element minOccurs="0" ref="org-aswing:JLayeredPane" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:ArrowIcon" />
<xs:element minOccurs="0" ref="org-aswing-tree:AbstractLayoutCache" />
<xs:element minOccurs="0" ref="openfl:IAssetCache" />
<xs:element minOccurs="0" ref="org-aswing-dnd:RejectedMotion" />
<xs:element minOccurs="0" ref="org-aswing-ext:DefaultGridCell" />
<xs:element minOccurs="0" ref="org-aswing-table:GeneralTableCellFactoryUIResource" />
<xs:element minOccurs="0" ref="flash-net:URLRequestHeader" />
<xs:element minOccurs="0" ref="flash-display:FrameLabel" />
<xs:element minOccurs="0" ref="flash-events:IOErrorEvent" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicMenuItemUI" />
<xs:element minOccurs="0" ref="org-aswing-ext:Folder" />
<xs:element minOccurs="0" ref="jive-plaf-flat-icon:FlatMenuArrowIcon" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:ColorRectIcon" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicFrameTitleBarUI" />
<xs:element minOccurs="0" ref="org-aswing-plaf:ComponentUI" />
<xs:element minOccurs="0" ref="org-aswing:DefaultComboBoxListCellFactory" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreeCellEditor" />
<xs:element minOccurs="0" ref="org-aswing-table-sorter:Row" />
<xs:element minOccurs="0" ref="lime-audio-openal:AL" />
<xs:element minOccurs="0" ref="org-aswing:JMenuBar" />
<xs:element minOccurs="0" ref="DepthManager" />
<xs:element minOccurs="0" ref="flash-net:NetStreamPlayOptions" />
<xs:element minOccurs="0" ref="org-aswing:ASFont" />
<xs:element minOccurs="0" ref="org-aswing-plaf:DefaultsDecorator" />
<xs:element minOccurs="0" ref="lime-graphics-opengl:GLBuffer" />
<xs:element minOccurs="0" ref="org-aswing:KeyAction" />
<xs:element minOccurs="0" ref="org-aswing:SoftBox" />
<xs:element minOccurs="0" ref="org-aswing:WeightBoxLayout" />
<xs:element minOccurs="0" ref="flash-display:Shader" />
<xs:element minOccurs="0" ref="motion:Actuate" />
<xs:element minOccurs="0" ref="motion-easing:BackEaseIn" />
<xs:element minOccurs="0" ref="org-aswing:JLabelButton" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:CheckBoxMenuItemCheckIcon" />
<xs:element minOccurs="0" ref="org-aswing-table:DefaultTextCell" />
<xs:element minOccurs="0" ref="empty:Bool" />
<xs:element minOccurs="0" ref="org-aswing-plaf:AdjusterUI" />
<xs:element minOccurs="0" ref="org-aswing:EmptyIcon" />
<xs:element minOccurs="0" ref="org-aswing:JWindow" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicScrollPaneUI" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:MenuItemCheckIcon" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreeSelectionModel" />
<xs:element minOccurs="0" ref="flash-ui:ContextMenu" />
<xs:element minOccurs="0" ref="lime-math:Matrix3" />
<xs:element minOccurs="0" ref="org-aswing-tree:NodeDimensions" />
<xs:element minOccurs="0" ref="org-aswing:JButton" />
<xs:element minOccurs="0" ref="motion-easing:ExpoEaseOut" />
<xs:element minOccurs="0" ref="flash-geom:PerspectiveProjection" />
<xs:element minOccurs="0" ref="org-aswing:AbstractCellEditor" />
<xs:element minOccurs="0" ref="org-aswing-table:TableColumnModel" />
<xs:element minOccurs="0" ref="jive-plaf-flat-background:FlatInputBackground" />
<xs:element minOccurs="0" ref="lime-system:System" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:TableHeaderCellBorder" />
<xs:element minOccurs="0" ref="org-aswing-table:Resizable3" />
<xs:element minOccurs="0" ref="org-aswing-event:TreeModelEvent" />
<xs:element minOccurs="0" ref="org-aswing-event:PopupEvent" />
<xs:element minOccurs="0" ref="ObjectUtils" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatMenuUI" />
<xs:element minOccurs="0" ref="flash-events:IEventDispatcher" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicClosableTabbedPaneUI" />
<xs:element minOccurs="0" ref="flash-geom:Rectangle" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatTabbedPaneUI" />
<xs:element minOccurs="0" ref="org-aswing:StyleResult" />
<xs:element minOccurs="0" ref="org-aswing-graphics:Pen" />
<xs:element minOccurs="0" ref="lime-graphics-opengl:GLTexture" />
<xs:element minOccurs="0" ref="motion-actuators:TransformActuator" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-cursor:H_ResizeCursor" />
<xs:element minOccurs="0" ref="org-aswing:EditableComponent" />
<xs:element minOccurs="0" ref="org-aswing-tree:RowMapper" />
<xs:element minOccurs="0" ref="org-aswing-ext:DateChooser" />
<xs:element minOccurs="0" ref="lime-graphics-opengl:GLRenderbuffer" />
<xs:element minOccurs="0" ref="lime-ui-_Window:WindowEventType_Impl_" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:FrameBackground" />
<xs:element minOccurs="0" ref="org-aswing:JLabel" />
<xs:element minOccurs="0" ref="org-aswing:WindowLayout" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ComboBoxBackground" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreePath" />
<xs:element minOccurs="0" ref="lime-ui-_KeyEventManager:KeyEventType_Impl_" />
<xs:element minOccurs="0" ref="org-aswing:JTable" />
<xs:element minOccurs="0" ref="org-aswing:SolidBackground" />
<xs:element minOccurs="0" ref="org-aswing-plaf:TreeUI" />
<xs:element minOccurs="0" ref="org-aswing-error:AsWingManagerNotInited" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:TextComponentBackBround" />
<xs:element minOccurs="0" ref="org-aswing:ASFontAdvProperties" />
<xs:element minOccurs="0" ref="empty:ArrayAccess" />
<xs:element minOccurs="0" ref="flash-utils:IDataOutput" />
<xs:element minOccurs="0" ref="List" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatRadioButtonUI" />
<xs:element minOccurs="0" ref="org-aswing-event:TableModelEvent" />
<xs:element minOccurs="0" ref="lime-graphics:CanvasRenderContext" />
<xs:element minOccurs="0" ref="motion:MotionPath" />
<xs:element minOccurs="0" ref="org-aswing:VectorListModel" />
<xs:element minOccurs="0" ref="haxe-ds:WeakMap" />
<xs:element minOccurs="0" ref="jive-plaf-flat-background:FlatTextComponentBackground" />
<xs:element minOccurs="0" ref="org-aswing:Insets" />
<xs:element minOccurs="0" ref="jive-formatting:RegExFormattedTextArea" />
<xs:element minOccurs="0" ref="motion-_Actuate:TransformOptions" />
<xs:element minOccurs="0" ref="org-aswing-tree:DefaultTreeCell" />
<xs:element minOccurs="0" ref="org-aswing-event:DragAndDropEvent" />
<xs:element minOccurs="0" ref="lime-audio:HTML5AudioContext" />
<xs:element minOccurs="0" ref="org-aswing-event:CellEditorListener" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:InputBackground" />
<xs:element minOccurs="0" ref="org-aswing:JPanel" />
<xs:element minOccurs="0" ref="org-aswing:DefaultNumberTextFieldCellEditor" />
<xs:element minOccurs="0" ref="motion-actuators:SimpleActuator" />
<xs:element minOccurs="0" ref="org-aswing-border:SimpleTitledBorder" />
<xs:element minOccurs="0" ref="org-aswing:JClosableTabbedPane" />
<xs:element minOccurs="0" ref="org-aswing-ext:FormRow" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicSplitPaneUI" />
<xs:element minOccurs="0" ref="org-aswing-tree:FixedHeightLayoutCache" />
<xs:element minOccurs="0" ref="flash-display:Stage3D" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicTabbedPaneUI" />
<xs:element minOccurs="0" ref="motion-_Actuate:TweenTimer" />
<xs:element minOccurs="0" ref="motion:BezierPath" />
<xs:element minOccurs="0" ref="empty:String" />
<xs:element minOccurs="0" ref="lime-audio:AudioBuffer" />
<xs:element minOccurs="0" ref="lime-ui:MouseEventManager" />
<xs:element minOccurs="0" ref="haxe:EnumTools" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatSliderUI" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-tabbedpane:ClosableTab" />
<xs:element minOccurs="0" ref="bindx:IBindable" />
<xs:element minOccurs="0" ref="flash-media:AVSource" />
<xs:element minOccurs="0" ref="empty:Std" />
<xs:element minOccurs="0" ref="flash-display:DisplayObject" />
<xs:element minOccurs="0" ref="flash-external:ExternalInterface" />
<xs:element minOccurs="0" ref="org-aswing:DefaultBoundedRangeModel" />
<xs:element minOccurs="0" ref="org-aswing-plaf:UIStyleTune" />
<xs:element minOccurs="0" ref="org-aswing-event:ReleaseEvent" />
<xs:element minOccurs="0" ref="empty:Lambda" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatTextFieldUI" />
<xs:element minOccurs="0" ref="lime-graphics-_Renderer:RenderEventType_Impl_" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:PanelBackground" />
<xs:element minOccurs="0" ref="flash:Vector" />
<xs:element minOccurs="0" ref="org-aswing:KeySequence" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicTextFieldUI" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:DefaultColorSelectionModel" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:FrameMaximizeIcon" />
<xs:element minOccurs="0" ref="flash-ui:ContextMenuClipboardItems" />
<xs:element minOccurs="0" ref="org-aswing:DefaultListCellFactory" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicPanelUI" />
<xs:element minOccurs="0" ref="org-aswing:AsWingUtils" />
<xs:element minOccurs="0" ref="org-aswing-plaf:ASColorUIResource" />
<xs:element minOccurs="0" ref="org-aswing-dnd:DraggingImage" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ScrollBarThumb" />
<xs:element minOccurs="0" ref="org-aswing-event:ScrollPaneEvent" />
<xs:element minOccurs="0" ref="org-aswing-event:TabCloseEvent" />
<xs:element minOccurs="0" ref="org-aswing-plaf:FrameUI" />
<xs:element minOccurs="0" ref="flash-media:MicrophoneEnhancedOptions" />
<xs:element minOccurs="0" ref="flash-net:NetStream" />
<xs:element minOccurs="0" ref="flash-net:URLRequest" />
<xs:element minOccurs="0" ref="org-aswing:DefaultButtonModel" />
<xs:element minOccurs="0" ref="flash-display3D:Program3D" />
<xs:element minOccurs="0" ref="flash-events:KeyboardEvent" />
<xs:element minOccurs="0" ref="motion-easing:Linear" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatLookAndFeel" />
<xs:element minOccurs="0" ref="flash-events:TouchEvent" />
<xs:element minOccurs="0" ref="org-aswing:ListSelectionModel" />
<xs:element minOccurs="0" ref="org-aswing-table:TableCellFactory" />
<xs:element minOccurs="0" ref="flash-ui:MouseCursorData" />
<xs:element minOccurs="0" ref="org-aswing:Viewportable" />
<xs:element minOccurs="0" ref="org-aswing:JScrollBar" />
<xs:element minOccurs="0" ref="org-aswing:ButtonGroup" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicGraphicsUtils" />
<xs:element minOccurs="0" ref="org-aswing-table:SelectablePoorTextCell" />
<xs:element minOccurs="0" ref="org-aswing-table-sorter:Arrow" />
<xs:element minOccurs="0" ref="bindx:Bind" />
<xs:element minOccurs="0" ref="flash-filters:DropShadowFilter" />
<xs:element minOccurs="0" ref="org-aswing:JComboBox" />
<xs:element minOccurs="0" ref="org-aswing-table:Resizable3Imp1" />
<xs:element minOccurs="0" ref="lime-ui-_Window:WindowFlags_Impl_" />
<xs:element minOccurs="0" ref="org-aswing-table:DefaultTableModel" />
<xs:element minOccurs="0" ref="org-aswing:JFrameTitleBar" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ToolTipBackground" />
<xs:element minOccurs="0" ref="HashMap" />
<xs:element minOccurs="0" ref="flash-display:IGraphicsData" />
<xs:element minOccurs="0" ref="flash-filters:BitmapFilter" />
<xs:element minOccurs="0" ref="org-aswing:JCheckBoxMenuItem" />
<xs:element minOccurs="0" ref="org-aswing-event:ClickCountEvent" />
<xs:element minOccurs="0" ref="flash-media:SoundTransform" />
<xs:element minOccurs="0" ref="lime-ui-_TouchEventManager:TouchEventType_Impl_" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-adjuster:PopupSliderUI" />
<xs:element minOccurs="0" ref="DateAs" />
<xs:element minOccurs="0" ref="org-aswing-table:DefaultTextHeaderCell" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:SliderThumbIcon" />
<xs:element minOccurs="0" ref="org-aswing:JLoadPane" />
<xs:element minOccurs="0" ref="flash-media:ID3Info" />
<xs:element minOccurs="0" ref="org-aswing:AssetIcon" />
<xs:element minOccurs="0" ref="flash-display:Sprite" />
<xs:element minOccurs="0" ref="motion-actuators:FilterActuator" />
<xs:element minOccurs="0" ref="org-aswing-ext:DateGridLayout" />
<xs:element minOccurs="0" ref="flash-text:StyleSheet" />
<xs:element minOccurs="0" ref="jive-formatting:HaxeRegExRules" />
<xs:element minOccurs="0" ref="org-aswing-geom:IntRectangle" />
<xs:element minOccurs="0" ref="jive-plaf-flat-border:TextCellComponentBorder" />
<xs:element minOccurs="0" ref="flash-filters:ColorMatrixFilter" />
<xs:element minOccurs="0" ref="lime-ui-_MouseEventManager:MouseEventInfo" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:CheckBoxIcon" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:ScrollBarArrowIcon" />
<xs:element minOccurs="0" ref="org-aswing:FrameTitleBarLayout" />
<xs:element minOccurs="0" ref="org-aswing:RepaintManager" />
<xs:element minOccurs="0" ref="flash-display:IBitmapDrawable" />
<xs:element minOccurs="0" ref="flash-display:Stage" />
<xs:element minOccurs="0" ref="Timer" />
<xs:element minOccurs="0" ref="org-aswing-event:ModelEvent" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicFrameUI" />
<xs:element minOccurs="0" ref="flash-display3D-textures:Texture" />
<xs:element minOccurs="0" ref="jive-formatting:XmlRegExRules" />
<xs:element minOccurs="0" ref="lime-app:Application" />
<xs:element minOccurs="0" ref="lime-audio-openal-_ALDevice:ALDevice_Impl_" />
<xs:element minOccurs="0" ref="lime-ui:TouchEventManager" />
<xs:element minOccurs="0" ref="jive-plaf-flat-icon:FlatRadioButtonIcon" />
<xs:element minOccurs="0" ref="jive-tools:TextFormatTools" />
<xs:element minOccurs="0" ref="lime:AssetCache" />
<xs:element minOccurs="0" ref="StringUtils" />
<xs:element minOccurs="0" ref="jive-plaf-flat-border:FlatPopupMenuBorder" />
<xs:element minOccurs="0" ref="flash-display:Loader" />
<xs:element minOccurs="0" ref="org-aswing:JMenuItem" />
<xs:element minOccurs="0" ref="org-aswing-graphics:BitmapBrush" />
<xs:element minOccurs="0" ref="org-aswing-tree:GeneralTreeCellFactoryUIResource" />
<xs:element minOccurs="0" ref="flash-display3D:VertexBuffer3D" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicColorMixerUI" />
<xs:element minOccurs="0" ref="motion-easing:IEasing" />
<xs:element minOccurs="0" ref="org-aswing:DefaultListSelectionModel" />
<xs:element minOccurs="0" ref="lime-graphics:GLRenderContext" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicSliderUI" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:JColorMixer" />
<xs:element minOccurs="0" ref="org-aswing-event:WindowEvent" />
<xs:element minOccurs="0" ref="org-aswing-tree:DefaultTreeModel" />
<xs:element minOccurs="0" ref="lime-graphics-utils:ImageDataUtil" />
<xs:element minOccurs="0" ref="org-aswing-event:ExpandVetoException" />
<xs:element minOccurs="0" ref="org-aswing:Border" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:SolidArrowIcon" />
<xs:element minOccurs="0" ref="motion-_Actuate:EffectsOptions" />
<xs:element minOccurs="0" ref="org-aswing-event:ToolTipEvent" />
<xs:element minOccurs="0" ref="flash-utils:Namespace" />
<xs:element minOccurs="0" ref="lime:AssetLibrary" />
<xs:element minOccurs="0" ref="lime-ui-_Window:WindowEventInfo" />
<xs:element minOccurs="0" ref="AbstractImpulser" />
<xs:element minOccurs="0" ref="Reflection" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreeModel" />
<xs:element minOccurs="0" ref="ArrayList" />
<xs:element minOccurs="0" ref="org-aswing:ListCellFactory" />
<xs:element minOccurs="0" ref="jive-plaf-flat-tabbedpane:TabButtonUI" />
<xs:element minOccurs="0" ref="jive:Navigation" />
<xs:element minOccurs="0" ref="org-aswing:GridLayout" />
<xs:element minOccurs="0" ref="org-aswing-event:AttachEvent" />
<xs:element minOccurs="0" ref="flash-display:LoaderInfo" />
<xs:element minOccurs="0" ref="jive:Command" />
<xs:element minOccurs="0" ref="org-aswing:FlowWrapLayout" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-accordion:BasicAccordionHeader" />
<xs:element minOccurs="0" ref="org-aswing-tree:SearchInfo" />
<xs:element minOccurs="0" ref="flash-media:AVPlayState" />
<xs:element minOccurs="0" ref="org-aswing:JSlider" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:TextComponentBorder" />
<xs:element minOccurs="0" ref="org-aswing-event:TableCellEditEvent" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-cursor:HV_ResizeCursor" />
<xs:element minOccurs="0" ref="org-aswing:LoadIcon" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreeLeafIcon" />
<xs:element minOccurs="0" ref="org-aswing:DefaultSingleSelectionModel" />
<xs:element minOccurs="0" ref="org-aswing:KeyStroke" />
<xs:element minOccurs="0" ref="org-aswing:AsWingManager" />
<xs:element minOccurs="0" ref="org-aswing-event:TreeSelectionEvent" />
<xs:element minOccurs="0" ref="org-aswing-table-sorter:Directive" />
<xs:element minOccurs="0" ref="org-aswing-border:SideLineBorder" />
<xs:element minOccurs="0" ref="org-aswing-event:FocusKeyEvent" />
<xs:element minOccurs="0" ref="motion-actuators:IGenericActuator" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ButtonBackground" />
<xs:element minOccurs="0" ref="haxe-io:Eof" />
<xs:element minOccurs="0" ref="org-aswing-resizer:DefaultResizer" />
<xs:element minOccurs="0" ref="org-aswing:ListCell" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:FrameIconifiedIcon" />
<xs:element minOccurs="0" ref="org-aswing-tree:MutableTreeNode" />
<xs:element minOccurs="0" ref="org-aswing-table:PoorTextCell" />
<xs:element minOccurs="0" ref="flash:Lib" />
<xs:element minOccurs="0" ref="jive-plaf-flat-background:FlatScrollBarThumb" />
<xs:element minOccurs="0" ref="jive-formatting:RegExRule" />
<xs:element minOccurs="0" ref="org-aswing-table:Resizable2" />
<xs:element minOccurs="0" ref="flash-geom:Transform" />
<xs:element minOccurs="0" ref="org-aswing:KeyMap" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-tabbedpane:BasicClosableTabbedPaneTab" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:MenuItemArrowIcon" />
<xs:element minOccurs="0" ref="org-aswing-tree:DefaultTreeSelectionModel" />
<xs:element minOccurs="0" ref="lime-graphics-utils:ImageCanvasUtil" />
<xs:element minOccurs="0" ref="lime-math:Rectangle" />
<xs:element minOccurs="0" ref="motion-easing:BackEaseOut" />
<xs:element minOccurs="0" ref="lime-audio-openal-_ALContext:ALContext_Impl_" />
<xs:element minOccurs="0" ref="org-aswing:AbstractTabbedPane" />
<xs:element minOccurs="0" ref="flash-utils:RegExp" />
<xs:element minOccurs="0" ref="org-aswing-table:Resizable2Imp1" />
<xs:element minOccurs="0" ref="motion-easing:ExpoEaseInOut" />
<xs:element minOccurs="0" ref="org-aswing:MultipleAssetIcon" />
<xs:element minOccurs="0" ref="org-aswing-plaf:TableUI" />
<xs:element minOccurs="0" ref="flash-utils:IDataOutput2" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-tabbedpane:Tab" />
<xs:element minOccurs="0" ref="org-aswing:LookAndFeel" />
<xs:element minOccurs="0" ref="org-aswing:AssetBackground" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatComboBoxListCellFactory" />
<xs:element minOccurs="0" ref="org-aswing:DefaultComboBoxEditor" />
<xs:element minOccurs="0" ref="flash-media:Microphone" />
<xs:element minOccurs="0" ref="motion-easing:Back" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicComboBoxUI" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:ColorSelectionModel" />
<xs:element minOccurs="0" ref="flash-net:NetConnection" />
<xs:element minOccurs="0" ref="org-aswing:DefaultCheckBoxCellEditor" />
<xs:element minOccurs="0" ref="org-aswing:SimpleButtonIcon" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicRadioButtonUI" />
<xs:element minOccurs="0" ref="org-aswing-table:TableCellEditor" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:ComboBoxPopupBorder" />
<xs:element minOccurs="0" ref="org-aswing-border:CaveBorder" />
<xs:element minOccurs="0" ref="jive-formatting:RegExRules" />
<xs:element minOccurs="0" ref="org-aswing:JViewport" />
<xs:element minOccurs="0" ref="org-aswing:BoxLayout" />
<xs:element minOccurs="0" ref="org-aswing-ext:GridListLayout" />
<xs:element minOccurs="0" ref="org-aswing:ToggleButtonModel" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicColorChooserUI" />
<xs:element minOccurs="0" ref="flash-ui:Mouse" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicTreeUI" />
<xs:element minOccurs="0" ref="flash-display:BitmapData" />
<xs:element minOccurs="0" ref="flash-geom:Matrix" />
<xs:element minOccurs="0" ref="org-aswing:CellPane" />
<xs:element minOccurs="0" ref="org-aswing:JSharedToolTip" />
<xs:element minOccurs="0" ref="org-aswing-plaf:ASFontUIResource" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-tabbedpane:CloseIcon" />
<xs:element minOccurs="0" ref="org-aswing:JTextField" />
<xs:element minOccurs="0" ref="flash-geom:Point" />
<xs:element minOccurs="0" ref="org-aswing:SimpleButton" />
<xs:element minOccurs="0" ref="jive:Spot" />
<xs:element minOccurs="0" ref="jive-formatting:HmlRegExRules" />
<xs:element minOccurs="0" ref="org-aswing:DefaultTextFieldCellEditor" />
<xs:element minOccurs="0" ref="org-aswing:JRadioButton" />
<xs:element minOccurs="0" ref="org-aswing:JPopupMenu" />
<xs:element minOccurs="0" ref="org-aswing:ViewportLayout" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicStepperUI" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicButtonUI" />
<xs:element minOccurs="0" ref="lime-graphics-opengl:GLProgram" />
<xs:element minOccurs="0" ref="org-aswing:JColorChooser" />
<xs:element minOccurs="0" ref="org-aswing-event:TreeModelListener" />
<xs:element minOccurs="0" ref="org-aswing:AssetItem" />
<xs:element minOccurs="0" ref="org-aswing-table-sorter:SortableTextHeaderCell" />
<xs:element minOccurs="0" ref="lime-_Assets:AssetType_Impl_" />
<xs:element minOccurs="0" ref="HashSet" />
<xs:element minOccurs="0" ref="org-aswing:Container" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ScrollBarBackground" />
<xs:element minOccurs="0" ref="org-aswing-plaf:ComboBoxUI" />
<xs:element minOccurs="0" ref="flash-utils:IDataInput2" />
<xs:element minOccurs="0" ref="lime-app:Event" />
<xs:element minOccurs="0" ref="lime-ui-_KeyCode:KeyCode_Impl_" />
<xs:element minOccurs="0" ref="org-aswing:Box" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicMenuBarUI" />
<xs:element minOccurs="0" ref="org-aswing:JProgressBar" />
<xs:element minOccurs="0" ref="org-aswing-table:TableColumnModelEvent" />
<xs:element minOccurs="0" ref="org-aswing:BorderLayout" />
<xs:element minOccurs="0" ref="motion-actuators:GenericActuator" />
<xs:element minOccurs="0" ref="org-aswing:AWTextField" />
<xs:element minOccurs="0" ref="org-aswing-plaf:MenuElementUI" />
<xs:element minOccurs="0" ref="flash-events:TextEvent" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:TextFieldBorder" />
<xs:element minOccurs="0" ref="org-aswing-table:TableColumn" />
<xs:element minOccurs="0" ref="jive-plaf-flat-background:FlatProgressBarIcon" />
<xs:element minOccurs="0" ref="org-aswing-table:TableModel" />
<xs:element minOccurs="0" ref="org-aswing-tree:DefaultMutableTreeNode" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:MenuCheckIcon" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:RadioButtonMenuItemCheckIcon" />
<xs:element minOccurs="0" ref="flash-text:TextSnapshot" />
<xs:element minOccurs="0" ref="flash-media:AVResult" />
<xs:element minOccurs="0" ref="empty:IMap" />
<xs:element minOccurs="0" ref="lime-graphics:ImageBuffer" />
<xs:element minOccurs="0" ref="org-aswing:WindowOrderFocusTraversalPolicy" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:TableHeaderBackground" />
<xs:element minOccurs="0" ref="lime-utils:Float32Array" />
<xs:element minOccurs="0" ref="org-aswing-tree:EnumerationInfo" />
<xs:element minOccurs="0" ref="jive-plaf-flat-tabbedpane:FlatTabbedPaneTab" />
<xs:element minOccurs="0" ref="org-aswing-table:PropertyTranslator" />
<xs:element minOccurs="0" ref="org-aswing-table:AbstractTableCell" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreeCellFactory" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicAccordionUI" />
<xs:element minOccurs="0" ref="bindx:FieldsBindSignal" />
<xs:element minOccurs="0" ref="flash-display3D-textures:CubeTexture" />
<xs:element minOccurs="0" ref="org-aswing:UIDefaults" />
<xs:element minOccurs="0" ref="org-aswing-event:ColorChooserEvent" />
<xs:element minOccurs="0" ref="org-aswing-table-sorter:TableSorter" />
<xs:element minOccurs="0" ref="haxe:Log" />
<xs:element minOccurs="0" ref="haxe-ds:IntMap" />
<xs:element minOccurs="0" ref="flash-media:Sound" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatButtonUI" />
<xs:element minOccurs="0" ref="org-aswing:AbstractListModel" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-frame:BasicFrameTitleBarBG" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicPopupMenuUI" />
<xs:element minOccurs="0" ref="org-aswing:EmptyLayout" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicListUI" />
<xs:element minOccurs="0" ref="haxe-ds-_ObjectMap:NativeValueIterator" />
<xs:element minOccurs="0" ref="org-aswing:Cursor" />
<xs:element minOccurs="0" ref="org-aswing-error:UnsupportedError" />
<xs:element minOccurs="0" ref="org-aswing-plaf:SplitPaneUI" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicSpacerUI" />
<xs:element minOccurs="0" ref="empty:Int" />
<xs:element minOccurs="0" ref="lime-graphics:GlyphRect" />
<xs:element minOccurs="0" ref="org-aswing:StyleTune" />
<xs:element minOccurs="0" ref="lime-app-_Application:UpdateEventInfo" />
<xs:element minOccurs="0" ref="org-aswing-plaf:DefaultsDecoratorBase" />
<xs:element minOccurs="0" ref="LinkedList" />
<xs:element minOccurs="0" ref="org-aswing:FocusTraversalPolicy" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:AbstractColorChooserPanel" />
<xs:element minOccurs="0" ref="org-aswing-ext:MultilineLabel" />
<xs:element minOccurs="0" ref="flash-display:Scene" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:FrameNormalIcon" />
<xs:element minOccurs="0" ref="jive-plaf-flat-tabbedpane:FlatTabBackground" />
<xs:element minOccurs="0" ref="lime-utils:ArrayBufferView" />
<xs:element minOccurs="0" ref="org-aswing:JOptionPane" />
<xs:element minOccurs="0" ref="flash-events:UncaughtErrorEvents" />
<xs:element minOccurs="0" ref="jive-plaf-flat-background:FlatButtonBackground" />
<xs:element minOccurs="0" ref="org-aswing-dnd:DragListener" />
<xs:element minOccurs="0" ref="haxe-ds:ObjectMap" />
<xs:element minOccurs="0" ref="org-aswing:AWSprite" />
<xs:element minOccurs="0" ref="org-aswing-graphics:GradientBrush" />
<xs:element minOccurs="0" ref="empty:RootObjectType" />
<xs:element minOccurs="0" ref="empty:Reflect" />
<xs:element minOccurs="0" ref="flash-net:NetStreamInfo" />
<xs:element minOccurs="0" ref="motion-easing:ExpoEaseIn" />
<xs:element minOccurs="0" ref="org-aswing:ButtonModel" />
<xs:element minOccurs="0" ref="org-aswing-graphics:IPen" />
<xs:element minOccurs="0" ref="flash-net:Responder" />
<xs:element minOccurs="0" ref="org-aswing:DefaultListTextCellFactory" />
<xs:element minOccurs="0" ref="org-aswing-plaf:BaseComponentUI" />
<xs:element minOccurs="0" ref="motion-actuators:MethodActuator" />
<xs:element minOccurs="0" ref="org-aswing:JMenu" />
<xs:element minOccurs="0" ref="org-aswing-plaf:SliderUI" />
<xs:element minOccurs="0" ref="lime-graphics-opengl:GLFramebuffer" />
<xs:element minOccurs="0" ref="org-aswing-event:SelectionEvent" />
<xs:element minOccurs="0" ref="flash-media:AVCaptionStyle" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicColorSwatchesUI" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatComboBoxListCell" />
<xs:element minOccurs="0" ref="org-aswing:JStepper" />
<xs:element minOccurs="0" ref="org-aswing-event:ResizedEvent" />
<xs:element minOccurs="0" ref="lime-audio:AudioManager" />
<xs:element minOccurs="0" ref="flash-display:DisplayObjectContainer" />
<xs:element minOccurs="0" ref="lime-app:Module" />
<xs:element minOccurs="0" ref="org-aswing:JFrame" />
<xs:element minOccurs="0" ref="flash-system:ApplicationDomain" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatTextComponentUI" />
<xs:element minOccurs="0" ref="org-aswing:GradientBackground" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:ToolBarButtonBgAdapter" />
<xs:element minOccurs="0" ref="empty:Array" />
<xs:element minOccurs="0" ref="flash-filters:BevelFilter" />
<xs:element minOccurs="0" ref="org-aswing-graphics:GradientPen" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:PopupMenuBorder" />
<xs:element minOccurs="0" ref="lime-graphics:Renderer" />
<xs:element minOccurs="0" ref="org-aswing:JToggleButton" />
<xs:element minOccurs="0" ref="org-aswing-event:ListDataListener" />
<xs:element minOccurs="0" ref="org-aswing:CenterLayout" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:JColorSwatches" />
<xs:element minOccurs="0" ref="org-aswing-plaf:InsetsUIResource" />
<xs:element minOccurs="0" ref="org-aswing:AbstractListCell" />
<xs:element minOccurs="0" ref="org-aswing:JRadioButtonMenuItem" />
<xs:element minOccurs="0" ref="org-aswing-dnd:SourceData" />
<xs:element minOccurs="0" ref="org-aswing-event:ContainerEvent" />
<xs:element minOccurs="0" ref="org-aswing-event:AWEvent" />
<xs:element minOccurs="0" ref="openfl:AssetLibrary" />
<xs:element minOccurs="0" ref="lime-audio-openal:ALC" />
<xs:element minOccurs="0" ref="motion-actuators:MotionPathActuator" />
<xs:element minOccurs="0" ref="org-aswing:JToolTip" />
<xs:element minOccurs="0" ref="flash-display:Bitmap" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:FrameCloseIcon" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicViewportUI" />
<xs:element minOccurs="0" ref="org-aswing-table:TableColumnModelListener" />
<xs:element minOccurs="0" ref="org-aswing:ListModel" />
<xs:element minOccurs="0" ref="org-aswing-dnd:DirectlyRemoveMotion" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicSeparatorUI" />
<xs:element minOccurs="0" ref="flash-display3D:IndexBuffer3D" />
<xs:element minOccurs="0" ref="org-aswing-tree:FHTreeStateNode" />
<xs:element minOccurs="0" ref="lime-utils:UInt8Array" />
<xs:element minOccurs="0" ref="org-aswing-table:GeneralTableCellFactory" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicLabelUI" />
<xs:element minOccurs="0" ref="org-aswing-table:JTableHeader" />
<xs:element minOccurs="0" ref="lime-graphics-opengl:GLShader" />
<xs:element minOccurs="0" ref="Stack" />
<xs:element minOccurs="0" ref="org-aswing-dnd:DragManager" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:TableBackground" />
<xs:element minOccurs="0" ref="org-aswing-graphics:SolidBrush" />
<xs:element minOccurs="0" ref="org-aswing-colorchooser:VerticalLayout" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicCheckBoxMenuItemUI" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:MenuArrowIcon" />
<xs:element minOccurs="0" ref="org-aswing-resizer:DefaultResizeBarHandler" />
<xs:element minOccurs="0" ref="flash-media:VideoStreamSettings" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:ComboBoxBorder" />
<xs:element minOccurs="0" ref="flash-media:SoundChannel" />
<xs:element minOccurs="0" ref="org-aswing:ContainerOrderFocusTraversalPolicy" />
<xs:element minOccurs="0" ref="jive-plaf-flat-icon:FlatComboBoxArrowIcon" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-tabbedpane:BasicTabbedPaneTab" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:FrameBorder" />
<xs:element minOccurs="0" ref="org-aswing:BoundedRangeModel" />
<xs:element minOccurs="0" ref="org-aswing-event:ListItemEvent" />
<xs:element minOccurs="0" ref="org-aswing:JSpacer" />
<xs:element minOccurs="0" ref="org-aswing-error:Error" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:RadioButtonIcon" />
<xs:element minOccurs="0" ref="flash-display:NativeMenu" />
<xs:element minOccurs="0" ref="org-aswing:LayoutManager" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicTextComponentUI" />
<xs:element minOccurs="0" ref="org-aswing:AWKeyboard" />
<xs:element minOccurs="0" ref="org-aswing-event:TreeCellEditEvent" />
<xs:element minOccurs="0" ref="org-aswing-graphics:Graphics2D" />
<xs:element minOccurs="0" ref="ArrayUtils" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-adjuster:PopupSliderThumbIcon" />
<xs:element minOccurs="0" ref="flash-display3D-textures:RectangleTexture" />
<xs:element minOccurs="0" ref="org-aswing:JPopup" />
<xs:element minOccurs="0" ref="org-aswing-border:TitledBorder" />
<xs:element minOccurs="0" ref="org-aswing-ext:GridListItemEvent" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicTableHeaderUI" />
<xs:element minOccurs="0" ref="org-aswing-tree:GeneralTreeCellFactory" />
<xs:element minOccurs="0" ref="flash-net:NetStreamMulticastInfo" />
<xs:element minOccurs="0" ref="org-aswing:Icon" />
<xs:element minOccurs="0" ref="org-aswing-event:FrameEvent" />
<xs:element minOccurs="0" ref="flash-display:InteractiveObject" />
<xs:element minOccurs="0" ref="lime-graphics:DOMRenderContext" />
<xs:element minOccurs="0" ref="lime-audio:WebAudioContext" />
<xs:element minOccurs="0" ref="org-aswing-ext:GeneralGridListCellFactory" />
<xs:element minOccurs="0" ref="org-aswing:FlowLayout" />
<xs:element minOccurs="0" ref="org-aswing:JSplitPane" />
<xs:element minOccurs="0" ref="empty:StringBuf" />
<xs:element minOccurs="0" ref="flash-utils:ByteArray" />
<xs:element minOccurs="0" ref="org-aswing:DefaultListCell" />
<xs:element minOccurs="0" ref="org-aswing:Orientable" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicLabelButtonUI" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatCheckBoxUI" />
<xs:element minOccurs="0" ref="org-aswing:JRootPane" />
<xs:element minOccurs="0" ref="org-aswing-plaf:ArrayUIResource" />
<xs:element minOccurs="0" ref="jive-plaf-flat-icon:FlatSliderThumbIcon" />
<xs:element minOccurs="0" ref="org-aswing:JTextArea" />
<xs:element minOccurs="0" ref="org-aswing:FrameTitleBar" />
<xs:element minOccurs="0" ref="org-aswing-border:BevelBorder" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-splitpane:Divider" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicLookAndFeel" />
<xs:element minOccurs="0" ref="motion-easing:BackEaseInOut" />
<xs:element minOccurs="0" ref="org-aswing-dnd:DefaultDragImage" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:EmptyBorderResource" />
<xs:element minOccurs="0" ref="jive-plaf-flat-border:FlatComboBoxPopupBorder" />
<xs:element minOccurs="0" ref="flash-display3D:Context3D" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatScrollBarUI" />
<xs:element minOccurs="0" ref="motion:RotationPath" />
<xs:element minOccurs="0" ref="org-aswing-table:TableCell" />
<xs:element minOccurs="0" ref="flash-text:TextLineMetrics" />
<xs:element minOccurs="0" ref="haxe-crypto:BaseCode" />
<xs:element minOccurs="0" ref="org-aswing:GeneralListCellFactory" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicRadioButtonMenuItemUI" />
<xs:element minOccurs="0" ref="org-aswing-ext:GridListCellFactory" />
<xs:element minOccurs="0" ref="org-aswing-table-sorter:SortableHeaderRenderer" />
<xs:element minOccurs="0" ref="lime-ui-_TouchEventManager:TouchEventInfo" />
<xs:element minOccurs="0" ref="flash-text:TextField" />
<xs:element minOccurs="0" ref="jive-plaf-flat:TextCellComponent" />
<xs:element minOccurs="0" ref="lime-graphics-opengl:GL" />
<xs:element minOccurs="0" ref="org-aswing:CellEditor" />
<xs:element minOccurs="0" ref="org-aswing:JCheckBox" />
<xs:element minOccurs="0" ref="flash-events:FocusEvent" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatListCell" />
<xs:element minOccurs="0" ref="motion:IComponentPath" />
<xs:element minOccurs="0" ref="openfl:Assets" />
<xs:element minOccurs="0" ref="org-aswing-event:ListDataEvent" />
<xs:element minOccurs="0" ref="org-aswing-table:Resizable3Imp2" />
<xs:element minOccurs="0" ref="empty:Float" />
<xs:element minOccurs="0" ref="org-aswing-ext:Form" />
<xs:element minOccurs="0" ref="flash-accessibility:AccessibilityProperties" />
<xs:element minOccurs="0" ref="flash-text:TextFormat" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-tree:ExpandControl" />
<xs:element minOccurs="0" ref="flash-events:EventDispatcher" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-icon:FrameIcon" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatToggleButtonUI" />
<xs:element minOccurs="0" ref="flash-geom:Matrix3D" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-background:ToggleButtonBackground" />
<xs:element minOccurs="0" ref="org-aswing-plaf:DefaultEmptyDecoraterResource" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:ColorChooserBorder" />
<xs:element minOccurs="0" ref="flash-utils:Dictionary" />
<xs:element minOccurs="0" ref="org-aswing:AssetPane" />
<xs:element minOccurs="0" ref="empty:Date" />
<xs:element minOccurs="0" ref="org-aswing-ext:GridListCell" />
<xs:element minOccurs="0" ref="org-aswing-resizer:ResizeStrategyImp" />
<xs:element minOccurs="0" ref="org-aswing:JTabbedPane" />
<xs:element minOccurs="0" ref="org-aswing:KeyboardManager" />
<xs:element minOccurs="0" ref="empty:StringTools" />
<xs:element minOccurs="0" ref="jive:BaseCommand" />
<xs:element minOccurs="0" ref="org-aswing:UIManager" />
<xs:element minOccurs="0" ref="org-aswing-event:PropertyChangeEvent" />
<xs:element minOccurs="0" ref="lime-graphics:Image" />
<xs:element minOccurs="0" ref="lime:Assets" />
<xs:element minOccurs="0" ref="lime-math:Vector4" />
<xs:element minOccurs="0" ref="org-aswing:TabInfo" />
<xs:element minOccurs="0" ref="org-aswing-table:AbstractTableModel" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:BasicMenuUI" />
<xs:element minOccurs="0" ref="motion:ComponentPath" />
<xs:element minOccurs="0" ref="org-aswing-plaf:UIResource" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic:DefaultMenuLayout" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreeNode" />
<xs:element minOccurs="0" ref="bindx:MethodsBindSignal" />
<xs:element minOccurs="0" ref="flash-xml:XMLList" />
<xs:element minOccurs="0" ref="lime-graphics-_Renderer:RenderEventInfo" />
<xs:element minOccurs="0" ref="org-aswing-ext:GridCellHolder" />
<xs:element minOccurs="0" ref="org-aswing:MenuSelectionManager" />
<xs:element minOccurs="0" ref="flash-accessibility:AccessibilityImplementation" />
<xs:element minOccurs="0" ref="org-aswing:MenuElement" />
<xs:element minOccurs="0" ref="org-aswing-event:TableModelListener" />
<xs:element minOccurs="0" ref="org-aswing-tree:TreeFolderIcon" />
<xs:element minOccurs="0" ref="flash-_Boot:RealBoot" />
<xs:element minOccurs="0" ref="flash-events:Event" />
<xs:element minOccurs="0" ref="lime-audio:ALAudioContext" />
<xs:element minOccurs="0" ref="lime-utils:IMemoryRange" />
<xs:element minOccurs="0" ref="org-aswing:DefaultComboBoxListCell" />
<xs:element minOccurs="0" ref="org-aswing-error:ImpMissError" />
<xs:element minOccurs="0" ref="org-aswing-table:DefaultTableColumnModel" />
<xs:element minOccurs="0" ref="empty:Math" />
<xs:element minOccurs="0" ref="flash-filters:BlurFilter" />
<xs:element minOccurs="0" ref="openfl:AssetCache" />
<xs:element minOccurs="0" ref="org-aswing-table:PropertyTableModel" />
<xs:element minOccurs="0" ref="ListNode" />
<xs:element minOccurs="0" ref="org-aswing:KeyType" />
<xs:element minOccurs="0" ref="lime-graphics-opengl:GLObject" />
<xs:element minOccurs="0" ref="org-aswing:AsWingConstants" />
<xs:element minOccurs="0" ref="org-aswing:JAdjuster" />
<xs:element minOccurs="0" ref="org-aswing-plaf-basic-border:ToolTipBorder" />
<xs:element minOccurs="0" ref="flash:Boot" />
<xs:element minOccurs="0" ref="flash-media:AVStream" />
<xs:element minOccurs="0" ref="flash-utils:IDataInput" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatComboBoxUI" />
<xs:element minOccurs="0" ref="org-aswing:JSeparator" />
<xs:element minOccurs="0" ref="org-aswing:ScrollPaneLayout" />
<xs:element minOccurs="0" ref="org-aswing-plaf:EmptyUIResources" />
<xs:element minOccurs="0" ref="flash-errors:Error" />
<xs:element minOccurs="0" ref="org-aswing-resizer:Resizer" />
<xs:element minOccurs="0" ref="bindx:BindSignal" />
<xs:element minOccurs="0" ref="org-aswing:JScrollPane" />
<xs:element minOccurs="0" ref="org-aswing-geom:IntPoint" />
<xs:element minOccurs="0" ref="flash-display:ShaderData" />
<xs:element minOccurs="0" ref="jive-plaf-flat:FlatListCellFactory" />
<xs:element minOccurs="0" ref="flash-system:LoaderContext" />
<xs:element minOccurs="0" ref="flash-system:SecurityDomain" />
<xs:element minOccurs="0" ref="org-aswing:ComboBoxEditor" />
<xs:element minOccurs="0" ref="org-aswing-border:LineBorder" />
<xs:element minOccurs="0" ref="org-aswing-ext:DateRange" />
<xs:element minOccurs="0" ref="flash-events:MouseEvent" />
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="HashMapSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="set" type="xs:string"/>
<xs:element minOccurs="0" name="get" type="xs:string"/>
<xs:element minOccurs="0" name="exists" type="xs:string"/>
<xs:element minOccurs="0" name="remove" type="xs:string"/>
<xs:element minOccurs="0" name="keys" type="xs:string"/>
<xs:element minOccurs="0" name="values" type="xs:string"/>
<xs:element minOccurs="0" name="iterator" type="xs:string"/>
</xs:all>
<xs:attribute name="set" type="xs:string"/>
<xs:attribute name="get" type="xs:string"/>
<xs:attribute name="exists" type="xs:string"/>
<xs:attribute name="remove" type="xs:string"/>
<xs:attribute name="keys" type="xs:string"/>
<xs:attribute name="values" type="xs:string"/>
<xs:attribute name="iterator" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DateAsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="TimerSchemaType">
<xs:complexContent>
<xs:extension base="AbstractImpulserSchemaType">
<xs:all minOccurs='0'>
<xs:element minOccurs="0" name="currentCount" type="xs:int"/>
<xs:element minOccurs="0" name="running" type="xs:boolean"/>
</xs:all>
<xs:attribute name="currentCount" type="xs:int"/>
<xs:attribute name="running" type="xs:boolean"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StringUtilsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AbstractImpulserSchemaType">
<xs:complexContent>
<xs:extension base="flash-events:EventDispatcherSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ReflectionSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ArrayListSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="HashSetSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="LinkedListSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="StackSchemaType">
<xs:complexContent>
<xs:extension base="ArrayListSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ArrayUtilsSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ListNodeSchemaType">
<xs:complexContent>
<xs:extension base="empty:RootObjectTypeSchemaType">
<xs:all minOccurs='0'>
</xs:all>
</xs:extension>
</xs:complexContent>
</xs:complexType>


<xs:element name="Impulser" type="ImpulserSchemaType"/>
<xs:element name="WeakReference" type="WeakReferenceSchemaType"/>
<xs:element name="DepthManager" type="DepthManagerSchemaType"/>
<xs:element name="ObjectUtils" type="ObjectUtilsSchemaType"/>
<xs:element name="List" type="ListSchemaType"/>
<xs:element name="HashMap" type="HashMapSchemaType"/>
<xs:element name="DateAs" type="DateAsSchemaType"/>
<xs:element name="Timer" type="TimerSchemaType"/>
<xs:element name="StringUtils" type="StringUtilsSchemaType"/>
<xs:element name="AbstractImpulser" type="AbstractImpulserSchemaType"/>
<xs:element name="Reflection" type="ReflectionSchemaType"/>
<xs:element name="ArrayList" type="ArrayListSchemaType"/>
<xs:element name="HashSet" type="HashSetSchemaType"/>
<xs:element name="LinkedList" type="LinkedListSchemaType"/>
<xs:element name="Stack" type="StackSchemaType"/>
<xs:element name="ArrayUtils" type="ArrayUtilsSchemaType"/>
<xs:element name="ListNode" type="ListNodeSchemaType"/>
</xs:schema>
